<div class="design-container">
    <div class="design-leftnav">
        <div class="bff-include" data-src="app/shared/leftnav.html"></div>
    </div>
    <div class="design-content">
        <header class="design-page-header">
            <h1>Busy Indicator</h1>
        </header>
        <section class="design-page-content">


            <div class="design-demo" style="width: 64rem">
                <img src="https://cdn.ezlynx.com/CommonResources/EZLynx/Shared/images/loadingBars.gif" width="16px" height="11px" title="Loading Indicator" alt="" ng-show="discussions.fetching">
            </div>

            <p>&nbsp;</p>

            <pre><code class="html">
&lt;img src="https://cdn.ezlynx.com/CommonResources/EZLynx/Shared/images/loadingBars.gif" width="16px" height="11px" title="Loading Indicator" alt=""&gt;
            </code></pre>

            <p>&nbsp;</p>


        </section>
    </div>
</div>


<div class="bff-script" data-src="app/shared/activate-highlight.js"></div>


