:root {
  --brand-white: #fff;
  --brand-gray100: #F5F5F5;
  --brand-gray700: #6E6E6E;
  --brand-gray800: #4E4E4E;
  --brand-gray900: #3B3B3B;
  --brand-primary: #5F41EC;
  --body-font: 'Avenir Book', Arial, sans-serif;
  --strong-font: 'Avenir Heavy', Arial, sans-serif;
  --title-font: 'Merriweather', Arial, sans-serif;
  --font-size-display1: 72px;
  --font-size-display2: 48px;
  --font-size-display3: 32px;
  --font-size-display4: 24px;
  --font-display1: 800 72px/88px var(--title-font);
  --font-display2: 800 48px/64px var(--title-font);
  --font-display3: 800 32px/48px var(--title-font);
  --font-brand: 24px/24px var(--strong-font);
  --font-body: 20px/36px var(--body-font);
  --border-radius1: 8px; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box; }

.site-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr minmax(0, 600px) minmax(0, 600px) 1fr;
  grid-template-rows: 100px 1fr 100px; }

.site-header {
  display: flex;
  flex-direction: row;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2; }

.site-body {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-bottom: 200px; }

.site-footer-left-blank,
.site-footer-right-blank,
.site-footer-left,
.site-footer-right {
  height: 100px; }

.site-footer-left-blank {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 6; }

.site-footer-right-blank {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 6; }

.site-footer-left {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }

.site-footer-right {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; }

.home {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 0 64px; }
  .home .page-hero-image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-bottom: 160px; }
  .home .page-hero-text {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2; }
  .home .page-body-one {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    margin-bottom: 100px; }
  .home .page-body-two {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    margin-bottom: 100px; }
  .home .page-body-three {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    margin-bottom: 100px; }
  .home .page-footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
    padding: 80px 80px 80px 80px; }
    .home .page-footer p {
      font: 28px/40px var(--body-font); }

body {
  font: 16px/24px var(--body-font);
  color: var(--brand-gray700); }

h1,
h2,
h3 {
  color: var(--brand-gray900); }

h1 {
  font: var(--font-display1); }

h2 {
  font: var(--font-display2); }

h3 {
  font: var(--font-display3);
  padding: 32px 0;
  margin: 0; }

p {
  margin-top: 0;
  font: var(--font-body); }

a {
  text-decoration: none;
  color: var(--brand-primary); }

strong {
  font-family: var(--strong-font); }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.flex-center {
  justify-content: center;
  align-items: center; }

.vertical {
  display: flex;
  flex-direction: column; }

.horizontal {
  display: flex;
  flex-direction: row; }

.bg-gray {
  background-color: var(--brand-gray100); }

.btn-page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius1);
  background-color: var(--brand-primary);
  font-size: 20px;
  text-transform: uppercase;
  margin: auto;
  padding: 32px 64px;
  color: white;
  margin-top: 40px;
  margin-bottom: -120px; }

.placeholder {
  background-color: var(--brand-gray100);
  display: flex; }

.placeholder-icon {
  display: block;
  width: 160px;
  height: 160px;
  background-color: var(--brand-gray100); }

.site-footer-left,
.site-footer-right,
.site-footer-left-blank,
.site-footer-right-blank {
  width: 100%;
  background-color: var(--brand-gray100); }

.site-header__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font: var(--font-brand);
  text-transform: uppercase; }

.site-header__title a {
  color: var(--brand-gray900); }

.site-header__links,
.site-footer__links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center; }

.site-header__links li,
.site-footer__links li {
  padding: 0;
  margin-right: 20px;
  font-size: 16px; }

.site-header__links li a {
  display: block;
  color: var(--brand-gray900);
  font-family: var(--body-font); }

.site-footer__links li a {
  font-family: var(--strong-font); }

.page-hero-text-subtitle {
  display: block;
  font: normal 24px/32px var(--strong-font);
  color: var(--brand-gray700);
  margin-bottom: 16px; }

/*# sourceMappingURL=main.css.map */