@font-face {
  font-family: 'Sofia Pro Light';
  src: url("/css/fonts/SofiaLight/sofiapro-light-webfont.woff2") format("woff2"), url("/css/fonts/SofiaLight/sofiapro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Sofia Pro Black';
  src: url("/css/fonts/SofiaProBlack/sofiaproblack-webfont.woff2") format("woff2"), url("/css/fonts/SofiaProBlack/sofiaproblack-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

:root {
  --spacer1: .25rem;
  --spacer2: .5rem;
  --spacer3: 1rem;
  --spacer4: 2rem;
  --spacer5: 3rem;
  --spacer6: 4rem;
  --spacer7: 5rem;
  --brand-white: #fff;
  --brand-gray100: #F2F2F2;
  --body-font: 'Sofia Pro Black', Arial, sans-serif;
  --strong-font: 'Sofia Pro Black', Arial, sans-serif;
  --title-font: 'Sofia Pro Black', Arial, sans-serif;
  --font-size-display1: 72px;
  --font-size-display2: 48px;
  --font-size-display3: 32px;
  --font-size-display4: 24px;
  --font-display1: 800 72px/88px var(--title-font);
  --font-display2: 800 48px/64px var(--title-font);
  --font-display3: 800 32px/48px var(--title-font);
  --font-brand: 24px/24px var(--title-font);
  --font-body: 20px/36px var(--body-font);
  --border-radius1: 8px; }

* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box; }

body {
  counter-reset: page-steps;
  font: 20px/24px var(--body-font);
  color: var(--brand-gray700); }

h1 {
  text-indent: -9999px;
  width: 144px;
  height: 17px;
  margin: 0 0 12px 0;
  background: url(../images/v2/logo-fluff-logic.svg) no-repeat left top; }

h2 {
  font: var(--font-display2);
  line-height: 1;
  margin: 0; }

h3 {
  font: var(--font-display3);
  padding: 0;
  line-height: 1; }

p {
  margin-top: 0;
  line-height: 1.6; }

header .brand {
  text-indent: -9999px;
  width: 144px;
  height: 17px; }

header ul,
footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0; }

header nav ul li {
  font-size: 16px;
  margin-right: 24px; }

header nav a {
  text-decoration: none;
  color: var(--brand-gray100); }

.m1 {
  margin: var(--spacer1); }

.m2 {
  margin: var(--spacer2); }

.m3 {
  margin: var(--spacer3); }

.m4 {
  margin: var(--spacer4); }

.m5 {
  margin: var(--spacer5); }

.m6 {
  margin: var(--spacer6); }

.m7 {
  margin: var(--spacer7); }

.mr1 {
  margin-right: var(--spacer1); }

.mr2 {
  margin-right: var(--spacer2); }

.mr3 {
  margin-right: var(--spacer3); }

.mr4 {
  margin-right: var(--spacer4); }

.mr5 {
  margin-right: var(--spacer5); }

.mr6 {
  margin-right: var(--spacer6); }

.mr7 {
  margin-right: var(--spacer7); }

.mb1 {
  margin-bottom: var(--spacer3); }

.mb2 {
  margin-bottom: var(--spacer2); }

.mb3 {
  margin-bottom: var(--spacer3); }

.mb4 {
  margin-bottom: var(--spacer4); }

.mb5 {
  margin-bottom: var(--spacer5); }

.mb6 {
  margin-bottom: var(--spacer6); }

.mb7 {
  margin-bottom: var(--spacer7); }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.flex-center {
  justify-content: center;
  align-items: center; }

.vertical {
  display: flex;
  flex-direction: column; }

.horizontal {
  display: flex;
  flex-direction: row; }

.two-col {
  column-count: 2;
  column-gap: 64px; }

.bg-gray {
  background-color: var(--brand-gray100); }

.placeholder-graph {
  background-color: white;
  width: 80%;
  height: 450px;
  margin: auto;
  margin-bottom: 64px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); }

.placeholder {
  background-color: var(--brand-gray100);
  display: flex; }

.placeholder-icon {
  display: block;
  width: 160px;
  height: 160px;
  background-color: var(--brand-gray100); }

@media screen and (max-width: 1235px) {
  .horizontal {
    flex-wrap: wrap;
    flex-direction: column; }
  .placeholder-icon {
    margin: auto !important; } }

main {
  --color-brown: #5A493D;
  --color-magenta: #FC4783;
  --color-lavender: #D4A3D6;
  --color-cyan: #5DD4D0;
  --color-gray: #F2F2F2;
  --color-rose: #FDC8DA;
  --color-purple: #A4A4DB;
  --color-white: #FFFFFF; }

body {
  background-color: #5A493D;
  font-size: 20px;
  line-height: 24px;
  color: #FDC8DA; }

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  line-height: 1; }

h2 {
  color: #FC4783;
  font-size: 64px;
  line-height: 56px; }

h3 {
  margin: 0 0 12px 0;
  font-size: 32px;
  line-height: 28px;
  color: #FC4783; }

a {
  color: inherit;
  text-decoration: none; }

article.home {
  margin: auto;
  max-width: 1200px;
  background: url(../images/v2/home/supercharge.jpg) no-repeat left 110px; }

header {
  padding: 24px;
  max-width: 1200px;
  margin: auto; }

header nav a.active {
  color: var(--color-cyan); }

.hero {
  padding: 0 24px; }

.hero-desc-subtitle {
  font-size: 24px;
  line-height: 24px;
  color: #D4A3D6; }

.section-collaborate {
  padding: 340px 24px 120px 24px; }

.section-build {
  padding: 48px 24px;
  background: url(../images/v2/home/product.svg) no-repeat left top;
  background-size: 200px; }

.section-speed {
  padding: 48px 24px 80px 24px;
  background: url(../images/v2/home/speed.jpg) no-repeat right top;
  background-size: 200px; }

.bottom-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0 24px 48px 24px;
  background: url(../images/v2/home/bottomline.svg) no-repeat center top; }

.bottom-line h2 {
  font-size: 48px;
  line-height: 48px;
  color: white;
  margin-bottom: 8px; }

.bottom-line p {
  font-size: 24px;
  line-height: 28px; }

.bottom-line figure {
  width: 100%;
  height: 280px;
  background-color: #A4A4DB;
  box-shadow: 0 3px 12px #3C30274E; }

.bottom-line .txt-next {
  margin: 8px 0;
  font-size: 20px; }

.bottom-line .btn-page-footer {
  border: 4px solid #5DD4D0;
  color: #5DD4D0;
  padding: 20px 32px;
  text-transform: uppercase; }

.bottom-line .btn-page-footer:hover,
.bottom-line .btn-page-footer:active {
  background-color: #5DD4D0;
  color: #fff; }

.bottom-line .btn-page-footer:active {
  opacity: .8; }

footer {
  background-color: #FC4783;
  padding: 20px 12px;
  font-size: 16px;
  text-align: center; }

footer ul {
  display: flex;
  justify-content: center; }

footer p {
  color: white; }

.footer-contacts a {
  display: block;
  padding: 6px 24px;
  border: 2px solid #fff;
  margin-right: 24px;
  color: white; }

.footer-contacts a:hover,
.footer-contacts a:active {
  background-color: #fff;
  border-color: #fff;
  color: #FC4783; }

.footer-contacts a:active {
  opacity: .8; }

.footnote {
  font-size: 12px;
  margin-top: 96px;
  opacity: .8; }

/*# sourceMappingURL=main.css.map */