.icon-folder-white {
	background-image: url('png/folder-white.png');
	background-repeat: no-repeat;
}
.icon-help-white {
	background-image: url('png/help-white.png');
	background-repeat: no-repeat;
}
.icon-monitor-white {
	background-image: url('png/monitor-white.png');
	background-repeat: no-repeat;
}
.icon-next-white {
	background-image: url('png/next-white.png');
	background-repeat: no-repeat;
}
.icon-page-white {
	background-image: url('png/page-white.png');
	background-repeat: no-repeat;
}
.icon-person-white {
	background-image: url('png/person-white.png');
	background-repeat: no-repeat;
}
.icon-phone-white {
	background-image: url('png/phone-white.png');
	background-repeat: no-repeat;
}
.icon-play-white {
	background-image: url('png/play-white.png');
	background-repeat: no-repeat;
}
.icon-tools-white {
	background-image: url('png/tools-white.png');
	background-repeat: no-repeat;
}
.icon-user-white {
	background-image: url('png/user-white.png');
	background-repeat: no-repeat;
}
.icon-chevron-down-white {
	background-image: url('png/chevron-down-white.png');
	background-repeat: no-repeat;
}
.icon-chevron-right-white {
	background-image: url('png/chevron-right-white.png');
	background-repeat: no-repeat;
}
.icon-dashboard-white {
	background-image: url('png/dashboard-white.png');
	background-repeat: no-repeat;
}
.icon-download-white {
	background-image: url('png/download-white.png');
	background-repeat: no-repeat;
}
.icon-favorite-white {
	background-image: url('png/favorite-white.png');
	background-repeat: no-repeat;
}
