.icon-folder-white {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAwUlEQVQ4T2NkoBAwEqv/////AkC1+4HYAFkPKQZcAGrUR7eQEWjyAqBgPLEuwTCAHI1ASycA9eWD9IJc8AFI85NgUCNQLUhPP8yAA0CGPQkGHASqbYAGKNgFIE49CQY8AKo1BOL3MBckABnzSTAApFQQ2QAHmHNIMMQR6g17cDoAeuM/CZpBSguBGJSg4mEGYE0keAydCJQDxUQ9zIANQI4/Ca6AxwTMAFJjAmSXIhDfhxkQAOSsJ8EFqAaQqBFFOQCGkEbZe8Co6QAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon-help-white {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABDElEQVQ4T51TCRHCMBAkCsABrQJAAUUBFkABoICigNYBOEFCq4BKKArCbrhjQqZPhs7cJLne7u3mMZPgs9YmSB0QGWIpvyuMD0RpjGl8iPEXABcCDnn9dQGSkya+BACzy0J+vDCSjF35UVWOmKsikKw4dwQdnTcoULDDoGaGgfKnQkI7RyOen4HmFmt22CJaFN57GqUkGPUNAlVKG2evWUkC33sgxC33wN9EAS3oPjBVkcB2oSR3ATgX/1fkdmHtGEHKcwcBN3Td1WjQgue9T2UdtYkDFt0mJigIj9FhIhSkfRcphuBzkVRexHH6TmqA3UP75zG5zsr2QyCXhXvCggyhj6vGnEfJl9j4Ut5MPXz2I7SPRAAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon-monitor-white {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmElEQVQ4T2P8////AQYGBnsgJgccYAQa8B+oUxGIE4BYAYgbgPg+sabBDCBWPYY6mAGGjIyMF0gxBehwA6D682ADgJpB9AaggD+RhlwAajEE60UyAOQCfSINuAg0wADFACI1oihDdwE+L8CcDFOD1Qug6MQJoOEEVwPjI4fBqAH//+NLB7B4h6lBTQfAoKcoKZOShNGjeSMA2d67QsscYowAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon-next-white {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAtUlEQVQ4T2NkoBAw4tP/////AKD8A0ZGxgu41BEyoAGoMR+IE4GGbMBmCDEG1EM1FgANmYhuCCkGgPQuAOJCoEEfYAYxAv15AMj5j8OPCkBxEEYGoPAIBBryACQIMgCXZnzhC3KBIyhwyTUAZnjigBnwEegEB5gXQIGIC4ACUB5N8iKQHwAPRHwhBQzfBqA8LB2AlC4EYlB6QEQjCQaA4n8CunpiElIBUFMCuUmZssyEz3swOQA0PUvLHUNaBQAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon-page-white {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAYklEQVQ4T2NkAIL/QACi8QBHoFwAEDcwMjJ+QFbHSIIBDUC1/EDsiGwIqQbYAw24gGwIOQaAHA03hBQDFIAaQRgGLgC9soFYAwqgtqKEM9CAg8QagDWCgAYwjhowGgZUSQcAw1tOERhuUdEAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon-person-white {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABOUlEQVQ4T4WTgXHCMAxF8QRNJyhMAEzQMEHLBM0GwAQ0E7SdAJigdIJmhDIBsEGYILyfs3OuzrnoThdbkp9lSXGjhDRNM8b8gebeXfHdOOcuNtxZA4dn2H7RzPhq9gsgf7E9BTgS8JLKDNsPgNchgG566AHUAB6HAEpx2gM4AdATO0k94R3vtgdQApA/DaCAGQE1308iVgbyhW8dYoKvyyCq/lzt8vvcB1aqfhTTdSMGVAQ/o6rB0kMa1jfWmZ+Nb/aqgYALwVsAzoLPLkr5QECBXdAR65z1nuVbFKNLjgGQ6v2E4LU/oJqcTU3amQiAVO9LpeoPqRa2M+1MBIDeakVQZSHR7Xa09TQXALpJBbSiLCSpufj3hLayaN8IW/ANQ67Wxm1UigWqn2WMPplTV/YXVAXfa+DkvwPgEIIRwC0VCQAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon-phone-white {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABBElEQVQ4T52SjRHBQBCFXQc6EBWgAjogFUgqQAdRAamADkQHVCAlpIR0EO/xzqzxk2Nndi6X2fv2vbt1HUTTNF0sB2SEjJ1zJf+HhBMgw0rIAlkjR4BUQQB0n6k7u54FyQFYhgIKFE5VnGOdIEsAklAApfZMcYrvAgBaaQ0HC+y0M5X9UP884y+R/geC/AUY4vBFAMqPW7Wr4KaAASu89Y22KSD7EMgDIAgPzX+BPAEEsc+6hBI+rVcZGZVrTuw7ACeSSvxsELhC8j/vKkGOxYxfAKabtWOv44TNUUrqjwDZsRdrIZUg9zn4FngdyqYaPye+/PZSrQBjid4zJIdui8O00rkCmy1e13FomSUAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon-play-white {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAaUlEQVQ4T6XTQQ6AIAxE0c7N9WZ6siIKSUmaZgbZsPoPEgrc/TKzA0Df5YUH8FF14FShCMzTJSgDJKgCKIgBSkgBUmgHWKHwjOoM3O/8bABfOAZPAZZwXpcB0pAByrACqDADpDACv75zAw5CXIvTw+gNAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}
.icon-tools-white {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA/klEQVQ4T62TgRHBQBBFcxVIB6ICStABOqACOkAHOpASpAJRgaSDlEAF8Z/ZMzJOxHAzO4nL/re7f5aLfjzuR330AqjrOhG075w7dYE3ABKPJDqbMBNk+gniJIqVtFRkirXCiy56Xyj4XghWhGAAdgZoKwZsIAjPxgFQMbPdlnSgxCoAXug+DQHuLRpkpqSDT3qCP8Q28lA5JR15DzAO998C9A0wHpGHT/iTA2CunlWlEyChEbYGwGxge0XV1cSrkseKoxXIVTjXe+pHWBl1o+fEukE0t5ZJZkeoSpf8RpN9tUhmIGKMp1jxbpUT+UDiy7FVj/1i/f/PFKradncDifdzQUC669IAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon-user-white {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABMElEQVQ4T4WTgXHCMAxF8QS0G4QJ2k4AnaDpBnSDMgHXCWADGCGZoOkEpBOQEdIJwn++mFPU5KI7H7YlvXzJIiwmrOu6o1xvvbsIIezGQsPYpZILk5xCgLz7+H8AJT8r6DIh7EWQ2vrGAFsFnCYAHwKc5wAbBXxPAF4FqOYADwpotJYO8qdzJkA7B8gUQB+QmiAkU1otAPC7DXqgBuYEKijXHhBnjBdodIf8o/a8UrQ7QE6kX7X4jc3SHV9dmD3NpYRVKsUCPuU49OAYxJf7M0oSnKudAAzaQAHy1kkaKrToBcbb26ctKdMDOpPMtnQK0ljjawV4nAPgpwwM+QMTIJZve4DMJxf31Z/37v5X+bE8C+Ci0vID5D/OTGzSf8LPQSYnrwHMNhTIjxYqmYMmUW/9a3ER6GFVjwAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon-chevron-down-white {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAy0lEQVQ4T62T4RGCMAyFmwl0A9lAR9AJdANxMhiBDXQE3cARdIL6HpdyEEL5UXvXA5q8ry9pkVA4pFAfJoAYYyUi7xzU5gwABA4Q3jE7QG4eBDkt1s+YJ+Q8mdMDELjg0WBuVdhaiIqvGv8kiCBAEW1vzK4DxIhT2hcvVXJA+w8Potm1gVN8ZBm2Bx0Cu5WTeSFeT3qQBFoOnewXIBRzZ/agH7N7kIHMxC6Aiw7EFS8CDISfE9vj8rJXWZ2Ecc22N//9F1aOzw0XO/gB875PHjDCdVoAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon-chevron-right-white {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAjUlEQVQ4T2NkoBAwYtP/////BUDxA4yMjCAaL8AwAKo5HqorkZAhKAagaYbZjNcQdAMSgLrmY3EzTkOweYEkQ3AFogPQFRuAmB/NNRguwWoASBMwPAxAMUHIEEIG7AcaIIDPFbi8EAANTLyaQQZTNxCB/iYpBjBcQHFCgoY+KP2Tl5RhoU1RZiKU+9DlAX5ARhHDdXszAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}
.icon-dashboard-white {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAtElEQVQ4T+2QbQ3CMBRF9xzgYDgABwwHOAAH4ADmYBKQgAOKA3AADkBBOXfplq6EUH7DS062dvejqxVfjvd+hGUNK6gt149xGhllO8H+YwBGNS2hggccoDGzs1JeAjBIWIIaFzCGm0xto9k9PrVh2LExC0KJNTJcQS0Ok1qLEC5tPwpQslKdnt3RYlH3Hsq2g4A3Qt30JPl2Yb2BrIAK4TEJmLPW/jCAY/lEWIff+Qf8ziU+AUa6cBtOkRgjAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}
.icon-download-white {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAyUlEQVQ4T2NkwAH+AwGyFCMQYFOKVRCkcCQaAPRzAdDr/EgB1YAWaMj8j8AwnQCShwci0IAAIH89rlhBEw8EGrABxQBoyINsqSdgSCNQM9w1GNEIdMkBoAH2OAw5CNTsgJI+0BUCDRAAij1ACw+QsodAbAA04ANeA6BeMQDS59EMNwRqvoBuIb6UCIqVfqiGQlioE20A1CULwCHNyJiAK2BxugBqACg8QAag+BtrGAADDxQ1KDkQl61QQxvBNEwReu7DpxlqAFgvAEM2ShGA5JfnAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}
.icon-favorite-white {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABAElEQVQ4T5WTixGCMBBESQVqBWoH2gFUoB2IHWgFYgXagdKBViAdSAdKB3YQdzMJE8/wuxkGyN0+7jZBRS2htY6ZVkoVTWWqA0ChBiAZDMDXFxA9rXAJSBmCNHYAwBWCjRXlAKS9ARDPUPwSgjkgbwmpO7CiqS3Y4b4WxTe8n+1a5WBKtNrmaSiXmw4AyXA7DFQf0UXmj0CTLj0hW4hpcvSzC+ikD6QWhwAh92VTE3z94xZlBzESj44xEv9oSwC37+QBKjyPcY28tT0Abjv/PPB34w4RPWHQsJV9Nu43jVAgwX8gRREPTh0wmAeLoBI5jmpCjsDWMt8kAeE4zHNUE1/fU1yuUniPgQAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
