.body-content {
  width: 90%;
  max-width: 760px;
  margin: 0 auto;
  text-align: left;
  padding: 24px;
}
.body-content-title {
  font-family: var(--muli);
  font-weight: var(--muli-bold);
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 16px;
}
.body-content-desc,
.body-content-list {
  font-family: var(--merriweather);
  font-weight: var(--merriweather-regular);
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 24px;
}
.body-content-list {
  margin-left: 0;
  padding-left: 0;
}
.body-content-list-item {
  margin-bottom: 16px;
  padding-left: 24px;
}
