:root {
  --merriweather: "Merriweather", serif;
  --muli: "Muli", sans-serif;
  --caveat: "Caveat", cursive;

  --merriweather-regular: 300;
  --merriweather-bold: 900;
  --muli-regular: 400;
  --muli-bold: 900;

  --header-color: #343434;
  --body-color: #464646;
  --media-thumbnail-bg: #c4c4c4;
  --link-color: #2b99d7;
  --inverse-color: #fff;
}
