<div class="design-container">
    <div class="design-leftnav">
        <div class="bff-include" data-src="app/shared/leftnav.html"></div>
    </div>
    <div class="design-content">
        <header class="design-page-header">
            <h1>Pagination</h1>
        </header>
        <section class="design-page-content">


            <div class="design-demo" style="width: 64rem">
                <div class="DataViewPager">
                    <div class="pull-right">
                        <label>Page Size:
                            <select size="1" class="input-mini" 
                                    style="margin-bottom:0;">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </label>
                    </div>
                    <div>
                        <ul>
                            <li ng-repeat="page in pages" class="disabled"><a href="javascript:void(0);">First</a></li><li class="disabled"><a href="javascript:void(0);">Previous</a></li><li class=" active"><a href="javascript:void(0);">1</a></li><li><a href="javascript:void(0);">2</a></li><li><a href="javascript:void(0);">3</a></li><li><a href="javascript:void(0);">4</a></li><li><a href="javascript:void(0);">5</a></li><li><a href="javascript:void(0);">Next</a></li><li><a href="javascript:void(0);">Last</a></li>
                        </ul>
                        <span class="PagingInfo">1 to 10 of 1403 Opportunities</span>
                    </div>
                </div>
            </div>

            <p>&nbsp;</p>

            <pre><code class="html">
&lt;div class="DataViewPager" ng-hide="model.modelName"&gt;
    &lt;div class="pull-right"&gt;
        &lt;label&gt;Page Size:
            &lt;select size="1" class="input-mini" style="margin-bottom:0;"
                    ng-model="model.pageInfo.pageSize"
                    ng-change="model.pageSizeChanged()"&gt;
                &lt;option value="10"&gt;10&lt;/option&gt;
                &lt;option value="25"&gt;25&lt;/option&gt;
                &lt;option value="50"&gt;50&lt;/option&gt;
                &lt;option value="100"&gt;100&lt;/option&gt;
            &lt;/select&gt;
        &lt;/label&gt;
    &lt;/div&gt;
    &lt;pagination boundary-links="true" num-pages="model.pageInfo.numberOfPages"
                on-select-page="model.pageChanged(page)" current-page="model.pageInfo.pageIndex"
                max-size="5" page-info="model.getPageInfo()" &gt;&lt;/pagination&gt;
&lt;/div&gt;
            </code></pre>

            <p>&nbsp;</p>


        </section>
    </div>
</div>


<div class="bff-script" data-src="app/shared/activate-highlight.js"></div>


