.inputBorder {
  border: 1px solid #ccc;
  outline: none; }

.inputBorderFocus {
  border: 1px solid #5988cf; }

.widgetBorder {
  border: 0; }

.tableRowBorder {
  border-top: 1px solid #ccc; }

.headerBorder {
  border-bottom: 1px solid #ccc; }

.dropdownBorder {
  border: 1px solid #ccc; }

.userSelectNone {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

.ease {
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.boxShadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.boxShadowNone {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

.borderRadiusLarge {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; }

.borderRadius {
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px; }

.borderRadiusTop {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-top-left-radius: 2px; }

.borderRadiusBottom {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px; }

.borderRadiusNone {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }

.borderRadiusLeft {
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; }

.borderRadiusRight {
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.transparent {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5; }

.topNavBar ul, .topNavBar ol {
  list-style-type: none;
  padding: 0; }

.topNavBar {
  position: absolute;
  width: 40px;
  left: 0;
  top: 40px;
  z-index: 50;
  bottom: 15px;
  background: #464851; }
  .topNavBar.open {
    width: 240px; }
    .topNavBar.open ul.TopLevel > li > a {
      float: none;
      width: 240px;
      text-align: left; }
      .topNavBar.open ul.TopLevel > li > a .title {
        display: inline-block;
        font-weight: bold;
        font-size: 12;
        letter-spacing: 0.5px; }
      .topNavBar.open ul.TopLevel > li > a span:first-child {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center; }
  .topNavBar ul.TopLevel > li.current > a,
  .topNavBar ul.TopLevel > li.current > a:hover {
    background-color: #30333c;
    color: #fff; }
  .topNavBar ul.TopLevel > li.currentOpen > a,
  .topNavBar ul.TopLevel > li.currentOpen > a:hover {
    background-color: #212227;
    color: #fff; }
  .topNavBar ul.TopLevel > li > a {
    display: block;
    float: left;
    color: #bbb;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.075); }
    .topNavBar ul.TopLevel > li > a:hover {
      background-color: #30333c;
      color: #fff; }
    .topNavBar ul.TopLevel > li > a .title {
      display: none; }
    .topNavBar ul.TopLevel > li > a .icon-dashboard {
      font-size: 18px;
      line-height: 40px; }
  .topNavBar ul.TopLevel > li > ul {
    display: none;
    padding: 18px;
    position: absolute;
    left: 40px;
    top: 0;
    bottom: 0;
    background: #212227;
    width: 200px; }
    .topNavBar ul.TopLevel > li > ul.open {
      display: block;
      overflow-y: auto; }
      .topNavBar ul.TopLevel > li > ul.open .menu {
        display: block;
        font-size: 12px;
        line-height: 20px;
        margin-top: 18px;
        border: 0; }
        .topNavBar ul.TopLevel > li > ul.open .menu h2 {
          font-size: 13px;
          line-height: 20px;
          padding: 0;
          margin: 0;
          margin-bottom: 3px;
          color: #999;
          text-align: left;
          text-transform: none;
          letter-spacing: 0.5px; }
        .topNavBar ul.TopLevel > li > ul.open .menu .total {
          text-align: right;
          position: absolute;
          color: #777;
          top: 3px;
          right: 8px; }
        .topNavBar ul.TopLevel > li > ul.open .menu .empty {
          padding-left: 1.1em;
          color: #797979;
          padding-right: .4em; }
        .topNavBar ul.TopLevel > li > ul.open .menu a {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          position: relative; }
        .topNavBar ul.TopLevel > li > ul.open .menu .actionMenu ul {
          margin-left: 0;
          margin-bottom: 20px;
          list-style: none;
          padding-left: 15px;
          padding-right: 15px;
          margin-bottom: 0; }
          .topNavBar ul.TopLevel > li > ul.open .menu .actionMenu ul li > a {
            display: block;
            margin-left: -15px;
            margin-right: -15px;
            text-shadow: none;
            padding: 3px 15px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
          .topNavBar ul.TopLevel > li > ul.open .menu .actionMenu ul li > a:hover, .topNavBar ul.TopLevel > li > ul.open .menu .actionMenu ul li > a:focus {
            text-decoration: none;
            background-color: #eee; }
      .topNavBar ul.TopLevel > li > ul.open a {
        color: #fff;
        display: block;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.5px;
        cursor: pointer; }
        .topNavBar ul.TopLevel > li > ul.open a:hover {
          background: transparent;
          color: #5988cf;
          text-decoration: none; }
      .topNavBar ul.TopLevel > li > ul.open h2 {
        font-size: 13px;
        line-height: 20px;
        padding: 0;
        margin: 0;
        margin-bottom: 3px;
        color: #999;
        text-align: left;
        text-transform: none;
        letter-spacing: 0.5px; }
  .topNavBar ul.TopLevel ul.nav.nav-list {
    padding: 0; }
    .topNavBar ul.TopLevel ul.nav.nav-list > li > a {
      padding: 0;
      margin: 0;
      text-shadow: none;
      font-size: 12;
      letter-spacing: 0.5px;
      color: #fff; }
      .topNavBar ul.TopLevel ul.nav.nav-list > li > a:hover, .topNavBar ul.TopLevel ul.nav.nav-list > li > a:focus {
        color: #5988cf;
        background: none; }

#mruContainer {
  display: none; }

.currentOpen #mruContainer {
  display: block; }

.accountingMenu {
  display: none; }

.currentOpen .accountingMenu {
  display: block; }

.nav-tabs > li > a,
.nav-pills > li > a {
  padding-left: 24px; }

/*# sourceMappingURL=leftnav.css.map */