* {
  box-sizing: border-box;
}
body {
  font: 20px/32px var(--body-font);
  color: var(--brand-gray700);
}

h1,
h2,
h3 {
  color: var(--brand-gray900);
}
h1 {
  font: var(--font-display1);
}

h2 {
  font: var(--font-display2);
}

h3 {
  font: var(--font-display3);
  padding: 32px 0 16px 0;
  margin: 0;
}

p {
  margin-top: 0;
  font: var(--font-body);
}
a {
  text-decoration: none;
  color: var(--brand-primary);
}
strong {
  font-family: var(--strong-font);
  color: var(--brand-gray900);
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.two-col {
  column-count: 2;
  column-gap: 64px;
}

.bg-gray {
  background-color: var(--brand-gray100);
}

.btn-page-footer {
  margin: 40px auto -160px auto;
  padding: 32px;
  width: 430px;
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius1);
  background-color: var(--brand-primary);
  box-shadow: 0 8px 20px var(--brand-primary-shadow);
  font-family: var(--strong-font);
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  text-align: center;

}

.placeholder-graph {
  background-color: white;
  width: 80%;
  height: 450px;
  margin: auto;
  margin-bottom: 64px;
  box-shadow: 0 3px 6px rgba(0,0,0,.1);
}


.placeholder {
  background-color: var(--brand-gray100);
  display: flex;
}

.placeholder-icon {
  display: block;
  width: 160px;
  height: 160px;
  background-color: var(--brand-gray100);
}