.site-footer-left,
.site-footer-right,
.site-footer-left-blank,
.site-footer-right-blank {
  width: 100%;
  background-color: var(--brand-gray100);
}
.site-header__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font: var(--font-brand);
  text-transform: uppercase;
}
.site-header__title a {
  color: var(--brand-gray900);
}
.site-header__links,
.site-footer__links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.site-header__links li,
.site-footer__links li {
  padding: 0;
  margin-right: 48px;
  font-size: 16px;
}
.site-header__links li a {
  display: block;
  color: var(--brand-gray700);
  font-family: var(--body-font);
}
.site-header__links li a:hover {
  color: var(--brand-gray900);
}
.site-header__links li a.active {
  color: var(--brand-gray900);
  font-family: var(--strong-font);
}

.site-footer__links li a {
  font-family: var(--strong-font);
}

.page-hero-text-subtitle {
  display: block;
  font: normal 24px/32px var(--strong-font);
  margin-bottom: 8px;
}
.page-steps {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 32px 0;
  padding: 0;
}
.page-steps li {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-right: 7%;
  margin-bottom: 64px;
  position: relative;
}
.page-steps li .placeholder-icon {
  margin-bottom: 24px;
}
body {
  counter-reset: page-steps;
}
.page-steps li:before {
  counter-increment: page-steps;
  content: counter(page-steps);
  border-radius: 24px;
  width: 48px;
  height: 48px;
  background: var(--brand-gray700);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 24px;
  font-family: var(--strong-font);
  left: 140px;
  top: -24px;
}