.page-hero-text-subtitle {
  display: block;
  font: normal 24px/32px var(--strong-font);
  margin-bottom: 8px;
}

.intro {
  font: 24px/32px var(--strong-font);
}

.page-steps {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 32px 0;
  padding: 0;
}
.page-steps li {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-right: 7%;
  margin-bottom: 64px;
  position: relative;
}
.page-steps li .placeholder-icon {
  margin-bottom: 24px;
}
.page-steps li:before {
  counter-increment: page-steps;
  content: counter(page-steps);
  border-radius: 24px;
  width: 48px;
  height: 48px;
  background: var(--brand-gray700);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 24px;
  font-family: var(--strong-font);
  left: 140px;
  top: -24px;
}

.btn-page-footer {
  margin: 40px auto -160px auto;
  padding: 32px;
  width: auto;
  max-width: 430px;
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius1);
  background-color: var(--brand-primary);
  box-shadow: 0 8px 20px var(--brand-primary-shadow);
  font-family: var(--strong-font);
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.page-footer {
  grid-column-start: 1;
  grid-column-end: 4;

  grid-row-start: 5;
  grid-row-end: 5;

  padding: 10%;

  p {
    font: 20px/32px var(--body-font);
  }
}


