.m1 {
  margin: var(--spacer1);
}
.m2 {
  margin: var(--spacer2);
}
.m3 {
  margin: var(--spacer3);
}
.m4 {
  margin: var(--spacer4);
}
.m5 {
  margin: var(--spacer5);
}
.m6 {
  margin: var(--spacer6);
}
.m7 {
  margin: var(--spacer7);
}

.mr1 {
  margin-right: var(--spacer1);
}
.mr2 {
  margin-right: var(--spacer2);
}
.mr3 {
  margin-right: var(--spacer3);
}
.mr4 {
  margin-right: var(--spacer4);
}
.mr5 {
  margin-right: var(--spacer5);
}
.mr6 {
  margin-right: var(--spacer6);
}
.mr7 {
  margin-right: var(--spacer7);
}

.mb1 {
  margin-bottom: var(--spacer3);
}
.mb2 {
  margin-bottom: var(--spacer2);
}
.mb3 {
  margin-bottom: var(--spacer3);
}
.mb4 {
  margin-bottom: var(--spacer4);
}
.mb5 {
  margin-bottom: var(--spacer5);
}
.mb6 {
  margin-bottom: var(--spacer6);
}
.mb7 {
  margin-bottom: var(--spacer7);
}


.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.two-col {
  column-count: 2;
  column-gap: 64px;
}

.bg-gray {
  background-color: var(--brand-gray100);
}

.placeholder-graph {
  background-color: white;
  width: 80%;
  height: 450px;
  margin: auto;
  margin-bottom: 64px;
  box-shadow: 0 3px 6px rgba(0,0,0,.1);
}

.placeholder {
  background-color: var(--brand-gray100);
  display: flex;
}

.placeholder-icon {
  display: block;
  width: 160px;
  height: 160px;
  background-color: var(--brand-gray100);
}

@media screen and (max-width: 1235px) {
  .horizontal {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .placeholder-icon {
    margin: auto !important;
  }
}

