// Colors
:root {
  --spacer1: .25rem;
  --spacer2: .5rem;
  --spacer3: 1rem;
  --spacer4: 2rem;
  --spacer5: 3rem;
  --spacer6: 4rem;
  --spacer7: 5rem;

  --brand-white: #fff;
  --brand-gray100: #F2F2F2;

  --body-font: 'Sofia Pro Black', Arial, sans-serif;
  --strong-font: 'Sofia Pro Black', Arial, sans-serif;
  --title-font: 'Sofia Pro Black', Arial, sans-serif;

  --font-size-display1: 72px;
  --font-size-display2: 48px;
  --font-size-display3: 32px;
  --font-size-display4: 24px;

  --font-display1: 800 72px/88px var(--title-font);
  --font-display2: 800 48px/64px var(--title-font);
  --font-display3: 800 32px/48px var(--title-font);
  --font-brand: 24px/24px var(--title-font);
  --font-body: 20px/36px var(--body-font);
  --border-radius1: 8px;
}