<link rel="stylesheet" href="https://renewal.webcetera.com/EZLynxRenewalCenter/styles/renewals.css">
<link rel="stylesheet" href="https://renewal.webcetera.com/EZLynxRenewalCenter/styles/dashboard.css">

<div class="design-container">
    <div class="design-leftnav">
        <div class="bff-include" data-src="app/shared/leftnav.html"></div>
    </div>
    <div class="design-content">
        <header class="design-page-header">
            <h1>Callout</h1>
        </header>

        <section class="design-page-content">

            <h3>Content Loading</h3>
            <p>When the callout content is loading, display a busy indicator in place of the number.</p>
            <div class="dashboardSummary">
                <div class="summaryBox">
                    <div class="content">
                        <div class="title">
                            Remarket Status Last 30 Days
                        </div>
                        <div class="value">
                            <img class="Search" src="https://cdn.webcetera.com/CommonResources/EZLynx/Shared/images/loadingBars.gif" alt="loading" ng-show="model.fetchingSummary">
                        </div>
                    </div>
                </div>
            </div>

            <p>&nbsp;</p>

            <h3>Callout Complete</h3>

            <p>Once the content has finished loading, hide the busy indicator and display the actual value/number.</p>
            <div class="dashboardSummary">   
                <div class="summaryBox">
                    <div class="content">
                        <div class="title">
                            Remarket Status Last 30 Days
                        </div>
                        <div class="value">
                            <span ng-hide="model.fetchingSummary">$0.00</span>
                        </div>
                    </div>
                </div>
            </div>

            <p>&nbsp;</p>

            <pre><code class="html">
&lt;div class="dashboardSummary"&gt;
    &lt;div class="summaryBox"&gt;
        &lt;div class="content"&gt;
            &lt;div class="title"&gt;
                Remarket Status Last 30 Days
            &lt;/div&gt;
            &lt;div class="value"&gt;
                &lt;img class="Search" style="display: none;" src="https://cdn.webcetera.com/CommonResources/EZLynx/Shared/images/loadingBars.gif" alt="loading" ng-show="model.fetchingSummary"&gt;
                &lt;span ng-hide="model.fetchingSummary""&gt;$0.00&lt;/span&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
            </code></pre>
        </section>
    </div>
</div>

<div class="bff-script" data-src="app/shared/activate-highlight.js"></div>
