<title>Grievance Detail</title>

<!-- begin: Page Heading -->
<div class="container-fluid page-header">
    <div class="container">
        <div class="pull-left">

            <div class="page-header-icon">
                <span class="fa fa-file-text fa-2x"></span>
            </div>

            <h2>Grievance Details</h2>

        </div>

        <div class="page-header-btn-group pull-right">
            <a class="btn btn-link" href="#/pages/manage/grievances/index.html">Cancel</a>
            <a class="btn btn-success" href="#/pages/manage/grievances/index.html"><i class="fa fa-save"></i>&nbsp; Save</a>
        </div>

    </div>
</div>
<!-- end: Page Heading -->

<!-- begin: Breadcrumb -->
<div class="container-fluid breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li>Manage</li>
            <li>Grievances</li>
            <li>Grievance Detail</li>
        </ol>
    </div>
</div>
<!-- end: Breadcrumb -->

<div class="container">

    <div class="row">

        <div class="col-md-12">

            <div class="row">

                <div class="col-md-8">

                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#grievance-form" aria-controls="grievance-form" role="tab" data-toggle="tab">
                                    Grievance Form
                                </a>
                            </li>

                            <li role="presentation">
                                <a href="#grievance-detail" aria-controls="grievance-detail" role="tab" data-toggle="tab">
                                    Grievance Details
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content right-panel-style" style="padding: 20px;">
                        <!-- begin tab: Grievance Form -->
                        <div role="tabpanel" class="tab-pane active" id="grievance-form">

                            <div class="grievance-form-layout">
                                <!-- HEADER -->
                                <!-- Section 0 -->
                                <div class="row">
                                    <div class="col-md-12 grievance-form-section-0">
                                        <h3>
                                            Maricopa County Sheriff's Office<br>
                                            Joseph M. Arpaio - Sheriff<br>
                                            INMATE GRIEVANCE FORM
                                        </h3>
                                    </div>
                                </div>
                                <!-- Section 1 and 2 -->
                                <div class="row">
                                    <div class="col-md-6 grievance-form-section-1"></div>
                                    <div class="col-md-6 grievance-form-section-2"></div>
                                </div>
                                <!-- Section 3, 4, 5 -->
                                <div class="row">
                                    <div class="col-md-4 grievance-form-section-3"></div>
                                    <div class="col-md-4 grievance-form-section-4"></div>
                                    <div class="col-md-4 grievance-form-section-5"></div>
                                </div>
                                <!-- BODY -->
                                <!-- Section 6 -->
                                <div class="row">
                                    <div class="col-md-12 grievance-form-section-6">
                                        <div class="form-group view-only">
                                            <label>#</label>
                                            <input type="text" class="form-control view-only" disabled value="">
                                        </div>
                                    </div>
                                </div>
                                <!-- Section 7 -->
                                <div class="row">
                                    <div class="col-md-12 grievance-form-section-7">
                                        <div class="form-group view-only">
                                            <label>Resolution</label>
                                            <input type="text" class="form-control view-only" disabled value="">
                                        </div>
                                    </div>
                                </div>
                                <!-- Section 8, 9 -->
                                <div class="row">
                                    <div class="col-md-6 grievance-form-section-8">
                                        <div class="form-group view-only">
                                            <label>Date/Time</label>
                                            <input type="text" class="form-control view-only" disabled value="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 grievance-form-section-9">
                                        <div class="form-group view-only">
                                            <label>Account #</label>
                                            <input type="text" class="form-control view-only" disabled value="1234">
                                        </div>
                                    </div>
                                </div>
                                <!-- Section 10, 11, 12 -->
                                <div class="row">
                                    <div class="col-md-4 grievance-form-section-10">
                                        <div class="form-group view-only">
                                            <label>Housing Unit</label>
                                            <input type="text" class="form-control view-only" disabled value="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 grievance-form-section-11">
                                        <div class="form-group view-only">
                                            <label>To</label>
                                            <input type="text" class="form-control view-only" disabled value="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 grievance-form-section-12">
                                        <div class="form-group view-only">
                                            <label>Received by</label>
                                            <input type="text" class="form-control view-only" disabled value="">
                                        </div>
                                    </div>
                                </div>
                                <!-- Section 13, 14 -->
                                <div class="row">
                                    <div class="col-md-6 grievance-form-section-13">
                                    </div>
                                    <div class="col-md-6 grievance-form-section-14">
                                    </div>
                                </div>
                                <!-- Section 15 -->
                                <div class="row">
                                    <div class="col-md-12 grievance-form-section-15">
                                    </div>
                                </div>
                                <!-- Section 16 -->
                                <div class="row">
                                    <div class="col-md-12 grievance-form-section-16">
                                    </div>
                                </div>
                                <!-- Section 17 -->
                                <div class="row">
                                    <div class="col-md-12 grievance-form-section-17">
                                    </div>
                                </div>
                                <!-- Section 18, 19, 20 -->
                                <div class="row">
                                    <div class="col-md-4 grievance-form-section-18">
                                        <div class="form-group view-only">
                                            <label>Inmate Name</label>
                                            <input type="text" class="form-control view-only" disabled value="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 grievance-form-section-19">
                                        <div class="form-group view-only">
                                            <label>Site</label>
                                            <input type="text" class="form-control view-only" disabled value="Picacho, AZ">
                                        </div>
                                    </div>
                                    <div class="col-md-4 grievance-form-section-20">
                                        <div class="form-group view-only">
                                            <label>Date</label>
                                            <input type="text" class="form-control view-only" disabled value="11/23/2014">
                                        </div>
                                    </div>
                                </div>
                                <!-- Section 21, 22 -->
                                <div class="row">
                                    <div class="col-md-6 grievance-form-section-21">

                                    </div>
                                    <div class="col-md-6 grievance-form-section-22"></div>
                                </div>



                                <div class="form-group view-only">
                                    <label>Grievance (to be completed by inmate): Briefly describe your grievance and a proposed resolution</label>
                                    <textarea class="form-control view-only" disabled>I need more protein in my diet.</textarea>
                                </div>

                                <div class="form-group view-only">
                                    <input type="checkbox" class="view-only" checked disabled> &nbsp; <label>Inmate Signature</label><br>
                                </div>

                                <div class="form-group view-only" style="color: red">
                                </div>


                            </div>
                        </div>
                        <!-- end tab: Grievance Form -->

                        <!-- begin tab: Grievance Detail -->
                        <div role="tabpanel" class="tab-pane" id="grievance-detail">

                            <table class="table table-data table-grievance-detail">
                                <tbody>
                                <tr>
                                    <td><strong>Grievance #</strong></td>
                                    <td>12345233456</td>
                                </tr>
                                <tr>
                                    <td><strong>Inmate Name</strong></td>
                                    <td>Hannibal Lecter</td>
                                </tr>
                                <tr>
                                    <td><strong>Site</strong></td>
                                    <td>Picacho, AZ</td>
                                </tr>
                                <tr>
                                    <td><strong>Terminal</strong></td>
                                    <td>LP1</td>
                                </tr>
                                <tr>
                                    <td><strong>Submitted date</strong></td>
                                    <td>11/23/2014 11:09:34am</td>
                                </tr>
                                <tr>
                                    <td><strong>Escalation level</strong></td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td><strong>Form Version</strong></td>
                                    <td>5000-239 R11-10 SFOR 194</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- end tab: Grievance Detail -->
                    </div>



                </div>

                <div class="col-md-4">

                    <br>
                    <br>

                    <div class="well securus-panel-style securus-panel-padding">

                        <div role="tabpanel" class="escalation-level">
                            <ul class="pagination" role="tablist">
                                <li class="title">
                                    Escalation Level:
                                </li>
                                <li role="presentation">
                                    <a href="#escalation-level1" aria-controls="escalation-level1" role="tab" data-toggle="tab">0 </a>
                                </li>
                                <li role="presentation">
                                    <a href="#escalation-level1" aria-controls="escalation-level1" role="tab" data-toggle="tab">1 </a>
                                </li>
                                <li role="presentation" class="active">
                                    <a href="#escalation-level2" aria-controls="escalation-level2" role="tab" data-toggle="tab"> 2 </a>
                                </li>
                                <li role="presentation">
                                    <a href="#escalation-level3" aria-controls="escalation-level3" role="tab" data-toggle="tab"> 3 </a>
                                </li>
                            </ul>
                        </div>

                        <h4>Grievance Status</h4>
                        <table class="table table-sergeant-actions" >
                            <tbody>
                            <tr class="grievance-view grievance-assigner">
                                <td><strong>Assigner</strong></td>
                                <td>
                                    <select class="form-control">
                                        <option>Joe Smith</option>
                                        <option>Mark Ansen</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="grievance-view grievance-processor">
                                <td><strong>Processor</strong></td>
                                <td>
                                    <select class="form-control">
                                        <option value="0">-- Choose one --</option>
                                        <option value="1">Joe Smith</option>
                                        <option value="2">Mark Ansen</option>
                                        <option value="3">Thomas Anderson</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="grievance-view grievance-status">
                                <td><strong>Status</strong></td>
                                <td>
                                    <select class="form-control">
                                        <option>Working</option>
                                        <option>Resolved</option>
                                        <option>Update Required by Inmate</option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <p>&nbsp;</p>


                      <div class="grievance-actions">
                        <h4>Actions Taken to Resolve Grievance</h4>
                        <hr>

                        <div class="tab-content">
                          <div role="tabpanel" class="tab-pane" id="escalation-level1">
                            <label for="level1-text">Response</label>
                            <input type="text" class="form-control" id="level1-text" disabled="disabled" value="Sent in a steak">
                            <p class="info" style="margin-top: 20px;">Submitted: 11/23/2014 10:12:04</p>
                          </div>

                          <div role="tabpanel" class="tab-pane active" id="escalation-level2">
                            <label for="level2-text">Response</label>
                            <input type="text" class="form-control" id="level2-text">

                            <hr style="border: 1px dashed #eee">

                            <input type="checkbox" id="return-to"> <label for="return-to">Return to previous escalation level</label>
                            <label for="return-to-reason">Reason for return</label>
                            <input type="text" class="form-control" id="return-to-reason">
                          </div>

                          <div role="tabpanel" class="tab-pane" id="escalation-level3">
                            <label for="level3-text">Response</label>
                            <input type="text" class="form-control" id="level3-text" disabled="disabled">
                            <br>

                            <input type="checkbox" id="return-to" disabled="disabled"> <label for="return-to">Return to previous escalation level</label>
                            <label for="return-to-reason">Reason for return</label>
                            <input type="text" class="form-control" id="return-to-reason" disabled="disabled">
                          </div>
                        </div>
                      </div>

                    </div>



                </div>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <hr class="divider" />

            <div class="page-header-btn-group pull-right">
                <a class="btn btn-link" href="#/pages/manage/grievances/index.html">Cancel</a>
                <a class="btn btn-success" href="#/pages/manage/grievances/index.html"><i class="fa fa-save"></i>&nbsp; Save</a>
            </div>

        </div>

    </div>

</div>

<div class="alert alert-warning alert-dismissable devmode" role="alert">
  <button type="button" class="close devmode-close" data-dismiss="alert" aria-label="Close" style="margin-right: 20px">
    <span aria-hidden="true">&times</span>
  </button>
  <!-- DevMode content -->

  <strong>Views (for user Mark Ansen): </strong>
  <a href="#" class="devmode-view-link devmode-grievance-assigner">Assigner</a> |
  <a href="#" class="devmode-view-link devmode-grievance-processor">Processor</a> |
  <a href="#" class="devmode-view-link devmode-grievance-view">View Only</a>

  <!-- DevMode content -->
</div>


<div class="bff-script" data-src="../js/wireframes/pages/manage/grievance/view/index.js"></div>
