<div class='container-steps clearfix height-full'>
    <ul class='interview container-step'>
        <li class='header-arrow'>
            <div class='left'>
                <h2 class='section-heading color-teal m0'>Interview</h2>
                <span>$34,500.00</span>
            </div>

            <div class='right pt1'>
                <span class='badge-white bold'>3000</span>
            </div>
        </li>

        <li class='font-size-small mb1'>
            <div class="bff-include" data-src="app/pages/sales-center/components/card-filter.html"></div>
        </li>

        <li class="container-cards sortable always-visible"></li>
    </ul>

    <ul class='pricing container-step'>
        <li class='header-arrow'>
            <div class='left'>
                <h2 class='section-heading color-teal m0'>Pricing</h2>
                <span>$5,000.00</span>
            </div>

            <div class='right pt1'>
                <span class='badge-white bold'>100</span>
            </div>
        </li>

        <li class='font-size-small mb1'>
            <div class="bff-include" data-src="app/pages/sales-center/components/card-filter.html"></div>
        </li>

        <li class="container-cards sortable always-visible"></li>
    </ul>

    <ul class='presentation container-step'>
        <li class='header-arrow'>
            <div class='left'>
                <h2 class='section-heading color-teal m0'>Presentation</h2>
                <span>$2,500.00</span>
            </div>

            <div class='right pt1'>
                <span class='badge-white bold'>30</span>
            </div>
        </li>

        <li class='font-size-small mb1'>
            <div class="bff-include" data-src="app/pages/sales-center/components/card-filter.html"></div>
        </li>

        <li class="container-cards sortable always-visible"></li>
    </ul>

    <ul class='decision container-step'>
        <li class='header-arrow'>
            <div class='left'>
                <h2 class='section-heading color-teal m0'>Decision</h2>
                <span>$4,300.00</span>
            </div>

            <div class='right pt1'>
                <span class='badge-white bold'>10</span>
            </div>
        </li>

        <li class='font-size-small mb1'>
            <div class="bff-include" data-src="app/pages/sales-center/components/card-filter.html"></div>
        </li>

        <li class="container-cards sortable always-visible"></li>
    </ul>

    <ul class='fulfillment container-step'>
        <li class='header-arrow'>
            <div class='left'>
                <h2 class='section-heading color-teal m0'>Fulfillment</h2>
                <span>$2,200.00</span>
            </div>

            <div class="right pt1">
                <span class="badge-white bold">3</span>
            </div>
        </li>

        <li class='font-size-small mb1'>
            <div class="bff-include" data-src="app/pages/sales-center/components/card-filter.html"></div>
        </li>

        <li class="container-cards sortable always-visible"></li>
    </ul>

    <ul class='hold container-step'>
        <li class='header-arrow-reverse'>
            <div class='left'>
                <h2 class='section-heading m0'>Hold</h2>
                <span>$13,000.45</span>
            </div>

            <div class="right pt1">
                <span class="badge-white bold">1</span>
            </div>
        </li>

        <li class='font-size-small mb1'>
            <div class="bff-include" data-src="app/pages/sales-center/components/card-filter.html"></div>
        </li>

        <li class="container-cards sortable always-visible clear-both"></li>
    </ul>
</div>

<div>
    <div class="bff-include" data-src="app/pages/sales-center/components/producer-card-template.html"></div>
</div>