<div id="LayoutContainer" class='hasSideBar hasPageHeader'>
    <div class="bff-include" data-src="app/shared/rightpanel.html"></div>
    <div class="bff-include" data-src="app/shared/notifications.html"></div>

    <div id="pageHeader" class="pageHeader" style='position: absolute; left: 0; right: 0;'>
        <div class="widget-headercc">
            <ul id="breadCrumbBar" class="inlineLinkList font-size-large">
                <li><a href="javascript:void(0);">Sales Center </a></li>
                <span>/</span>
                <li>Opportunities</li>
            </ul>
        </div>
    </div>

    <div class="pane ui-layout-west" id="LeftPanel">
        <div class="bff-include" data-src="app/pages/sales-center/components/filter.html"></div>
        <div class="closeArrow"></div>
    </div>

    <div class='pane ui-layout-center'>
        <div class='floatContain'>
            <div class='PageContent'>
                <div class="bff-include" data-src="app/pages/sales-center/components/header.html"></div>

                <div class='grey-container card-view mt3 p2'>
                    <div class='card-view-producer height-full'>
                        <div class="bff-include height-full" data-src="app/pages/sales-center/components/card-list-producer.html"></div>
                    </div>
                    
                    <div class='card-view-manager hide-content height-full'>
                        <div class="bff-include height-full" data-src="app/pages/sales-center/components/card-list-manager.html"></div>
                    </div>
                </div>

                <div class='table-view mt3 hide-content'>
                    <div class="bff-include" data-src="app/pages/sales-center/components/table-view.html"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<li class="card-divider clearfix hide-content font-size-small px1">
    <div class="left">
        <span>5-10</span>
    </div>

    <div class="right">
        <a href="javascript:void(0);">
            Back To Top <i class="fa fa-arrow-circle-up fa-lg" aria-hidden="true"></i>
        </a>
    </div>
</li>