<form method="GET" class="searchCriteria ng-pristine ng-valid">

    <!-- Layout for filter label and form field -->
    <div class="row-fluid my2">
        <div class="span10 offset1 searchField">
            <label for="SearchDateType" class="fieldLabel">Open Tasks</label>
            <select id="SearchDateType" class="filterInput width-full">
                <option>All</option>
                <option>Overdue</option>
                <option>Today</option>
                <option>Upcoming</option>
                <option>No Due Date</option>
            </select>
        </div>
    </div>

    <div class="row-fluid mb2">
        <div class="span10 offset1 searchField">
            <label for="Status" class="fieldLabel">Status</label>
            <input type="text" id="Status" class="width-full" placeholder="Select Status">
        </div>
    </div>

    <div class="row-fluid mb2">
        <div class="span10 offset1 searchField">
            <label for="LOB" class="fieldLabel">Line of Business</label>
            <input type="text" id="LOB" class="width-full" placeholder="Select LOB">
        </div>
    </div>

    <div class="row-fluid mb2">
        <div class="span10 offset1 searchField">
            <label for="ProbabilityOfSale" class="fieldLabel">Sales Priority</label>
            <select id="ProbabilityOfSale" class="filterInput width-full">
                <option>⭐</option>
                <option>⭐⭐</option>
                <option>⭐⭐⭐</option>
            </select>
        </div>
    </div>

    <div class="row-fluid mb2">
        <div class="span10 offset1 searchField">
            <label for="Producer" class="fieldLabel">Producer</label>
            <select id="Producer" class="filterInput width-full">
                <option>John Smith</option>
                <option>May Lei</option>
                <option>Alex Jones</option>
            </select>
        </div>
    </div>

    <div class="row-fluid mb2">
        <div class="span10 offset1 searchField">
            <label for="XDate" class="fieldLabel">X-Date</label>
            <input type="date" id="XDate" class='width-full'>
        </div>
    </div>

    <div class="row-fluid mb2">
        <div class="span10 offset1 searchField">
            <label for="lead-source" class="fieldLabel">Lead Source</label>
            <input type="text" id="lead-source" class="width-full" placeholder="Select Lead Source">
        </div>
    </div>

    <div class="row-fluid mb2">
        <div class="span10 offset1 searchField">
            <label for="LastContacted" class="fieldLabel">Last Contacted</label>
            <select id="LastContacted" class="filterInput width-full">
                <option>7 days ago</option>
                <option>2 weeks ago</option>
                <option>3 weeks ago</option>
                <option>30 days ago</option>
                <option>older than 30 days</option>
            </select>
        </div>
    </div>

    <div class="row-fluid mb2">
        <div class="span10 offset1 searchField">
            <a href="javascript:void(0);" data-ng-click="resetSearchControls()" class="btn">Clear Filters</a>
        </div>
    </div>



    </div>
    <!-- End layout for each filter label and form field -->

</form>




