<header>
    <div class='row-fluid'>
        <div class='span4'>
            <div id="divSearchTerm">
                <input type="text" name="CampaignSearchTerm" placeholder="Search" size="70">
                <button type="button" class="btn" title="Search"><i class="icon-search icon-large"></i></button>
            </div>
        </div>

        <div class='span4 center mt1'>
            <div>
                <i class="fa fa-table fa-lg table-view-icon pointer" data-toggle="tooltip" data-placement="bottom" title="Table View" aria-hidden="true"></i>
                <span class='divider py2 m1'></span>
                <i class="fa fa-id-card fa-lg card-view-icon pointer highlighted"  data-toggle="tooltip" data-placement="bottom" title="Card View" aria-hidden="true"></i>
            </div>
        </div>

        <div class='span4 right-align mt1 card-views'>
            <span>View:</span>
            <a href='#' class='btn-link'>Summary</a>
            <span class='divider py1 mr1'></span>
            <a href='#' class='btn-link highlighted'>Detailed</a>
        </div>

        <div class="right hide-content table-view-action-button">
            <div class="dropdown">
                <a class="btn btn-primary disabled dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <i class="icon-caret-down"></i>
                </a>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="javascript:void(0);">Send Email Campaign</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Save as Email Campaign List</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Add Note or Task</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Move to Hold</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Close Opportunity</a>
                    </li>
                </ul>
            </div> 
        </div>
    </div>
</header>