<div class="header-arrows-container">
    <div class='row'>
        <ul class='col-md-2 interview'>
            <li class='header-arrow header-arrow-white-bg header-arrow-highlight js-arrow-mouseover-event'>
                <div>
                    <h2 class='section-heading'>Interview</h2>
                    <span>$13,000.45</span>
                </div>

                <div>
                    <span class='badge badge-pill badge-light'>3</span>
                </div>
            </li>

            <li class="small-triangle"></li>
        </ul>

        <ul class='col-md-2 pricing'>
            <li class='header-arrow header-arrow-white-bg js-arrow-mouseover-event'>
                <div>
                    <h2 class='section-heading'>Pricing</h2>
                    <span>$5,000.00</span>
                </div>

                <div>
                    <span class='badge badge-pill badge-light'>1</span>
                </div>
            </li>

            <li class="small-triangle"></li>
        </ul>

        <ul class='col-md-2 presentation'>
            <li class='header-arrow header-arrow-white-bg js-arrow-mouseover-event'>
                <div>
                    <h2 class='section-heading'>Presentation</h2>
                    <span>$2,500.00</span>
                </div>

                <div>
                    <span class='badge badge-pill badge-light'>3</span>
                </div>
            </li>

            <li class="small-triangle"></li>
        </ul>

        <ul class='col-md-2 decision'>
            <li class='header-arrow header-arrow-white-bg js-arrow-mouseover-event'>
                <div>
                    <h2 class='section-heading'>Decision</h2>
                    <span>$4,300.00</span>
                </div>

                <div>
                    <span class='badge badge-pill badge-light'>1</span>
                </div>
            </li>

            <li class="small-triangle"></li>
        </ul>

        <ul class='col-md-2 fulfillment'>
            <li class='header-arrow header-arrow-white-bg js-arrow-mouseover-event'>
                <div>
                    <h2 class='section-heading'>Fulfillment</h2>
                    <span>$2,200.00</span>
                </div>

                <div>
                    <span class='badge badge-pill badge-light'>3</span>
                </div>
            </li>

            <li class="small-triangle"></li>
        </ul>

        <ul class='col-md-2 hold'>
            <li class='header-arrow-reverse header-arrow-reverse-white-bg table-hold-view js-arrow-mouseover-event'>
                <div>
                    <h2 class='section-heading'>Hold</h2>
                    <span>$13,000.45</span>
                </div>

                <div>
                    <span class='badge badge-pill badge-light'>1</span>
                </div>
            </li>

            <li class="small-triangle"></li>
        </ul>
    </div>
</div>


<div class="results-summary">
    <div class="results-count">
        25 Opportunities found

        <a href="javascript:void(0)" class="results-action btn btn-link filter-link" data-target="#filter-statements">
            Filters
        </a>
    <!--     <div class="bff-include" data-src="app/pages/commissions/statements/filters.html"></div> -->
    </div>

    <div class="results-actions">
        <a href="javascript:void(0);">
            <button class="btn btn-link results-actions">Send Email Campaign</button>
        </a>
        <a href="javascript:void(0);">
            <button class="btn btn-link results-actions">Save as Email Campaign List</button>
        </a>
        <a href="javascript:void(0);">
            <button class="btn btn-link results-actions">Add Note or Task</button>
        </a>
        <a href="javascript:void(0);">
            <button class="btn btn-link results-actions">Move to Hold</button>
        </a>
        <a href="javascript:void(0);">
            <button class="btn btn-link results-actions">Close Opportunity</button>
        </a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th><input type='checkbox' onclick="toggleAllCheckboxes.call(this)"></th>
            <th></th>
            <th class="sorting">Estimated Value</th>
            <th class="sorting">Name</th>
            <th>Preferred Contact</th>
            <th>Note</th>
            <th class="sorting">Task Due</th>
            <th class="sorting">Opportunity Source</th>
            <th class="sorting ascending">Next X-Date</th>
            <th class="sorting">Sales Priority</th>
            <th>Last Contacted</th>
            <th class="sorting">Status</th>
            <th class="sorting">Producer</th>
            <th class="sorting hide-content table-column-days">Days</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type='checkbox' onclick="toggleActionButton(this.checked)"></td>
            <td>
                <a href="#/app/pages/sales-center/opportunity-details.html">
                    <i class="fa fa-expand fa-lg" aria-hidden="true"></i> 
                </a>
            </td>
            <td>$2,500</td>
            <td>
                <a href='#'>Alexander Remington</a>
                <a href='#'>
                    <i class='vip vip-icon align-bottom'></i>
                </a>
            </td>
            <td>
                <a href='#'>
                    <i class='icon-text icon-large align-middle mr2'></i>
                    (214) 678-2099
                </a>
            </td>
            <td>
                <span class="fa-stack fa-sm teal400">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-square-o fa-sm fa-stack-1x fa-inverse"></i>
                </span>
                <a href='#'>Customer interested in switching from ...</a>
            </td>
            <td>Task Due</td>
            <td>Ad - Print</td>
            <td>May 11, 2017</td>
            <td>
                <i class="linearicon-star fa-lg teal400" aria-hidden="true"></i>
                <i class="linearicon-star fa-lg teal400" aria-hidden="true"></i>
                <i class="linearicon-star fa-lg teal400" aria-hidden="true"></i>
            </td>
            <td>2 days ago</td>
            <td>
                <div class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        New
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="javascript:void(0)">1</a>
                        <a class="dropdown-item" href="javascript:void(0)">2</a>
                        <a class="dropdown-item" href="javascript:void(0)">3</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Alex Jones
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="javascript:void(0)">May Lei</a>
                        <a class="dropdown-item" href="javascript:void(0)">Alex Jones</a>
                    </div>
                </div>
            </td>
            <td class="hide-content table-column-days">32</td>
        </tr>

        <tr>
            <td><input type='checkbox' onclick="toggleActionButton(this.checked)"></td>
            <td>
                <a href="#/app/pages/sales-center/opportunity-details.html">
                    <i class="fa fa-expand fa-lg" aria-hidden="true"></i> 
                </a>
            </td>
            <td>$2,500</td>
            <td>
                <a href='#'>Lisa Pennington</a>
            </td>
            <td>
                <a href='#'>
                    <i class='icon-text icon-large align-middle mr2'></i>
                    (214) 678-2099
                </a>
            </td>
            <td>
                <span class="fa-stack fa-sm teal400">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-square-o fa-sm fa-stack-1x fa-inverse"></i>
                </span>
                <a href='#'>Customer interested in switching from ...</a>
            </td>
            <td>Task Due</td>
            <td>Ad - Print</td>
            <td>June 5, 2017</td>
            <td>
                <i class="linearicon-star fa-lg teal400" aria-hidden="true"></i>
            </td>
            <td>2 days ago</td>
            <td>
                <div class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        New
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="javascript:void(0)">1</a>
                        <a class="dropdown-item" href="javascript:void(0)">2</a>
                        <a class="dropdown-item" href="javascript:void(0)">3</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Alex Jones
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="javascript:void(0)">May Lei</a>
                        <a class="dropdown-item" href="javascript:void(0)">Alex Jones</a>
                    </div>
                </div>
            </td>
            <td class="hide-content table-column-days">15</td>
        </tr>
    </tbody>
</table>

<div class="bff-include" data-src="app/shared/pagination.html"></div>

<script>
    function tableViewCheckboxesValue() {
        return $(".table-view input[type=checkbox]").filter(function() {
            return this.checked;
        }).length === 0;
    }

    $(function() {
        $(".js-arrow-mouseover-event").on("mouseover", function() {
            if ($(this).hasClass("header-arrow-highlight") || tableViewCheckboxesValue()) {
                return;
            }

            var $h2 = $(this).find("h2");
            $h2.text("Move to " + $h2.text());
        });

        $(".js-arrow-mouseover-event").on("mouseout", function() {
            var $h2 = $(this).find("h2"),
                text = $h2.text();

            $h2.text(text.replace(/Move to /, ""));
        });
    });
</script>
