<div class="design-container">
    <div class="design-leftnav">
        <div class="bff-include" data-src="app/shared/leftnav.html"></div>
    </div>
    <div class="design-content">
        <header class="design-page-header">
            <h1>Tooltips</h1>
        </header>
        <section class="design-page-content">
            <h2>Tooltips</h2>
            <p>Change the data-placement value to change the direction of the tooltip.</p>
            <p>Four options are available: top, right, bottom, and left.</p>
            <p>To change the text for the tooltip change the value in the title attribute.</p>

            <p>&nbsp;</p>

            <a href="#" data-toggle="tooltip" data-placement="right" title="Some tooltip text!">Hover over me</a>
            
            <p>&nbsp;</p>

            <pre><code class="html">
&lt;a href="#" data-toggle="tooltip" data-placement="right" title="Some tooltip text!"&gt;Hover over me&lt;/a&gt;
            </code></pre>
            
            <p>&nbsp;</p>

            <i class="icon-lock icon-large" data-toggle="tooltip" data-placement="bottom" title="Some more tooltip text!"></i>

            <p>&nbsp;</p>

            <pre><code class="html">
&lt;i class="icon-lock icon-large" data-toggle="tooltip" data-placement="bottom" title="Some tooltip text!"&gt;&lt;/i&gt;
            </code></pre>
        </section>
    </div>
</div>

<div class="bff-script" data-src="app/shared/activate-highlight.js"></div>
