@charset "utf-8";
/* CSS Document */
.side-collapse-container
{
    background: #edeff5;
    padding-bottom: 30px;
}

html, body
{
    height: 100%;
    background-image:none!important;
}

.cc-container
{
    position: relative;
    min-height: 100%;
  height: auto !important;
  height: 100%;
}

#main
{
    overflow: auto;
    padding-bottom: 100px;
}

#footer
{
    position: relative;
    /*margin-top: -110px;*/
       clear: both;
   /*padding-top:10px;*/
   border-top:10px solid #edeff5;;
}

.col-md-4.top-margin-holder.login-bg
{
    margin: 20px auto;
    display: block;
    float: none;
}

body
{
    font-family: 'Open Sans', sans-serif;
    background-color: #edeff5;
    color: #837979;
}

.pad-btm
{
    padding-bottom: 30px;
}

.padding-top
{
    padding-top: 30px;
}
/* generic elements */
h1, h2, h3, h4, h5, h6, p, ul, li
{
    padding: 0px;
    margin: 0px;
}

li
{
    list-style-type: none;
}

h1
{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0px;
    color: #000;
}

a
{
    color: #337ab7;
    text-decoration: none;
}

.common-anchor
{
    color: #337ab7;
}
.contact-Number
{
    color: #337ab7;
}

.cc-container
{
    position: relative;
    min-height: 100%;
}
/* header */
header
{
    background-color: #fff;
    padding-top: 20px;
    position: relative;
    z-index: 3;
    border-bottom: 2px solid #e4e4e4;
}
/* switch header */
.iframe-header
{
    display: none;
}

.header-show .iframe-header
{
    display: block;
}

.header-show .my-profile
{
    display: none;
}
/* iframe header */

.contact-info p
{
    font-size: 15px;
    text-align: right;
}

.text-upper
{
    text-transform: uppercase;
}

.policy-holder-name
{
    color: #000;
    font-size: 16px;
}
/* non iframe header */
.iframe-header
{
    margin-bottom: 20px;
}

.non-iframe-switch
{
    padding-right: 0px;
}

.my-profile li a.dropdown-toggle
{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #837979;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}

.my-profile li ul.dropdown-menu
{
    margin-top: 10px;
}

ul.dropdown-menu
{
    border-radius: 0px;
}

.policy-holder-info
{
   
    padding: 25px;
     padding-left:0px;
    font-size: 15px;
}

.table-row
{
    display: table;
}

.table-cell
{
    display: table-cell;
    vertical-align: top;
}

.pict
{
    width: 80px;
}

.policy-holder-address
{
    padding-left: 10px;
}

.btn-primary
{
    color: #fff;
    background-color: #5093e1;
    border-color: #5093e1;
    border-radius: 50px;
    line-height: 7px;
    font-size: 13px;
}

.topright-btn-area li
{
    display: inline-block;
    padding-left: 10px;
}

    .topright-btn-area li a img
    {
        display: inline-block;
    }
/* my account */
.my-account
{
    float: right;
    margin-right: 0px;
}

    .my-account li
    {
        list-style-type: none;
        float: left;
        padding: 5px;
        margin-left: 5px;
        position: relative;
    }

        .my-account li.my-account-child
        {
            float: right;
        }

        .my-account li span
        {
            display: none;
            text-transform: uppercase;
        }

    .my-account i
    {
        font-size: 1.2em;
        width: 1.2em;
        text-align: center;
        line-height: 1.2em;
        border: 1px solid #4f4f4f;
        color: #4f4f4f;
        border-radius: 0.6em;
    }

        .my-account i:hover
        {
            border: 1px solid #5093e1;
            color: #5093e1;
        }

    .my-account li.open
    {
        background: #5093e1;
    }

        .my-account li.open i
        {
            border: 1px solid #fff;
            color: #fff;
        }

.topright-btn-area i
{
    background: #fff;
    font-size: 1.4em;
    width: 1.4em;
    text-align: center;
    line-height: 1.4em;
    color: #4f4f4f;
    border-radius: 0.7em;
}

    .topright-btn-area i:hover
    {
        color: #5093e1;
    }

.carousel-indicators
{
    display: none;
}

.my-account a
{
    color: #837979;
    text-decoration: none;
    display: block;
}
/* navbar */
.navbar-toggle .icon-bar
{
    background: #333;
}

.navbar
{
    border-radius: 0px;
    min-height: auto;
    margin-bottom: 0px;
}

.nav-top
{
    padding-left: 20px;
    float: left;
}

.navbar-collapse
{
    padding-right: 0px;
}

.navbar-collapse
{
    background: #fff;
    padding-left: 0px;
    width: 100%;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
    border-radius: 0px;
    border: none;
    color: #4976bb;
    border-bottom: 2px solid #4976bb;
    background-color: #fff;
}

.navbar-default
{
    background-color: #fff;
    border-color: #fff;
}

.nav > li > a
{
    padding-bottom: 10px;
    padding-top: 0;
}

.top-margin-holder
{
    margin-top: 30px;
}

.dropdown-menu
{
    right: 0;
    left: auto;
}

    .dropdown-menu li
    {
        padding-bottom: 0px;
    }
/* Policy details */
.policy-title, .policy-desc
{
    padding: 15px 25px;
    background: rgb(90, 85, 85) none repeat scroll 0% 0%;
    color: #fff;
    padding-left: 20px;
}

    .policy-title h4
    {
        margin-bottom: 0px;
        line-height: 15px;
    }

    .policy-title span, .policy-desc span
    {
        font-size: 11px;
        padding-left: 0px;
    }

.policy-details
{
    background: #fff;
    padding: 15px 20px;
    height: auto;
}

    .policy-details span
    {
        font-size: 11px;
        display: block;
        margin-bottom: 0px;
        color: #838484;
    }

    .policy-details .policy-value h3
    {
        font-size: 35px;
        margin-top: 30px;
        font-weight: 200;
        margin-bottom: 0px;
    }

    .policy-details h4
    {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .policy-details a
    {
        color: #468fe4;
    }

.policy-info1
{
    margin-top: 25px;
    height:100%;
}

.policy-view-links
{
    overflow: hidden;
    background: #fff;
    padding: 25px;
    text-align: right;
    border-top: 1px solid #989c98;
}

    .policy-view-links a
    {
        background: #fff;
        letter-spacing: 2px;
        color: #858687;
    }

.policy-desc h4
{
    display: inline-block;
}
/* arrow style */
.btn-arrow
{
    position: relative;
    background: #fff;
    border: none;
    border-radius: 0px;
    padding: 3px 12px;
    font-size: 13px;
    margin-left: 15px;
    text-transform: uppercase;
}

    .btn-arrow:after, .btn-arrow:before
    {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .btn-arrow:after
    {
        border-color: rgba(136, 183, 213, 0);
        border-right-color: #fff;
        border-width: 13px;
        margin-top: -13px;
    }

    .btn-arrow:before
    {
        border-color: rgba(194, 225, 245, 0);
        border-right-color: #fff;
        border-width: 13px;
        margin-top: -13px;
    }

.stacktable
{
    width: 100%;
}

.st-head-row
{
    padding-top: 1em;
}

    .st-head-row.st-head-row-main
    {
        font-size: 1.5em;
        padding-top: 0;
    }

.st-key
{
    width: 49%;
    text-align: left;
    padding-right: 1%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px !important;
}

.st-val
{
    width: 49%;
    padding-left: 1%;
}

.name-ins
{
    padding: 15px;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 5px 6px -6px black;
}

    .name-ins th
    {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 11px;
    }

    .name-ins th, .name-ins td
    {
        padding: 6px;
    }

    .name-ins td
    {
        font-size: 12px;
    }

.table-con > tbody > tr:nth-child(even) > td
{
    background-color: #f2f2f2;
}

/* RESPONSIVE EXAMPLE */

.stacktable.large-only
{
    display: table;
}

.stacktable.small-only
{
    display: none;
}

.policy-inner-desc h4
{
    padding: 5px 5px;
    font-size: 19 px;
}

.my-profile
{
    float: left;
}

    .my-profile li
    {
        list-style-type: none;
        float: left;
        padding-right: 5px;
        position: relative;
        padding-top: 0px;
    }

    .my-profile ul
    {
        padding: 0px;
        border: none;
        box-shadow: none;
    }

    .my-profile > .dropdown
    {
        width: 100%;
    }

.dropdown-menu
{
    border: none;
    border: none;
    box-shadow: none;
}

.open > .dropdown-menu
{
    z-index: 100000;
}

.no-pad
{
    padding-left: 0px;
    padding-right: 0px;
}

.mar-top
{
    margin-top: 20px;
}

.dropdown-menu > li > a
{
    color: #000 !important;
}

.navbar
{
    border: none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
{
    color: #5093e1 !important;
    background: #fff;
}

.vis
{
    visibility: hidden;
}

@media (max-width: 1024px)
{
    .user-btn
    {
        width: 100% !important;
        font-size:13px !important;
        padding-left:0px;
        padding-right:0px;
       
    }
}


@media (max-width: 767px)
{
    header .my-profile
    {
        display: block;
    }

    .pos-fix
{
    position: fixed;
}
    .breadcrumb
    {
        padding: 8px 0px !important;
        margin-bottom: 17px;
        display: inline-block;
        font-size: 10px;
    }

    .fieldset
    {
        margin-top: 10px !important;
    }

    .header-show .iframe-header
    {
        display: block;
    }

    header.header-show .my-profile
    {
        display: block;
    }

    .policy-desc h4
    {
        display: block;
        margin-bottom: 0px;
    }

    .vis
    {
        visibility: visible;
    }

    .policy-desc
    {
        padding: 25px 25px;
    }

        .policy-desc span
        {
            padding-left: 0px;
        }

        .policy-desc span
        {
            display: block;
            margin-top: -10px;
        }
    /* stackable table */
    .stacktable.large-only
    {
        display: none;
    }

    .stacktable.small-only
    {
        display: table;
    }
    /* carasouel */
    .carousel-indicators
    {
        display: block;
        position: relative;
        bottom: 0px;
        left: 50%;
        z-index: 15;
        width: 60%;
        padding-left: 0;
        margin-left: -30%;
        text-align: center;
        list-style: none;
    }

        .carousel-indicators .active
        {
            width: 12px;
            height: 12px;
            margin: 0;
            background-color: #14f6ee;
        }

        .carousel-indicators li
        {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 1px;
            text-indent: -999px;
            cursor: pointer;
            background-color: #000;
            background-color: rgba(173, 171, 171, 0.75);
            border: 1px solid #fff;
            border-radius: 10px;
        }

    td, th
    {
        padding: 5px;
    }

    th
    {
        text-transform: uppercase;
    }

    .my-profile li a.dropdown-toggle, .my-profile li b
    {
        display: none;
    }

    .policy-holder-info
    {
        background: #f4f5f9;
    }
    /* mobile menu stage */ \ header
    {
        padding-top: 0px;
        border-bottom: 0px;
        position: relative;
        z-index: 3;
    }

    .non-iframe-header
    {
        margin-top: 20px;
        position: relative;
    }

    .iframe-header
    {
        position: fixed;
        top: 0;
        width: 100%;
        background: #fff;
        height: 70px;
        margin: 0px;
        border-bottom: 2px solid #e4e4e4;
    }

        .iframe-header img
        {
            margin: 10px 0 10px 0;
        }

    .header > ul
    {
        margin-top: 20px;
    }

    .navbar-header
    {
        position: fixed;
        right: 10px;
        top: 15px;
    }

    .nav-top
    {
        padding-left: 0px;
        width: 100%;
    }

    .nav > li
    {
        padding-left: 30px;
    }

        .nav > li a
        {
            display: inline-block;
        }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
    {
        border-bottom: none;
    }

    .nav-link li
    {
        padding: 15px 0 15px 30px;
    }

    .my-profile li, .my-account .dropdown-menu
    {
        float: none;
        padding-right: 0px;
    }

    .my-profile .dropdown-menu, .nav-top .collapse
    {
        position: relative;
        display: block;
        visibility: visible;
    }

    .my-account
    {
        border-top: 1px solid #e4e4e4;
        float: none;
    }

        .my-account li.open
        {
            background: none;
        }

            .my-account li.open i
            {
                border: 1px solid #4f4f4f;
                color: #4f4f4f;
            }

        .my-account > ul > li
        {
            border-bottom: 1px solid #e4e4e4;
            padding: 20px 0 20px 30px;
            margin-left: 0px;
        }

        .my-account li, .my-account li.my-account-child
        {
            float: none;
        }

            .my-account li span
            {
                display: inline;
                padding-left: 5px;
            }

        .my-account .dropdown-menu
        {
            position: relative;
            width: 100%;
        }

    .my-account-child b.caret
    {
        float: right;
        margin-right: 10px;
        margin-top: 10px;
    }

    .my-profile li ul.dropdown-menu
    {
        margin-top: 0px;
    }
    /* slide mobile menu */
    .side-collapse-container
    {
        position: relative;
        left: 0;
        transition: left .4s;
        z-index: 1;
        margin-top: 40px;
        background: #edeff5;
    }

        .side-collapse-container.out
        {
            margin-left: 300px;
        }

    .side-collapse
    {
        bottom: 0;
        width: auto;
        position: fixed;
        -webkit-overflow-scrolling: touch;
        top: 72px;
        overflow-y: scroll;
        overflow-x: hidden;
        background: #fff;
        transition: width;
    }

        .side-collapse.in
        {
            width: 0;
        }

    .out .topright-btn-area
    {
        text-align: left;
        margin-top: 10px;
        width: 100% !important;
    }

    .header-show .my-profile
    {
        display: block;
    }

    .iframe-header
    {
        display: block;
    }
}


/* Driver*/
legend
{
    display: block;
    width: auto;
    padding: 0px;
    margin-bottom: 0px;
    font-size: 11px;
    line-height: inherit;
    color: #8e968e;
    border: 0;
    text-transform: uppercase;
    padding-right: 4px;
    padding-left: 4px;
    letter-spacing: 1px;
}

fieldset
{
    padding: 3px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

input, select
{
    padding-bottom: 3px;
    background: none;
    border: none;
    width: 100%;
    outline: 0;
}

input
{
    padding-left: 5px;
}

.fnt-style
{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 15px;
}

.bg-color
{
    background-color: #fff;
    box-shadow: 0 5px 6px -6px black;
}

.checkbox
{
    position: relative;
    display: inline-block;
    padding-left: 10px;
    float: left;
    margin-top: 5px;
    padding-right: 0px;
    margin-right: 10px;
}

.no-pad
{
    padding-left: 0px;
    margin-bottom: 30px;
}

.submit-btn
{
    color: #fff;
    background-color: #5093e1;
    border-color: #5093e1;
    border-radius: 6px;
    line-height: 16px;
    font-size: 13px;
    float: right;
}

.fnt-size
{
    font-size: 12px;
    padding-left: 10px;
}

.foot-info
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
}

.cc-foot-wrap
{
    background: #fff;
}

.site-info
{
    margin: 22px 0px;
}

.logo-info
{
    margin-top: 5px;
}

.txt-add
{
    font-size: 13px;
    margin-left: 4px;
}

.larg-tex
{
    font-size: 20px;
}

.contact-btn, .contact-btn:hover, .contact-btn:focus
{
    color: #969090;
    background-color: #fff;
    border-color: #a5a8ad;
    border-radius: 6px;
    line-height: 20px;
    font-size: 14px;
    float: right;
}

.spc-fix
{
    padding-left: 0px;
}

.spc-fix-rt
{
    padding-right: 0px;
}

#foot-cpe1 span
{
    float: right;
    margin-top: 4px;
}

#switch
{
    width: auto;
}

.breadcrumb
{
    padding: 8px 15px;
    margin-bottom: 17px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
}

hr
{
    margin-top: 5px;
    margin-bottom: 0px;
}

.mar-lef
{
    margin-left: 0px;
}
.mar-right
{
    margin-right:0px;
}
.no-margin
{
     padding-left: 0px !important;
      padding-right:0px!important;
}

.select-box::after
{
    position: absolute;
    bottom: .15em;
    font-family: "FontAwesome";
    content: "\f078";
    color: #6ba3e5;
    font-size: 12px;
    pointer-events: none;
    top: 20px;
    right: 20px;
}

select
{
    text-indent: 1px;
    text-overflow: clip;
    border: none;
    background-repeat: no-repeat;
    background-position: right center;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 5px;
    padding-right: 20px;
}

.pad-bottom
{
    margin: 35px 0px;
}

.validtext
{
    color: red;
    background-color: white;
}

.valid-border
{
    border: 1px solid red;
}

@media (max-width: 991px)
{
    .submit-btn
    {
        width: 100%;
        padding: 15px;
        text-transform: uppercase;
        margin: 25px 0px;
        letter-spacing: 1px;
    }

    .h1documents
    {
        padding: 15px;
        margin: 25px 0px;
    }

    .larg-tex
    {
        font-size: 18px;
        margin-bottom: 10px;
    }

    #foot-cpe p
    {
        text-align: center;
    }


    .site-info
    {
        margin-bottom: 0px;
    }

    .contact-btn, .contact-btn:hover, .contact-btn:focus
    {
        float: none;
        margin: 25px 0px;
    }

    #foot-cpe1 .img-responsive
    {
        padding: 20px;
    }

    #foot-cpe1 span
    {
        padding: 10px;
        background: #ffffff;
    }

    #foot-cpe1 .img-responsive, #foot-cpe1 span
    {
        margin: 0 auto;
        text-align: center;
        display: block;
        float: none;
    }

    .secbg-color-fte
    {
        background: #edeff5;
    }

    .mob-cont-fte
    {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }

    .breadcrumb
    {
        padding-left: 10px!important;
        font-size: 12px;
    }

    #hid-bread li:nth-child(2)::before
    {
        display: none;
    }
}

@media (max-width: 480px)
{
    .breadcrumb
    {
        font-size: 11px;
    }
}

@media screen and (min-width: 991px) and (max-width: 1199px)
{
    .breadcrumb
    {
        list-style: none;
        font-size: 11px;
    }
}

#foot-cpe1 a
{
    display: inline-block;
}

.checkbox input[type="checkbox"]
{
    opacity: 0;
    z-index: 1;
    margin-left: 10px;
}

.checkbox label::before
{
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    background-color: #f8f8f8;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox-primarybox input[type="checkbox"]:checked + label::after
{
    color: #000;
}

.checkbox input[type="checkbox"]:checked + label::after
{
    font-family: 'FontAwesome';
    content: "\f00c";
}

.checkbox label::after
{
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 2px;
    padding-left: 0px;
    padding-top: -3px;
    font-size: 12px;
    color: #555555;
}

.radio-inline
{
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: top;
    cursor: default;
}

    .radio-inline + .radio-inline
    {
        margin-top: 0;
        margin-left: 10px;
    }

input[type="radio"]
{
    z-index: 12;
    width: 18px;
    height: 18px;
    width: auto;
    outline: 0;
    vertical-align: middle;
}

input[type=radio]:checked,
input[type=radio]:focus
{
    outline: none;
}



.input-group
{
    width: 100%;
}

.form-control
{
    border: none;
    box-shadow: none;
}

input[type="text-area"]:focus
{
    outline: 0;
}

.form-control
{
    box-shadow: none!important;
}

span strong
{
    font-weight: 500;
}

@media (max-width: 767px)
{
    .lbl-ph-rad
    {
        margin-top: 5px;
        margin-left: 12px;
    }

    strong
    {
        font-weight: 600;
    }
}

@media (max-width: 991px)
{
    .foot-info
    {
        position: relative;
    }
}

.acc-color
{
    background: #fff;
}

.acc-title
{
    padding: 30px 25px;
    background: #fff;
    color: #837979;
    padding-left: 30px;
    border-bottom: 1px solid #D7D4D4;
}

.style-txt
{
    padding-left: 10px;
}

.acc-title h4
{
    display: inline-block;
}

.edit
{
    margin-top: -10px;
}

.acc-details
{
    background: #fff;
}

    .acc-details span
    {
        padding-top: 5px;
        display: inline-block;
        float: left;
        margin-left: -1px;
    }

.acc-details
{
    padding-left: 25px;
    padding-right: 25px;
}

.acc-info1
{
    margin-top: 15px;
}

.acc h1
{
    margin-bottom: 30px;
}

.tb-align td
{
    width: 57%;
    padding-top: 10px;
    padding-left: 8px;
    border-top: 1px #EDEDED solid;
    padding-bottom: 10px;
    vertical-align: middle;
    font-size: 13px;
}

    .tb-align td span
    {
        vertical-align: text-bottom;
        font-size: 10px;
        float: none;
        margin-left: 5px;
        border-bottom: 1.2px dashed rgb(147, 147, 156);
    }

.nobrd-top
{
    border-top: none !important;
}

.edit-btn, .edit-btn:hover, .edit-btn:focus
{
    color: #969090;
    background-color: #fff;
    border-color: #a5a8ad;
    border-radius: 6px;
    line-height: 20px;
    font-size: 14px;
    float: right;
}

.selected
{
    color: #fff !important;
    border: #fff !important;
}

.selcolor
{
    background: #5093e1;
}

.tbl-doc th
{
    width: 25%;
    padding-left: 15px;
}

.ins-doc td
{
    padding-left: 15px;
}

.acc-inner-desc h4
{
    padding: 10px 5px;
    font-size: 19px;
}

.acc-info1 tr:last-child
{
    border-bottom: 1px #EDEDED solid;
}

.wlcome div.center
{
    display:table;
    float:none;
    margin:0 auto;
    position:relative;
}
.center
{
   position:absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.login-bg
{
    background: #fff;
    padding-top: 30px;
    /* padding: 34px; */
   
    padding:30px ;
}

.pad-txt
{
    padding: 30px 0px;
}

@media (max-width: 991px)
{
    .login
    {
        position: absolute;
    }
}

.border-bottom-text
{
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: -15px;
    margin-right: -15px;
}

.client-txt
{
    color: #003e53;
    margin-top: 10px;
}

.login-icon
{
    padding-right: 6px;
}


.usr-bg
{
    background-color: #fff;
}

.usr-pad
{
    padding-top: 15px;
    width: 100%;
}

.pos-rel
{
    position: relative;
}

.user-details
{
    background: #fff;
    padding: 15px 20px;
    height: auto;
}

.user-details-menu
{
    padding: 15px 0px;
    background: #fff;
}

.usr-logo
{
    margin: 0 auto;
    padding-top: 30px;
}

.middle
{
    margin: 0 auto;
}


.fa-plus, .fa-pencil, .fa-trash
{
    font-size: 25px;
    font-weight: normal;
}

.plus
{
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
}

.user-btn, .user-btn:hover, .user-btn:focus
{
    color: #969090;
    background-color: #fff;
    border-color: #a5a8ad;
    border-radius: 6px;
    line-height: 20px;
    font-size: 14px;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}

.user-nav > li > a:hover, .user-nav > li > a:focus
{
    background-color: #fff;
}

.user-nav .open > a, .user-nav .open > a:hover, .user-nav .open > a:focus
{
    background-color: #fff;
    border-color: #337ab7;
}

.user-nav > li
{
    float: none;
}

.user-nav a
{
    display: inline-block;
}

.user-nav > li > .dropdown-menu
{
    width: 100%;
    background: #dfe1e5;
    color: #5093e1;
}

.user-nav > li > a
{
    padding-bottom: 10px;
    padding-top: 0;
    display: inline-block;
    color: #9b9b9d;
}

.pos-rel > li > a
{
    color: #73a9e7 !important;
}

.trans-form-pencil
{
    transform: rotate(-90deg);
}

.usr-pad
{
    padding-top: 15px;
    width: 100%;
}

.user-nav > li > .dropdown-menu
{
    width: 100%;
    background: #dfe1e5;
    color: #5093e1;
}

.pos-rel
{
    position: relative;
}

.usr-pad > li
{
    width: 100%;
}

.user-details-menu
{
    padding: 15px 0px;
    float: left;
    background: #fff;
    width: 100%;
    height: 271px;
}

.user-nav > li > a
{
    padding-bottom: 10px;
    padding-top: 0;
    display: inline-block;
    color: #9b9b9d;
}

.field-validation-error
{
    color: red;
}

textarea
{
    resize: vertical;
}

.validation-summary-errors
{
    color: red;
}

.group-check input[type=checkbox]
{
    width: 20px;
}

.v-middle
{
    margin-top: 25px;
}

.validText
{
    color: red;
}

.disclaimerMyPolicy
{
    font-style: italic;
    display: inline-block;
    padding-top: 1%;
    margin-bottom: 1%;
    padding-left:10px;
    padding-right:10px;
}

.field-validation-error, .error
{
    color: #ff0000 !important;
}

#lookup
{
    margin-top: 5px !important;
    padding-bottom: 11px;
    padding-top: 11px;
}

.next-button
{
    margin-bottom: 88px;
    margin-left:15px;
    margin-right:15px;
}



select::-ms-expand
{
    display: none;
}

span.common-anchor, span.policy-holder-name span.add-text
{
    width: 160px;
    display: block;
    word-wrap: break-word;
    float: right;
}





.floatRight
{
    float: right;
}

.padleftright
{
    padding-left:15px;
    padding-right:15px;
}
#footer1 .hiddenfooter{
position : relative;
margin-top : -35px;
height:35px;
clear:both;
}
/*radio button alignment css*/
.lookup 
{
    margin-bottom:3px !important;
}
.lblpadleft {
    padding-left:3px;
}
.padding-8
{
    padding-left: 3px;
    padding-right: 5px;
}
/*Download anchor mouse over style*/
.downloadOnmouseOver {
    cursor:pointer;
}

/*panel group padding style */
.panelgrouppadtop {
    padding-top:4px;
}
/*zip code*/
.zip-block
{
       clear:both;
}
/*vin lookup css padding botton*/
.vinpaddingbottom
{
    padding-bottom: 10px;
}
/*div pad left for check box alignment*/
.divpadleft {
    padding-left:3px;
}
.row:after
{
    content:none;
}
/*certificate css*/
.certificate {
    background-color:#FFFF99;
}

    .certificate td {
        background-color:#FFFF99 !important;
        border-bottom:1pt solid black;
    }
.nopad
{
    padding-left: 0px;padding-right: 0px;
}

.scpLogo {
    background-size: contain;
    height: 65px;
    background-position:left top;
}

.mar-bottom {
    margin-bottom: 10px;
}
/* Id card */
.id-card-view {
    border-top: 0px solid transparent;
    padding: 25px 20px 25px 20px;
}

    .id-card-view a:first-child {
        float: left;
    }

.id-card-pad {
    padding-top: 40px;
    font-size: 15px;
    font-style: italic;
}

.id-card-anchor {
    text-transform: uppercase;
}

.id-card-section {
    padding-bottom: 30px;
}

    .id-card-section .pad-bottom {
        margin-right: 13px;
    }

.id-card-anchor button {
    color: #4976bb;
}

.id-card-section span {
    font-size: 11px;
    display: block;
    padding-top: 8px;
    margin-left: 15px;
}

.id-search {
    position: realtive;
}

    .id-search button {
        position: absolute;
        right: 25px;
        padding: 3px 6px;
        text-transform: uppercase;
        background: transparent;
        border: 1px solid #999;
        top: 20px;
        font-size: 12px;
    }

    .id-search input {
        height: 38px;
    }

.id-card-section select {
    margin-bottom: 7px;
    font-size: 15px;
}

.id-card-section .select-box::after {
    top: 8px;
}

.id-card-section .name-ins {
    box-shadow: none;
    margin-top: 30px;
}

.id-card-section ul.pagination {
    position: relative;
    padding: 0 10px 0 10px;
}

.id-card-section .pagination > li > a, .id-card-section .pagination > li > span {
    border: none;
}

    .id-card-section .pagination > li > a.active {
        color: #837979;
    }

ul.pagination:before {
    content: "\f104";
    position: absolute;
    font-family: "FontAwesome";
    color: #6ba3e5;
    font-size: 16px;
    top: 5px;
    pointer-events: none;
    left: 0px;
    font-weight: bold;
}

ul.pagination:after {
    content: "\f105";
    position: absolute;
    font-family: "FontAwesome";
    color: #6ba3e5;
    font-weight: bold;
    font-size: 16px;
    top: 5px;
    right: 0px;
    pointer-events: none;
}
.policy-view-custom {
    padding: 25px 20px 25px 20px !important;
}
    .policy-view-custom a {
    letter-spacing:1px !important;

    }
@media (max-width: 767px) {
    .footer-actions {
        position: fixed;        
        left: 0;
        width: 94%;
        z-index: 100;
        /*background-color: #fff;*/
        bottom:0px;
        padding-top: 30px;
        padding-left:6%;
     
    }
}

    /*Policy summary specific css<style type="text/css" >*/
    /*.sectionTitle h5 {
        align-content: center
    }

    @media only screen and (min-width:768px) {
        .span4 {
            width: 25%;
            box-sizing: border-box;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            float: left;
            margin-top: 30px;
        }

        .span6 {
            width: 50%;
            box-sizing: border-box;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            float: left;
            margin-top: 30px;
        }

        .ps-large {
            padding: 30px 20px 25px 20px;
            background: #fff;
            color: #837979;
        }

        .ps-section {
            margin-top: 30px;
        }
    }

    @media only screen and (max-width: 767px) {
        .span4 {
            width: 100%;
            box-sizing: border-box;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            float: left;
            margin-top: 30px;
        }
        .ps-large {
            padding: 30px 20px 25px 20px;
            background: #fff;
            color: #837979;
        }
        .ps-section {
            margin-top: 30px;
        }
    }

    .sectionTitle {
        padding: 30px 20px 20px 20px;
        background: #fff;
        color: #837979;
        align-content: center;
        border-bottom: 1px solid #D7D4D4;
    }*/
