#policy-summary .ps-section table {
    width: 100% !important;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 5px 6px -6px black;
    border: 15px solid white;
}

#policy-summary .ps-section table thead td {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 11px;
    padding: 6px;
}

#policy-summary .ps-section table tbody > tr > td {
    padding: 6px;
    font-size: 12px;
}

#policy-summary .ps-section table tbody > tr:nth-child(odd) > td {
    background-color: #f2f2f2;
}

#policy-summary .ps-section h5
{
    display: block;
    padding: 15px 25px;
    background: rgb(90, 85, 85) none;
    color: #fff;
    padding-left: 20px;
    font-size: 18px;
}

#policy-summary .ps-section .package-header {
    margin-bottom: 12px;
}

#policy-summary .package-header + table > tbody > tr:nth-child(odd) > td {
    background-color: #fff;
}

#policy-summary table .ps-section > h4,
#policy-summary table .ps-section > h6 {
    display: block;
    background: #fff;
    padding: 12px;
}

#policy-summary .row-fluid {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#policy-summary .ps-customer-header,
#policy-summary .ps-policy-header,
#policy-summary .ps-carrier-header,
#policy-summary .ps-named-insured
{
    background: #fff;
    color: #837979;
    margin-bottom: 20px;
}

#policy-summary .ps-customer-header,
#policy-summary .ps-policy-header,
#policy-summary .ps-carrier-header {
    width: 30%;
}

#policy-summary .ps-named-insured {
    width: 100%;
}


#policy-summary .ps-customer-header h5,
#policy-summary .ps-policy-header h5,
#policy-summary .ps-carrier-header  h5,
#policy-summary .ps-named-insured h5 {
    display: block;
    padding: 30px 25px;
    border-bottom: 1px solid #D7D4D4;
    font-size: 18px;
}


#policy-summary .ps-large {
    padding: 30px 25px;
}

#policy-summary .ps-large div {
    padding-top: 10px;
    padding-left: 8px;
    border-top: 1px #EDEDED solid;
    padding-bottom: 10px;
    vertical-align: middle;
    font-size: 13px;
}

#policy-summary .ps-large div:first-child {
    border-top: 0;
}

.ps-section .bufbot  .btn {
    margin-bottom: 12px;
}
