/* Policy details */
.policy-title, .policy-desc
{
  padding: 15px 25px;
  background: rgb(90, 85, 85) none repeat scroll 0% 0%;
  color: #fff;
  padding-left: 20px;
}

.policy-title h4
{
  margin-bottom: 0px;
  line-height: 15px;
}

.policy-title span, .policy-desc span
{
  font-size: 11px;
  padding-left: 0px;
}

.policy-details
{
  background: #fff;
  padding: 15px 20px;
  height: auto;
}

.policy-details span
{
  font-size: 11px;
  display: block;
  margin-bottom: 0px;
  color: #838484;
}

.policy-details .policy-value h3
{
  font-size: 35px;
  margin-top: 30px;
  font-weight: 200;
  margin-bottom: 0px;
}

.policy-details h4
{
  margin-bottom: 0px;
  margin-top: 0px;
}

.policy-details a
{
  color: #468fe4;
}

.policy-info1
{
  margin-top: 25px;
  height:100%;
}

.policy-view-links
{
  overflow: hidden;
  background: #fff;
  padding: 25px;
  text-align: right;
  border-top: 1px solid #989c98;
}

.policy-view-links a
{
  background: #fff;
  letter-spacing: 2px;
  color: #858687;
}

.policy-desc h4
{
  display: inline-block;
}

.stacktable
{
  width: 100%;
}

.st-head-row
{
  padding-top: 1em;
}

.st-head-row.st-head-row-main
{
  font-size: 1.5em;
  padding-top: 0;
}

.st-key
{
  width: 49%;
  text-align: left;
  padding-right: 1%;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px !important;
}

.st-val
{
  width: 49%;
  padding-left: 1%;
}

.name-ins
{
  padding: 15px;
  background: #fff;
  margin-bottom: 20px;
  box-shadow: 0 5px 6px -6px black;
}

.name-ins th
{
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 11px;
}

.name-ins th, .name-ins td
{
  padding: 6px;
}

.name-ins td
{
  font-size: 12px;
}

.table-con > tbody > tr:nth-child(even) > td
{
  background-color: #f2f2f2;
}

/* RESPONSIVE EXAMPLE */

.stacktable.large-only
{
  display: table;
}

.stacktable.small-only
{
  display: none;
}
