<div class="modal fade" id="viewSecurityRole" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-lg">

            <div class="modal-header modal-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="modal-title">
                    Configuration Administration
                </div>
            </div>

            <div class="modal-body">

                <label class="no-margin-top">Description</label>
                <p>Permission set for managing lists of available inmate calling schedules &amp; restrictions, lists of items associated with facility users, and basic phone system configurations.</p>

                <div class="bff-include" data-src="pages/manage/security-roles/modals/view/view-single-user-permissions-content.html"></div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>
