<div class="row">

    <div class="col-md-4" style="background-color: white; padding-right: 0; border-top: 1px solid #e5e5e5">

        <div class="row">

            <div class="col-md-12" style="padding-left: 0;">

                <h4 class="selected-seperator" style="margin-bottom: 0; border: none; padding-left: 15px;">Select Role</h4>

                <div class="filter-search">
                    <input type="text" class="form-control" style="border-radius: 0; box-shadow: none; border-right: none; border-left: none;">
                    <span class="fa fa-search filter-search-icon"></span>
                </div>

            </div>

        </div>


        <ul class="bsnav bsnav-pills bsnav-stacked role-select location-modal-height security-role-select-nav select-role-height">
            <li>
                <label class="rounded-check">
                    <input type="checkbox">
                    <span class="icon"></span>
                </label>
                <a class="select-role testing">
                    All Access
                </a>
            </li>
            <li>
                <label class="rounded-check">
                    <input type="checkbox">
                    <span class="icon"></span>
                </label>
                <a class="select-role testing">
                    CDR Search
                </a>
            </li>
            <li>
                <label class="rounded-check">
                    <input type="checkbox">
                    <span class="icon"></span>
                </label>
                <a class="select-role testing">
                    Configuration Access
                </a>
            </li>
            <li>
                <label class="rounded-check">
                    <input type="checkbox">
                    <span class="icon"></span>
                </label>
                <a class="select-role testing">
                    Inmate Access
                </a>
            </li>
            <li>
                <label class="rounded-check">
                    <input type="checkbox">
                    <span class="icon"></span>
                </label>
                <a class="select-role testing">
                    Inmate Debit Access
                </a>
            </li>
            <li>
                <label class="rounded-check">
                    <input type="checkbox">
                    <span class="icon"></span>
                </label>
                <a class="select-role testing">
                    Inmate Management
                </a>
            </li>
            <li>
                <label class="rounded-check">
                    <input type="checkbox">
                    <span class="icon"></span>
                </label>
                <a class="select-role testing">
                    Investigative Access
                </a>
            </li>
            <li>
                <label class="rounded-check">
                    <input type="checkbox">
                    <span class="icon"></span>
                </label>
                <a class="select-role testing">
                    Live Monitor
                </a>
            </li>
            <li>
                <label class="rounded-check">
                    <input type="checkbox">
                    <span class="icon"></span>
                </label>
                <a class="select-role testing">
                    Phone Number Access
                </a>
            </li>
            <li>
                <label class="rounded-check">
                    <input type="checkbox">
                    <span class="icon"></span>
                </label>
                <a class="select-role testing">
                    Phone Number Management
                </a>
            </li>
            <li>
                <label class="rounded-check">
                    <input type="checkbox">
                    <span class="icon"></span>
                </label>
                <a class="select-role testing">
                    Secure Call Management
                </a>
            </li>
            <li>
                <label class="rounded-check">
                    <input type="checkbox">
                    <span class="icon"></span>
                </label>
                <a class="select-role testing">
                    System Log Access
                </a>
            </li>
            <li>
                <label class="rounded-check">
                    <input type="checkbox">
                    <span class="icon"></span>
                </label>
                <a class="select-role testing">
                    User Administration
                </a>
            </li>
        </ul>

    </div>

    <div class="col-md-8 security-modal-divider" style="border-top: 1px solid #e5e5e5">

        <div class="testing-yo">
            <div class="bff-include" data-src="pages/manage/security-roles/modals/no-role-selected.html"></div>
        </div>

        <div class="test">

            <h4>All Access</h4>

            <p class="security-role-desc">"Super User" with access to everything.</p>

            <div class="row">

                <div class="col-md-4 location-modal-height">

                    <ul class="bsnav bsnav-pills bsnav-stacked select-location-nav">
                        <li class="admin active"><a>Admin</a>
                        </li>
                        <li class="call-settings"><a>Call Settings</a>
                        </li>
                        <li class="dashboard"><a>Dashboard</a>
                        </li>
                        <li class="facilities-and-sites"><a>Facilities &amp; Sites</a>
                        </li>
                        <li class="inmates"><a>Inmates</a>
                        </li>
                        <li class="logging"><a>Logging</a>
                        </li>
                        <li class="monitor"><a>Monitor</a>
                        </li>
                        <li class="search"><a>Search</a>
                        </li>
                        <li class="users"><a>Users</a>
                        </li>
                    </ul>

                </div>

                <div class="col-md-8 location-modal-height security-modal-divider">

                    <div class="bff-include modal-location-type admin-selections" data-src="pages/manage/security-roles/modals/locations/admin.html"></div>

                    <div class="bff-include modal-location-type call-settings-selections" data-src="pages/manage/security-roles/modals/locations/call-settings.html"></div>

                    <div class="bff-include modal-location-type dashboard-selections" data-src="pages/manage/security-roles/modals/locations/dashboard.html"></div>

                    <div class="bff-include modal-location-type facilities-and-sites-selections" data-src="pages/manage/security-roles/modals/locations/facilities-and-sites.html"></div>

                    <div class="bff-include modal-location-type logging-selections" data-src="pages/manage/security-roles/modals/locations/logging.html"></div>

                    <div class="bff-include modal-location-type monitor-selections" data-src="pages/manage/security-roles/modals/locations/monitor.html"></div>

                    <div class="bff-include modal-location-type search-selections" data-src="pages/manage/security-roles/modals/locations/search.html"></div>

                    <div class="bff-include modal-location-type users-selections" data-src="pages/manage/security-roles/modals/locations/users.html"></div>

                    <div class="bff-include modal-location-type inmates-selections" data-src="pages/manage/security-roles/modals/locations/inmates.html"></div>

                </div>

            </div>

        </div>

    </div>

</div>

<script>

(function() {

    //------------------------------
    //Todo: Do we still need this?
    $('.test').hide();
    $('.testing').click(function() {
        $('.test').show();
        $('.testing-yo').hide();
    });
    //------------------------------


    $('ul.role-select li a').click(function() {
        $('ul.role-select li').removeClass('active');
        $(this).closest('li').addClass('active');
    });

    $('.modal-selected-type').hide();
    $('.modal-location-type').hide();
    $('.admin-selections').show();

    $('.admin').click(function() {
        $('.modal-location-type').hide();
        $('.admin-selections').show();

        $('ul li').removeClass('active');
        $(this).addClass('active');
    });

    $('.call-settings').click(function() {
        $('.modal-location-type').hide();
        $('.call-settings-selections').show();

        $('ul li').removeClass('active');
        $(this).addClass('active');
    });

    $('.dashboard').click(function() {
        $('.modal-location-type').hide();
        $('.dashboard-selections').show();

        $('ul li').removeClass('active');
        $(this).addClass('active');
    });

    $('.facilities-and-sites').click(function() {
        $('.modal-location-type').hide();
        $('.facilities-and-sites-selections').show();

        $('ul li').removeClass('active');
        $(this).addClass('active');
    });

    $('.inmates').click(function() {
        $('.modal-location-type').hide();
        $('.inmates-selections').show();

        $('ul li').removeClass('active');
        $(this).addClass('active');
    });

    $('.logging').click(function() {
        $('.modal-location-type').hide();
        $('.logging-selections').show();

        $('ul li').removeClass('active');
        $(this).addClass('active');
    });

    $('.monitor').click(function() {
        $('.modal-location-type').hide();
        $('.monitor-selections').show();

        $('ul li').removeClass('active');
        $(this).addClass('active');
    });

    $('.search').click(function() {
        $('.modal-location-type').hide();
        $('.search-selections').show();

        $('ul li').removeClass('active');
        $(this).addClass('active');
    });

    $('.users').click(function() {
        $('.modal-location-type').hide();
        $('.users-selections').show();

        $('ul li').removeClass('active');
        $(this).addClass('active');
    });

})();




</script>
