body {
    font-size: 8pt !important;
    zoom: 1 !important;
    overflow: visible !important;
}

a[href]:after {
    content: "";
}

#Header, .footer, #LeftPanel, #Navbar, .triLevelTabs, .linkBar,
#policiesTable th:first-child, #policiesTable .policyRow td:first-child {
	display: none !important;
}

#LayoutContainer {
	top: 0px !important;
	height: auto !important;
	width: auto !important;
}
    
.pane.ui-layout-center {
	margin: 0px !important;
	width: auto !important;
	height: auto !important;
    overflow: visible !important;
}

.stickyNotes { 
    float: none !important; 
    margin: 0 !important;
}

.tabContent, #ApplicantContextInfoBar {
    padding: 0 !important;
    margin: 0 !important;
}
.PageTitle {
	color: #000;
	border-bottom: solid 1px #000;
}

/* Policy Detail */
.policyPageContent.pushLeft {
    margin-left: 0 !important;
}
.menuButtons, .sideNav { 
    display: none;
}