@font-face {
    font-family: 'Sofia Pro Black';
    src: url('/css/fonts/SofiaProBlack/sofiaproblack-webfont.woff2') format('woff2'),
         url('/css/fonts/SofiaProBlack/sofiaproblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}