<script id="prospecting-list-item-commercial-description" type="x-handlebars-template">
    <h2 class="h2 mb-3">{{firstName}} {{lastName}}</h2>

    <div class="content-container-1 flex-space-between mb-3">
        <div class="flex-container-align-center">
            <span class="flex-container-align-center mr-4">
                <i class="icon-link icon-large mr-1" aria-hidden="true"></i>
                <a href="javascript:;">Create Personal URL( PURL)</a> 
            </span>

            <span class="flex-container-align-center mr-4">
                {{#if completed}}
                    <i class="icon-ok-sign icon-large completed mr-1" aria-hidden="true"></i>
                {{else}}
                    <i class="icon-ok-sign icon-large mr-1" aria-hidden="true"></i>
                {{/if}}
                <a href="javascript:;" onclick="markApplicantAsCompleted.call(this)">Mark as Completed</a>
            </span>

            <span class="flex-container-align-center mr-4">
                <i class="icon-briefcase icon-large mr-1" aria-hidden="true"></i>
                <a href="javascript:;" onclick="toggleRightPanel(); toggleCreateNewOpportunityWorkspace();">Create Opportunity</a> 
            </span>

            <span class="flex-container-align-center">
                <i class="icon-envelope icon-large mr-1" aria-hidden="true"></i>
                <a href="javascript:;">Email Campaign</a> 
            </span>
        </div>

        <div>
            <button class="btn btn-primary" onclick="showEditMode()">Edit</button>
        </div>
    </div>

    <div class="content-container-1 mb-3">
        <ul class="row">
            <li class="col-md-3 border-right-grey">
                <span class="uppercase">Business Name</span>
                <div class="normal-bold-text">{{companyName}}</div>
            </li>

            <li class="col-md-3 border-right-grey">
                <span class="uppercase">LAST CONTACTED</span>
                <div class="normal-bold-text">11/24/2016 5:32pm</div>
            </li>

            <li class="col-md-3 border-right-grey">
                <span class="uppercase">X-DATE</span>
                <div class="normal-bold-text">{{xDate}}</div>
            </li>

            <li class="col-md-3">
                <span class="uppercase">PROSPECT SOURCE</span>
                <div class="normal-bold-text">Bank Rate</div>
            </li>
        </ul>
    </div>

    <div class="content-container-1 mb-3">
        <ul class="row">
            <li class="col-md-4 border-right-grey">
                <div class="row">
                    <div class="col-md-1">
                        <i class="icon-envelope icon-large" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11">
                        <div class="uppercase">Business Email</div>
                        <div>
                            <a href="#"><b>{{email}}</b></a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="col-md-4 border-right-grey">
                <div class="row">
                    <div class="col-md-1">
                        <i class="icon-phone icon-large" aria-hidden="true"></i>
                    </div>

                    <div class="col-md-8">
                        <div class="uppercase">Business Phone</div>
                        <div class="mb-3 normal-bold-text">
                            <span>{{phone}}</span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="uppercase">Ext</div>
                        <div class="mb-3 normal-bold-text">
                            <span>21</span>
                        </div>
                    </div>                    
                </div>
            </li>

            <li class="col-md-4">
                <div class="row">
                    <div class="col-md-1">
                        <i class="icon-map-marker icon-large" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11">
                        <div class="uppercase">Business address)</div>
                        <div class="mb-3">
                            <div class="normal-bold-text">{{streetAddress}}</div>
                            <div class="normal-bold-text">{{city}}, {{state}} {{postalCode}}</div>
                            <div class="normal-bold-text">COLLIN COUNTY</div>
                        </div>

                        <div class="font-italic">2 years 3 months at address</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="content-container-1 mb-3">
        <ul class="row">
            <li class="col-md-4 border-right-grey">
                <div class="row">
                    <div class="col-md-1">
                        <i class="icon-envelope icon-large" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11">
                        <div class="uppercase">Email (Primary Contact)</div>
                        <div>
                            <a href="#"><b>{{email}}</b></a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="col-md-4">
                <div class="row">
                    <div class="col-md-1">
                        <i class="icon-phone icon-large" aria-hidden="true"></i>
                    </div>

                    <div class="col-md-11">
                        <div class="uppercase">Mobile (Primary Contact)</div>
                        <div class="mb-3 normal-bold-text">
                            <span>{{phone}}</span>
                        </div>
                    </div>                 
                </div>
            </li>
        </ul>
    </div>    

    <div>
        <label class="color-grey500">NOTES</label>
        <div class="mt1">
            <textarea rows="10" cols="100"></textarea>
        </div>
        <span class="color-grey500">0/500</span>
    </div>

    <ul class="tabs">
        {{#if applicant}}
            <li class="tab" data-tab-name="opportunity-info">
                <a class="tab-link active" href="javascript:void(0);" title="Opportunity Info">
                    <span class="title font-size-small">Opportunity Info</span>
                </a>
            </li>

            <li class="tab" data-tab-name="activity">
                <a class="tab-link" href="javascript:void(0);" title="Activity">
                    <span class="title font-size-small">Activity</span>
                </a>
            </li>
        {{else}}
            <li class="tab" data-tab-name="activity">
                <a class="tab-link active" href="javascript:void(0);" title="Activity">
                    <span class="title font-size-small">Activity</span>
                </a>
            </li>
        {{/if}}
    </ul>

    <div class="my-3">
        {{#if applicant}}
            <div class="tab-content js-opportunity-info">
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Created Date</th>
                                <th>Closed Date</th>
                                <th>X-Date</th>
                                <th>Status</th>
                                <th>Producer</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>08/22/2017</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Commercial Download</td>
                            </tr>

                            <tr>
                                <td></td>
                                <td>Anuity</td>
                                <td>---</td>
                                <td>    08/30/2017</td>
                                <td>Submitted</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>2.</td>
                                <td>08/22/2017</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Commercial Download</td>
                            </tr>

                            <tr class="sub-table-row">
                                <td></td>
                                <td>Accidental D&D</td>
                                <td>---</td>
                                <td>    08/30/2017</td>
                                <td>Submitted</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>3.</td>
                                <td>08/22/2017</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Commercial Download</td>
                            </tr>

                            <tr class="sub-table-row">
                                <td></td>
                                <td>Auto (Personal)</td>
                                <td>---</td>
                                <td>    08/30/2017</td>
                                <td>Submitted</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>4.</td>
                                <td>08/22/2017</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Commercial Download</td>
                            </tr>

                            <tr class="sub-table-row">
                                <td></td>
                                <td>Auto (Personal)</td>
                                <td>---</td>
                                <td>    08/30/2017</td>
                                <td>Submitted</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-content js-activity hide-content">
        {{else}}
            <div class="tab-content js-activity">
        {{/if}}
                <ul>
                    <li class="pb-3 mb-4 border-bottom-grey">
                        <h5 class="h5 mb-3">Lorem Ipsum Dolor</h5>

                        <div class="clearfix">
                            <div class="pull-left">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <span class="fa-stack fa-sm teal400">
                                          <i class="fa fa-circle fa-stack-2x"></i>
                                          <i class="fa fa-square-o fa-sm fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>

                                    <div class="pull-left ml-2">
                                        <p class="mb-1">Lorem ipsum dolor sit amet</p>
                                        <div class="mb-1">
                                            <i class="linearicon-tag teal400 mr-1" aria-hidden="true"></i>
                                            <span class="teal400">Lorem ipsum, dolor sit amet</span>
                                        </div>
                                        <div class="color-grey500">Task assigned to Margie Kane Due on May 17, 2017</div>
                                        <div class="color-grey500">Alex Jones - 5/10/17 at 1:09 PM</div>
                                    </div>
                                </div>
                            </div>

                            <div class="pull-right">
                                <div class="btn-group btn-group-lg" role="group" aria-label="...">
                                  <button type="button" class="btn btn-default">
                                      <i class="linearicon-tag fa-lg color-grey1000" aria-hidden="true"></i>
                                  </button>
                                  <button type="button" class="btn btn-default">
                                      <i class="linearicon-pushpin fa-lg color-grey1000" aria-hidden="true"></i>
                                  </button>
                                  <button type="button" class="btn btn-default">
                                      <i class="fa fa-pencil fa-lg color-grey1000" aria-hidden="true"></i>
                                  </button>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="pb-3 mb-4 border-bottom-grey">
                        <h5 class="h5 mb-3">Lorem Ipsum Dolor</h5>

                        <div class="clearfix">
                            <div class="pull-left">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <span class="fa-stack fa-sm teal400">
                                          <i class="fa fa-circle fa-stack-2x"></i>
                                          <i class="fa fa-square-o fa-sm fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>

                                    <div class="pull-left ml-2">
                                        <p class="mb-1">Lorem ipsum dolor sit amet</p>
                                        <div class="mb-1">
                                            <i class="linearicon-tag teal400 mr-1" aria-hidden="true"></i>
                                            <span class="teal400">Lorem ipsum, dolor sit amet</span>
                                        </div>
                                        <div class="color-grey500">Task assigned to Margie Kane Due on May 17, 2017</div>
                                        <div class="color-grey500">Alex Jones - 5/10/17 at 1:09 PM</div>
                                    </div>
                                </div>
                            </div>

                            <div class="pull-right">
                                <div class="btn-group btn-group-lg" role="group" aria-label="...">
                                  <button type="button" class="btn btn-default">
                                      <i class="linearicon-tag fa-lg color-grey1000" aria-hidden="true"></i>
                                  </button>
                                  <button type="button" class="btn btn-default">
                                      <i class="linearicon-pushpin fa-lg color-grey1000" aria-hidden="true"></i>
                                  </button>
                                  <button type="button" class="btn btn-default">
                                      <i class="fa fa-pencil fa-lg color-grey1000" aria-hidden="true"></i>
                                  </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
    </div>
</script>
