<script id="prospecting-list-item-edit-mode" type="x-handlebars-template">
    <h2 class="h2 mb-3">{{firstName}} {{lastName}}</h2>

    <div class="content-container-1 flex-space-between mb-3">
        <div class="flex-container-align-center">
            <span class="flex-container-align-center mr-4">
                <i class="icon-link icon-large mr-1" aria-hidden="true"></i>
                <a href="javascript:;">Create Personal URL( PURL)</a> 
            </span>

            <span class="flex-container-align-center mr-4">
                {{#if completed}}
                    <i class="icon-ok-sign icon-large completed mr-1" aria-hidden="true"></i>
                {{else}}
                    <i class="icon-ok-sign icon-large mr-1" aria-hidden="true"></i>
                {{/if}}
                <a href="javascript:;" onclick="markApplicantAsCompleted.call(this)">Mark as Completed</a>
            </span>

            <span class="flex-container-align-center mr-4">
                <i class="icon-briefcase icon-large mr-1" aria-hidden="true"></i>
                <a href="javascript:;" onclick="toggleRightPanel(); toggleCreateNewOpportunityWorkspace();">Create Opportunity</a> 
            </span>

            <span class="flex-container-align-center">
                <i class="icon-envelope icon-large mr-1" aria-hidden="true"></i>
                <a href="javascript:;">Email Campaign</a> 
            </span>
        </div>

        <div>
            <button class="btn btn-primary" onclick="showProspectingItemDetails()">Save</button>
            <button class="btn btn-outline-primary" onclick="showProspectingItemDetails()">Cancel</button>
        </div>
    </div>

    <div class="js-applicant-info">
        <div class="ez-dropdown-container content-container bg-gray200 mb-4">
            <div class="ez-dropdown-heading collapsed" data-toggle="collapse" data-target="#personal-details" aria-expanded="true">
                <h2 class="h2">Personal Details</h2>
                <a href="javascript:;">
                    <i class="icon-chevron-sign-down linearicon-chevron-down"></i>
                    <i class="icon-chevron-up linearicon-chevron-up"></i>
                </a>
            </div>

            <div class="ez-dropdown-content collapse" id="personal-details" tabindex="-1" style="">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Prefix</label>
                            <select class="form-control">
                                <option value="" selected="" class="">Prefix</option>
                                <option value="DR" label="DR">DR</option>
                                <option value="MR" label="MR">MR</option>
                                <option value="MRS" label="MRS">MRS</option>
                                <option value="MS" label="MS">MS</option>
                            </select>                            
                        </div>

                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" placeholder="First Name" value={{firstName}}>
                        </div>

                        <div class="form-group">
                            <label>Middle Name</label>
                            <input type="text" class="form-control" placeholder="Middle Name">
                        </div>

                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name" value={{lastName}}>
                        </div>

                        <div class="form-group">
                            <label>Suffix</label>
                            <select class="form-control">
                                <option value="" selected="" class="">Suffix</option>
                                <option value="I" label="I">I</option>
                                <option value="II" label="II">II</option>
                                <option value="III" label="III">III</option>
                                <option value="JR" label="JR">JR</option>
                                <option value="SR" label="SR">SR</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Gender</label>
                            <select class="form-control">
                                <option value="" selected="" class="">Gender</option>
                                <option value="Female" label="Female">Female</option>
                                <option value="Male" label="Male">Male</option>
                            </select>                            
                        </div>

                        <div class="form-group">
                            <label>DOB</label>
                            <div class="input-group">
                                <input type="text" class="form-control" aria-describedby="basic-addon2" onblur="formatDate(this); ">
                                <span class="input-group-addon" id="basic-addon2">
                                    <i class="linearicon-calendar-full linearicon-lg"></i>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Marital Status</label>
                            <select class="form-control">
                                <option value="" selected="" class="">Marital Status</option>
                                <option value="Divorced" label="Divorced">Divorced</option>
                                <option value="DomesticPartner" label="DomesticPartner">DomesticPartner</option>
                                <option value="Married" label="Married">Married</option>
                                <option value="Separated" label="Separated">Separated</option>
                                <option value="Single" label="Single">Single</option>
                                <option value="Widowed" label="Widowed">Widowed</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>SSN</label>
                            <input type="text" class="form-control" placeholder="SSN" onblur="formatSSN(this)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ez-dropdown-container content-container bg-gray200 mb-4">
        <div class="ez-dropdown-heading collapsed" data-toggle="collapse" data-target="#contact-info" aria-expanded="true">
            <h2 class="h2">Contact Info</h2>
            <a href="javascript:;">
                <i class="icon-chevron-sign-down linearicon-chevron-down"></i>
                <i class="icon-chevron-up linearicon-chevron-up"></i>
            </a>
        </div>

        <div class="ez-dropdown-content collapse" id="contact-info" tabindex="-1" style="">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="flex-container-align-center">
                            <label class="mr-3" for="input-phone">Phone</label>
                            <a href="javascript:;" class="add-additional-input" onclick="addAdditionalPhoneRow.call(this)">
                                <i  class="linearicon-plus-circle linearicon-lg"></i>
                            </a>
                        </div>

                        <div class="js-container-phone-list mb-4">
                            <div class="row mb-2 js-phone-input-row">
                                <div class="col-md-3">
                                    <select class="form-control" onchange="updatePhoneType.call(this)">
                                        <option>Home</option>
                                        <option>Work</option>
                                        <option>Mobile</option>
                                        <option>Fax</option>
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="input-phone">
                                </div>

                                <div class="col-md-2 js-phone-ext-input hide-content" style="display: none;">
                                    <input type="text" class="form-control" placeholder="ext">
                                </div>

                                <div class="col-md-3 flex-container-align-center">
                                    <a href="javascript:;" class=" text-danger" onclick="deleteRow.call(this)">
                                        <i class=" linearicon-trash2 linearicon-lg" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group js-email-container">
                        <div class="flex-container-align-center">
                            <label class="mr-3" for="input-applicant-email">Email</label>
                            <a href="javascript:;" class="add-additional-input" onclick="addAdditionalEmailRow.call(this);">
                                <i  class="linearicon-plus ml-2"></i>
                            </a>
                        </div>

                        <div class="js-container-email-list mb-4">
                            <div class="row mb-2 js-email-input-row">
                                <div class="col-md-3">
                                    <select class="form-control">
                                        <option>Primary</option>
                                        <option>Secondary</option>
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="input-applicant-email">
                                </div>

                                <div class="col-md-3 flex-container-align-center">
                                    <a href="javascript:;" class=" text-danger" onclick="showAddEmailButton.call(this); deleteRow.call(this);">
                                        <i class=" linearicon-trash2 linearicon-lg" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input-contact-method">Contact Method</label>
                        <div class="form-inline">
                            <select class="form-control" id="input-contact-method">
                                <option>Email</option>
                                <option>Home Phone</option>
                                <option>Work Phone</option>
                                <option>Mobile Phone</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input-contact-time">Contact Time</label>
                        <div class="form-inline">
                            <select class="form-control" id="input-contact-time">
                                <option>Morning</option>
                                <option>Afternoon</option>
                                <option>Evening</option>
                                <option>Anytime</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ez-dropdown-container content-container bg-gray200 mb-4">
        <div class="ez-dropdown-heading collapsed" data-toggle="collapse" data-target="#prospect-info" aria-expanded="true">
            <h2 class="h2">Prospect Info</h2>
            <a href="javascript:;">
                <i class="icon-chevron-sign-down linearicon-chevron-down"></i>
                <i class="icon-chevron-up linearicon-chevron-up"></i>
            </a>
        </div>

        <div class="ez-dropdown-content collapse" id="prospect-info" tabindex="-1" style="">
            <div class="row">
                <div class="col-md-12">
                    <div class="row mb-1">
                        <div class="col-md-2">
                            <label>Prospect Source</label>
                        </div>

                        <div class="col-md-5">
                            <select class="form-control">
                                <option>Ad - Other</option>
                                <option>ADD</option>
                                <option>Bank Rate</option>
                                <option>Email</option>
                                <option>Google</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-2">
                            <label>X-Date</label>
                        </div>

                        <div class="col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-describedby="basic-addon2">
                                <span class="input-group-addon" id="basic-addon2">
                                    <i class="linearicon-calendar-full linearicon-lg"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-2">
                            <label>Notes</label>
                        </div>
                        <div class="col-md-5">
                            <textarea class="form-control" rows="10" cols="100"></textarea>
                            <span class="color-grey800">0/500</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
