.criteria td,
.payee td {
    vertical-align: middle;
}
.payee td {
    padding-right: 0;
    padding-left: 0;
}

.criteria td.hide {
    color: transparent !important;
}


.rule-value { display: none; }

.rule-operator-relational { display: none; }

.rule-value .rule-value-input {  display: none;  }

.rule-value-input.show { display: inline-block; }

.service-team-member {
    display: none;
}

.payment-dollar {
    display: none;
}

.payment-amount {
    width: 6em;
}

.payment-percentage {
    display: inline-block;
}

.service-team {
    display: none;
}


.criteria-form .criteria-operator:first-of-type {
    display: none;
}

.criteria-form-operator {
    display: none;
}

.criteria-form-operator-and {
    display: inline;
}
.criteria-form-operator-or {
    display: none;
}

.templates {
    display: none;
}