@import "../fonts/opensans/opensans_bold/stylesheet.css";
@import "../fonts/opensans/opensans_semibold/stylesheet.css";



.color-white { color: #fff; }
.color-gray-xx-light { color: #ecf0f1; }
.color-gray-x-light { color: #cacaca; }
.color-gray-light { color: #a3a3a3; }
.color-gray-medium { color: #626262; }
.color-bg-blue { color: #3498db; }
.color-text-blue { color: #2980b9; }
.color-green { color: #4eb96e; }
.color-red { color: #ef5149; }
.color-yellow { color: #f19b21; }

.bg-white { background-color: #fff; }
.bg-gray-xx-light { background-color: #ecf0f1; }
.bg-gray-x-light { background-color: #cacaca; }
.bg-gray-light { background-color: #a3a3a3; }
.bg-gray-medium { background-color: #626262; }
.bg-bg-blue { background-color: #3498db; }
.bg-text-blue { background-color: #2980b9; }
.bg-green { background-color: #4eb96e; }
.bg-red { background-color: #ef5149; }

.border-gray-x-light { border-color: #cacaca; }

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Semibold', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

a:visited,
a:hover,
a:active{
  text-decoration: none;
}

input[disabled="disabled"] {
  cursor: no-drop;
}

.height-auto {
  height: auto;
}

.divider-vertical {
  width: 1px;
  height: 2em;
  padding: 0;
}

.fit-always {
  width: 100%;
}

.shadow {
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
}

.login-page {
  height: 100vh;
  display: flex;
  align-items: stretch;
}

.login-container {
  width: 50%;
  margin-bottom: 200px;
}

.login-logo-ezlynx {
  text-indent: -9999px;
  background: url(../images/logo-ezlynx--gray.svg) no-repeat left top;
  width: 148px;
  height: 70px;
  background-size: 148px 70px;
}

.login-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50%;
  padding-top: 16px;
  background: linear-gradient(to bottom, rgba(255,255,255,0), #ecf0f1 20%)
}

.login-ad-container {
  position: relative;
}

.login-ad-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
}

.browser-icon {
  background: url(../images/browsers/chrome_firefox_opera_safari_ie-32.png) no-repeat left top;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  overflow: hidden;
}

.browser-icon.browser-chrome {
    background-position-x: 0;
}

.browser-icon.browser-firefox {
  background-position-x: -32px;
}

.browser-icon.browser-opera {
  background-position-x: -64px;
}

.browser-icon.browser-safari {
  background-position-x: -96px;
}

.browser-icon.browser-ie {
  background-position-x: -128px;
}




@media (max-width: 610px) { /* max-height: 560px */
  .login-container {
    width: 95%;
  }

  .login-ad {
    display: none;
  }

  .login-container-footer .right {
    display: block;
    text-align: left;
    float: left;
  }

  .login-footer {
    position: static;
    width: 100%;
  }

  .login-footer .divider-vertical {
    display: none;
  }
}

@media (min-width: 611px) and (max-width:1030px) {  /* max-height: 760px */
  .login-container {
    width: 85%;
  }

  .login-container-footer .right {
    display: block;
    text-align: left;
    float: left;
  }

  .login-footer {
    position: static;
    width: 100%;
  }
}

@media (min-width: 1031px) and (max-width: 1600px){ /* max-height: 560px */
  .login-container {
    width: 70%;
  }
}
