.icon-folder-gray {
	background-image: url('png/folder-gray.png');
	background-repeat: no-repeat;
}
.icon-help-gray {
	background-image: url('png/help-gray.png');
	background-repeat: no-repeat;
}
.icon-next-gray {
	background-image: url('png/next-gray.png');
	background-repeat: no-repeat;
}
.icon-person-gray {
	background-image: url('png/person-gray.png');
	background-repeat: no-repeat;
}
.icon-phone-gray {
	background-image: url('png/phone-gray.png');
	background-repeat: no-repeat;
}
.icon-play-gray {
	background-image: url('png/play-gray.png');
	background-repeat: no-repeat;
}
.icon-dashboard-gray {
	background-image: url('png/dashboard-gray.png');
	background-repeat: no-repeat;
}
.icon-monitor-gray {
	background-image: url('png/monitor-gray.png');
	background-repeat: no-repeat;
}
.icon-page-gray {
	background-image: url('png/page-gray.png');
	background-repeat: no-repeat;
}
.icon-tools-gray {
	background-image: url('png/tools-gray.png');
	background-repeat: no-repeat;
}
.icon-chevron-down-gray {
	background-image: url('png/chevron-down-gray.png');
	background-repeat: no-repeat;
}
.icon-chevron-right-gray {
	background-image: url('png/chevron-right-gray.png');
	background-repeat: no-repeat;
}
.icon-download-gray {
	background-image: url('png/download-gray.png');
	background-repeat: no-repeat;
}
.icon-favorite-gray {
	background-image: url('png/favorite-gray.png');
	background-repeat: no-repeat;
}
