
<div class="design-container">
    <div class="design-leftnav">
        <div class="bff-include" data-src="app/shared/leftnav.html"></div>
    </div>
    <div class="design-content">
        <header class="design-page-header">
            <h1>Sticky Notes</h1>
        </header>
        <section class="design-page-content">

            <div class="design-demo clearfix">

                <!-- TODO: This needs to be fixed in the CSS -->
                <div class="ApplicantTabContent">
                    <div class="stickyWidget">

                        <!-- Count of Sticky Notes -->
                        <h5 title="Expand/Collapse Sticky Notes">
                            Sticky Notes <span>1</span>
                            <i ng-class="{'icon-chevron-up': showStickyNotes, 'icon-chevron-down': !showStickyNotes}" class="icon-chevron-down"></i>
                        </h5>

                        <!-- Sticky Notes -->
                        <div class="stickyWidgetNotes">
                            <ul>
                                <li>
                                    <div>Test</div>
                                    <a href="#" title="Unsticky" class="unpin"><i class="icon-remove"></i></a>
                                    <small>Created by Commercial Download on Dec 28, 2016 4:17 PM</small>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div><!-- ./design-demo -->

            <pre><code class="html">
&lt;!-- Count of Sticky Notes --&gt;
&lt;h5 title="Expand/Collapse Sticky Notes"&gt;
    Sticky Notes &lt;span &gt;4&lt;/span&gt;
    &lt;i ng-class="{'icon-chevron-up': showStickyNotes, 'icon-chevron-down': !showStickyNotes}" class="icon-chevron-up"&gt;&lt;/i&gt;
&lt;/h5&gt;

&lt;!-- Sticky Notes --&gt;
&lt;div class="stickyWidgetNotes"&gt;
    &lt;ul&gt;
        &lt;li&gt;
            &lt;div&gt;Test&lt;/div&gt;
            &lt;a href="#" title="Unsticky" class="unpin"&gt;&lt;i class="icon-remove"&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;small&gt;Created by Commercial Download on Dec 28, 2016 4:17 PM&lt;/small&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
                </code></pre>


        </section>
    </div>
</div>


<div class="bff-script" data-src="app/shared/activate-highlight.js"></div>