<div class="design-container">
    <div class="design-leftnav">
        <div class="bff-include" data-src="app/shared/leftnav.html"></div>
    </div>
    <div class="design-content">
        <header class="design-page-header">
            <h1>Form Elements</h1>
        </header>
        <section class="design-page-content">

            <h2 class="pageTitle">Labels and Form Elements</h2>
            <ul class="bulleted-list">
                <li>Labels should always be displayed to the left of the form element.</li>
                <li>When laying out forms in columns like the example below, layout the forms top to bottom first, and then left to right</li>
                <li>Don't use more than three columns of form elements</li>
            </ul>

            <p>&nbsp;</p>

            <div class="design-demo clearfix">
                <div id="detailsform" style="width: 80%;">

                    <div class="title">
                        <h5 class="sectionTitle">Form Heading</h5>

                        <div class="row-fluid">
                            <div class="span1">
                                <label>Label 1</label>
                            </div>
                            <div class="span3">
                                <select class="valid">
                                    <option value="">&lt;select&gt;</option>
                                </select>
                            </div>
                            <div class="span1">
                                <label>Label 2</label>
                            </div>
                            <div class="span3">
                                <input id="" maxlength="100" name="" type="text" value="" class="valid">
                            </div>
                            <div class="span1">
                                <label for="">Label 3</label>
                            </div>
                            <div class="span3">
                                <input id="" maxlength="50" name="" type="text" value="">
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span1">
                                <label>Label 4</label>
                            </div>
                            <div class="span3">
                                <select>
                                    <option value="">&lt;select&gt;</option>
                                </select>
                            </div>
                            <div class="span1">
                                <label>Label 5</label>
                            </div>
                            <div class="span3">
                                <span>
                                    <input id="" maxlength="100" name="" type="text" value="" class="valid">
                                </span>
                            </div>
                            <div class="span1">
                                <label for="">Label 6</label>
                            </div>
                            <div class="span3">
                                <input id="" maxlength="50" name="" type="text" value="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p>&nbsp;</p>

            <pre><code class="html">
&lt;div class="row-fluid"&gt;
    &lt;div class="span1"&gt;
        &lt;label&gt;Label 1&lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="span3"&gt;
        &lt;select class="valid"&gt;
            &lt;option value=""&gt;&lt;select&gt;&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
    &lt;div class="span1"&gt;
        &lt;label&gt;Label 2&lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="span3"&gt;
        &lt;input id="" maxlength="100" name="" type="text" value="" class="valid"&gt;
    &lt;/div&gt;
    &lt;div class="span1"&gt;
        &lt;label for=""&gt;Label 3&lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="span3"&gt;
        &lt;input id="" maxlength="50" name="" type="text" value=""&gt;
    &lt;/div&gt;
&lt;/div&gt;
            </code></pre>
                      
            <p>&nbsp;</p>

            <h2>Checkbox with label</h2>
            <p>Label should be to the right of the checkbox and have the label in Title Case.</p>

            <label> 
                <input id="" type="checkbox"> Test Me 
            </label>

            <p>&nbsp</p>

            <pre><code class="html">
&lt;label&gt; 
    &lt;input id="" type="checkbox"&gt; Test Me 
&lt;/label&gt;
            </code></pre>

            <p>&nbsp;</p>

            <h2>Radio button with label</h2>
            <p>Label should be to the right of the radio button and have the label in Title Case.</p>

            <label> 
                <input id="" type="radio"> Test Me 
            </label>

            <p>&nbsp</p>

            <pre><code class="html">
&lt;label&gt; 
    &lt;input id="" type="radio"&gt; Test Me 
&lt;/label&gt;
            </code></pre>
        </section>
    </div>
</div>


<div class="bff-script" data-src="app/shared/activate-highlight.js"></div>


