img {
  max-width: 100%;
}
.screenshot {
  display: block;
  margin: 24px;
  border-radius: 8px;
  max-width: 100%;
}
.figure {
  margin: 24px 0;
  padding:12px;
  border:1px solid rgba(0,0,0,.24);
  box-shadow: 0 2px 15px rgba(0,0,0,.12);
}

