@import "variables";

@font-face {
  font-family: 'EZAwesome';
  src:  url('@{icomoon-font-path}/EZAwesome.eot?s1ijji');
  src:  url('@{icomoon-font-path}/EZAwesome.eot?s1ijji#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/EZAwesome.ttf?s1ijji') format('truetype'),
    url('@{icomoon-font-path}/EZAwesome.woff?s1ijji') format('woff'),
    url('@{icomoon-font-path}/EZAwesome.svg?s1ijji#EZAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'EZAwesome' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ezlynx-reporting {
  &:before {
    content: @icon-ezlynx-reporting;
  }
}
.icon-ezlynx-retention {
  &:before {
    content: @icon-ezlynx-retention;
  }
}
.icon-ezlynx-websites {
  &:before {
    content: @icon-ezlynx-websites;
  }
}
.icon-ezlynx-accounting {
  &:before {
    content: @icon-ezlynx-accounting;
  }
}
.icon-add-list {
  &:before {
    content: @icon-add-list;
  }
}
.icon-add-many {
  &:before {
    content: @icon-add-many;
  }
}
.icon-checklist-checked {
  &:before {
    content: @icon-checklist-checked;
  }
}
.icon-flow-branch {
  &:before {
    content: @icon-flow-branch;
  }
}
.icon-flow-single {
  &:before {
    content: @icon-flow-single;
  }
}
.icon-history {
  &:before {
    content: @icon-history;
  }
}
.icon-pause-circle {
  &:before {
    content: @icon-pause-circle;
  }
}
.icon-workflow {
  &:before {
    content: @icon-workflow;
  }
}
.icon-file-alt {
  &:before {
    content: @icon-file-alt;
  }
}
.icon-file-text-alt {
  &:before {
    content: @icon-file-text-alt;
  }
}
.icon-file-text {
  &:before {
    content: @icon-file-text;
  }
}
.icon-sticky {
  &:before {
    content: @icon-sticky;
  }
}
.icon-stack {
  &:before {
    content: @icon-stack;
  }
}
.icon-zoom-out {
  &:before {
    content: @icon-zoom-out;
  }
}
.icon-zoom-in {
  &:before {
    content: @icon-zoom-in;
  }
}
.icon-youtube-sign {
  &:before {
    content: @icon-youtube-sign;
  }
}
.icon-youtube-play {
  &:before {
    content: @icon-youtube-play;
  }
}
.icon-youtube {
  &:before {
    content: @icon-youtube;
  }
}
.icon-wrench {
  &:before {
    content: @icon-wrench;
  }
}
.icon-windows {
  &:before {
    content: @icon-windows;
  }
}
.icon-warning-sign {
  &:before {
    content: @icon-warning-sign;
  }
}
.icon-volume-up {
  &:before {
    content: @icon-volume-up;
  }
}
.icon-volume-off {
  &:before {
    content: @icon-volume-off;
  }
}
.icon-volume-down {
  &:before {
    content: @icon-volume-down;
  }
}
.icon-user {
  &:before {
    content: @icon-user;
  }
}
.icon-upload-alt {
  &:before {
    content: @icon-upload-alt;
  }
}
.icon-upload {
  &:before {
    content: @icon-upload;
  }
}
.icon-unlock-alt {
  &:before {
    content: @icon-unlock-alt;
  }
}
.icon-unlock {
  &:before {
    content: @icon-unlock;
  }
}
.icon-unlink {
  &:before {
    content: @icon-unlink;
  }
}
.icon-undo {
  &:before {
    content: @icon-undo;
  }
}
.icon-underline {
  &:before {
    content: @icon-underline;
  }
}
.icon-umbrella {
  &:before {
    content: @icon-umbrella;
  }
}
.icon-twitter-sign {
  &:before {
    content: @icon-twitter-sign;
  }
}
.icon-twitter {
  &:before {
    content: @icon-twitter;
  }
}
.icon-tumblr-sign {
  &:before {
    content: @icon-tumblr-sign;
  }
}
.icon-tumblr {
  &:before {
    content: @icon-tumblr;
  }
}
.icon-trophy {
  &:before {
    content: @icon-trophy;
  }
}
.icon-trash {
  &:before {
    content: @icon-trash;
  }
}
.icon-toggle-collapse {
  &:before {
    content: @icon-toggle-collapse;
  }
}
.icon-tint {
  &:before {
    content: @icon-tint;
  }
}
.icon-time {
  &:before {
    content: @icon-time;
  }
}
.icon-ticket {
  &:before {
    content: @icon-ticket;
  }
}
.icon-thumbs-up-alt {
  &:before {
    content: @icon-thumbs-up-alt;
  }
}
.icon-thumbs-up {
  &:before {
    content: @icon-thumbs-up;
  }
}
.icon-thumbs-down-alt {
  &:before {
    content: @icon-thumbs-down-alt;
  }
}
.icon-thumbs-down {
  &:before {
    content: @icon-thumbs-down;
  }
}
.icon-th-list {
  &:before {
    content: @icon-th-list;
  }
}
.icon-th-large {
  &:before {
    content: @icon-th-large;
  }
}
.icon-th {
  &:before {
    content: @icon-th;
  }
}
.icon-text-width {
  &:before {
    content: @icon-text-width;
  }
}
.icon-text-height {
  &:before {
    content: @icon-text-height;
  }
}
.icon-terminal {
  &:before {
    content: @icon-terminal;
  }
}
.icon-task {
  &:before {
    content: @icon-task;
  }
}
.icon-tags {
  &:before {
    content: @icon-tags;
  }
}
.icon-tag {
  &:before {
    content: @icon-tag;
  }
}
.icon-tablet {
  &:before {
    content: @icon-tablet;
  }
}
.icon-table {
  &:before {
    content: @icon-table;
  }
}
.icon-superscript {
  &:before {
    content: @icon-superscript;
  }
}
.icon-sun {
  &:before {
    content: @icon-sun;
  }
}
.icon-suitcase {
  &:before {
    content: @icon-suitcase;
  }
}
.icon-subscript {
  &:before {
    content: @icon-subscript;
  }
}
.icon-strikethrough {
  &:before {
    content: @icon-strikethrough;
  }
}
.icon-stop {
  &:before {
    content: @icon-stop;
  }
}
.icon-step-forward {
  &:before {
    content: @icon-step-forward;
  }
}
.icon-step-backward {
  &:before {
    content: @icon-step-backward;
  }
}
.icon-star-half-empty {
  &:before {
    content: @icon-star-half-empty;
  }
}
.icon-star-half {
  &:before {
    content: @icon-star-half;
  }
}
.icon-star-empty {
  &:before {
    content: @icon-star-empty;
  }
}
.icon-star {
  &:before {
    content: @icon-star;
  }
}
.icon-square-empty {
  &:before {
    content: @icon-square-empty;
  }
}
.icon-spinner {
  &:before {
    content: @icon-spinner;
  }
}
.icon-sort-up {
  &:before {
    content: @icon-sort-up;
  }
}
.icon-sort-down {
  &:before {
    content: @icon-sort-down;
  }
}
.icon-sort-by-order-alt {
  &:before {
    content: @icon-sort-by-order-alt;
  }
}
.icon-sort-by-order {
  &:before {
    content: @icon-sort-by-order;
  }
}
.icon-sort-by-attributes-alt {
  &:before {
    content: @icon-sort-by-attributes-alt;
  }
}
.icon-sort-by-attributes {
  &:before {
    content: @icon-sort-by-attributes;
  }
}
.icon-sort-by-alphabet-alt {
  &:before {
    content: @icon-sort-by-alphabet-alt;
  }
}
.icon-sort-by-alphabet {
  &:before {
    content: @icon-sort-by-alphabet;
  }
}
.icon-sort {
  &:before {
    content: @icon-sort;
  }
}
.icon-skype {
  &:before {
    content: @icon-skype;
  }
}
.icon-sitemap {
  &:before {
    content: @icon-sitemap;
  }
}
.icon-signout {
  &:before {
    content: @icon-signout;
  }
}
.icon-signin {
  &:before {
    content: @icon-signin;
  }
}
.icon-sign-blank {
  &:before {
    content: @icon-sign-blank;
  }
}
.icon-signal {
  &:before {
    content: @icon-signal;
  }
}
.icon-shopping-cart {
  &:before {
    content: @icon-shopping-cart;
  }
}
.icon-shield {
  &:before {
    content: @icon-shield;
  }
}
.icon-share-alt {
  &:before {
    content: @icon-share-alt;
  }
}
.icon-share {
  &:before {
    content: @icon-share;
  }
}
.icon-search {
  &:before {
    content: @icon-search;
  }
}
.icon-screenshot {
  &:before {
    content: @icon-screenshot;
  }
}
.icon-save {
  &:before {
    content: @icon-save;
  }
}
.icon-rss-sign {
  &:before {
    content: @icon-rss-sign;
  }
}
.icon-rss {
  &:before {
    content: @icon-rss;
  }
}
.icon-rocket {
  &:before {
    content: @icon-rocket;
  }
}
.icon-road {
  &:before {
    content: @icon-road;
  }
}
.icon-retweet {
  &:before {
    content: @icon-retweet;
  }
}
.icon-resize-vertical {
  &:before {
    content: @icon-resize-vertical;
  }
}
.icon-resize-small {
  &:before {
    content: @icon-resize-small;
  }
}
.icon-resize-horizontal {
  &:before {
    content: @icon-resize-horizontal;
  }
}
.icon-resize-full {
  &:before {
    content: @icon-resize-full;
  }
}
.icon-reply-all {
  &:before {
    content: @icon-reply-all;
  }
}
.icon-reply {
  &:before {
    content: @icon-reply;
  }
}
.icon-repeat {
  &:before {
    content: @icon-repeat;
  }
}
.icon-reorder {
  &:before {
    content: @icon-reorder;
  }
}
.icon-remove-sign {
  &:before {
    content: @icon-remove-sign;
  }
}
.icon-remove-circle {
  &:before {
    content: @icon-remove-circle;
  }
}
.icon-remove {
  &:before {
    content: @icon-remove;
  }
}
.icon-refresh {
  &:before {
    content: @icon-refresh;
  }
}
.icon-quote-right {
  &:before {
    content: @icon-quote-right;
  }
}
.icon-quote-left {
  &:before {
    content: @icon-quote-left;
  }
}
.icon-question-sign {
  &:before {
    content: @icon-question-sign;
  }
}
.icon-question {
  &:before {
    content: @icon-question;
  }
}
.icon-qrcode {
  &:before {
    content: @icon-qrcode;
  }
}
.icon-puzzle-piece {
  &:before {
    content: @icon-puzzle-piece;
  }
}
.icon-pushpin {
  &:before {
    content: @icon-pushpin;
  }
}
.icon-print {
  &:before {
    content: @icon-print;
  }
}
.icon-plus-sign {
  &:before {
    content: @icon-plus-sign;
  }
}
.icon-plus {
  &:before {
    content: @icon-plus;
  }
}
.icon-play-sign {
  &:before {
    content: @icon-play-sign;
  }
}
.icon-play-circle {
  &:before {
    content: @icon-play-circle;
  }
}
.icon-play {
  &:before {
    content: @icon-play;
  }
}
.icon-plane {
  &:before {
    content: @icon-plane;
  }
}
.icon-pinterest-sign {
  &:before {
    content: @icon-pinterest-sign;
  }
}
.icon-pinterest {
  &:before {
    content: @icon-pinterest;
  }
}
.icon-picture {
  &:before {
    content: @icon-picture;
  }
}
.icon-phone-sign {
  &:before {
    content: @icon-phone-sign;
  }
}
.icon-phone {
  &:before {
    content: @icon-phone;
  }
}
.icon-pencil {
  &:before {
    content: @icon-pencil;
  }
}
.icon-pause {
  &:before {
    content: @icon-pause;
  }
}
.icon-paste {
  &:before {
    content: @icon-paste;
  }
}
.icon-paper-clip {
  &:before {
    content: @icon-paper-clip;
  }
}
.icon-ok-sign {
  &:before {
    content: @icon-ok-sign;
  }
}
.icon-ok-circle {
  &:before {
    content: @icon-ok-circle;
  }
}
.icon-ok {
  &:before {
    content: @icon-ok;
  }
}
.icon-off {
  &:before {
    content: @icon-off;
  }
}
.icon-music {
  &:before {
    content: @icon-music;
  }
}
.icon-move {
  &:before {
    content: @icon-move;
  }
}
.icon-moon {
  &:before {
    content: @icon-moon;
  }
}
.icon-money {
  &:before {
    content: @icon-money;
  }
}
.icon-mobile-phone {
  &:before {
    content: @icon-mobile-phone;
  }
}
.icon-minus-sign-alt {
  &:before {
    content: @icon-minus-sign-alt;
  }
}
.icon-minus-sign {
  &:before {
    content: @icon-minus-sign;
  }
}
.icon-minus {
  &:before {
    content: @icon-minus;
  }
}
.icon-microphone-off {
  &:before {
    content: @icon-microphone-off;
  }
}
.icon-microphone {
  &:before {
    content: @icon-microphone;
  }
}
.icon-map-marker {
  &:before {
    content: @icon-map-marker;
  }
}
.icon-male {
  &:before {
    content: @icon-male;
  }
}
.icon-mail-reply-all {
  &:before {
    content: @icon-mail-reply-all;
  }
}
.icon-magnet {
  &:before {
    content: @icon-magnet;
  }
}
.icon-magic {
  &:before {
    content: @icon-magic;
  }
}
.icon-long-arrow-up {
  &:before {
    content: @icon-long-arrow-up;
  }
}
.icon-long-arrow-right {
  &:before {
    content: @icon-long-arrow-right;
  }
}
.icon-long-arrow-left {
  &:before {
    content: @icon-long-arrow-left;
  }
}
.icon-long-arrow-down {
  &:before {
    content: @icon-long-arrow-down;
  }
}
.icon-lock {
  &:before {
    content: @icon-lock;
  }
}
.icon-location-arrow {
  &:before {
    content: @icon-location-arrow;
  }
}
.icon-list-ul {
  &:before {
    content: @icon-list-ul;
  }
}
.icon-list-ol {
  &:before {
    content: @icon-list-ol;
  }
}
.icon-list-alt {
  &:before {
    content: @icon-list-alt;
  }
}
.icon-list {
  &:before {
    content: @icon-list;
  }
}
.icon-linux {
  &:before {
    content: @icon-linux;
  }
}
.icon-linkedin-sign {
  &:before {
    content: @icon-linkedin-sign;
  }
}
.icon-linkedin {
  &:before {
    content: @icon-linkedin;
  }
}
.icon-link {
  &:before {
    content: @icon-link;
  }
}
.icon-line-chart {
  &:before {
    content: @icon-line-chart;
  }
}
.icon-lightbulb {
  &:before {
    content: @icon-lightbulb;
  }
}
.icon-level-up {
  &:before {
    content: @icon-level-up;
  }
}
.icon-level-down {
  &:before {
    content: @icon-level-down;
  }
}
.icon-lemon {
  &:before {
    content: @icon-lemon;
  }
}
.icon-legal {
  &:before {
    content: @icon-legal;
  }
}
.icon-leaf {
  &:before {
    content: @icon-leaf;
  }
}
.icon-laptop {
  &:before {
    content: @icon-laptop;
  }
}
.icon-keyboard {
  &:before {
    content: @icon-keyboard;
  }
}
.icon-key {
  &:before {
    content: @icon-key;
  }
}
.icon-italic {
  &:before {
    content: @icon-italic;
  }
}
.icon-instagram {
  &:before {
    content: @icon-instagram;
  }
}
.icon-info-sign {
  &:before {
    content: @icon-info-sign;
  }
}
.icon-info {
  &:before {
    content: @icon-info;
  }
}
.icon-indent-right {
  &:before {
    content: @icon-indent-right;
  }
}
.icon-indent-left {
  &:before {
    content: @icon-indent-left;
  }
}
.icon-inbox {
  &:before {
    content: @icon-inbox;
  }
}
.icon-html5 {
  &:before {
    content: @icon-html5;
  }
}
.icon-home {
  &:before {
    content: @icon-home;
  }
}
.icon-heart-empty {
  &:before {
    content: @icon-heart-empty;
  }
}
.icon-heart {
  &:before {
    content: @icon-heart;
  }
}
.icon-headphones {
  &:before {
    content: @icon-headphones;
  }
}
.icon-hdd {
  &:before {
    content: @icon-hdd;
  }
}
.icon-hand-up {
  &:before {
    content: @icon-hand-up;
  }
}
.icon-hand-right {
  &:before {
    content: @icon-hand-right;
  }
}
.icon-hand-left {
  &:before {
    content: @icon-hand-left;
  }
}
.icon-hand-down {
  &:before {
    content: @icon-hand-down;
  }
}
.icon-group {
  &:before {
    content: @icon-group;
  }
}
.icon-google-plus-sign {
  &:before {
    content: @icon-google-plus-sign;
  }
}
.icon-google-plus {
  &:before {
    content: @icon-google-plus;
  }
}
.icon-globe {
  &:before {
    content: @icon-globe;
  }
}
.icon-glass {
  &:before {
    content: @icon-glass;
  }
}
.icon-github-alt {
  &:before {
    content: @icon-github-alt;
  }
}
.icon-gift {
  &:before {
    content: @icon-gift;
  }
}
.icon-fullscreen {
  &:before {
    content: @icon-fullscreen;
  }
}
.icon-foursquare {
  &:before {
    content: @icon-foursquare;
  }
}
.icon-forward {
  &:before {
    content: @icon-forward;
  }
}
.icon-font {
  &:before {
    content: @icon-font;
  }
}
.icon-folder-open-alt {
  &:before {
    content: @icon-folder-open-alt;
  }
}
.icon-folder-open {
  &:before {
    content: @icon-folder-open;
  }
}
.icon-folder-close {
  &:before {
    content: @icon-folder-close;
  }
}
.icon-folder-close-alt {
  &:before {
    content: @icon-folder-close-alt;
  }
}
.icon-flickr {
  &:before {
    content: @icon-flickr;
  }
}
.icon-flag-checkered {
  &:before {
    content: @icon-flag-checkered;
  }
}
.icon-flag-alt {
  &:before {
    content: @icon-flag-alt;
  }
}
.icon-flag {
  &:before {
    content: @icon-flag;
  }
}
.icon-fire-extinguisher {
  &:before {
    content: @icon-fire-extinguisher;
  }
}
.icon-fire {
  &:before {
    content: @icon-fire;
  }
}
.icon-filter {
  &:before {
    content: @icon-filter;
  }
}
.icon-film {
  &:before {
    content: @icon-film;
  }
}
.icon-file {
  &:before {
    content: @icon-file;
  }
}
.icon-fighter-jet {
  &:before {
    content: @icon-fighter-jet;
  }
}
.icon-female {
  &:before {
    content: @icon-female;
  }
}
.icon-fast-forward {
  &:before {
    content: @icon-fast-forward;
  }
}
.icon-fast-backward {
  &:before {
    content: @icon-fast-backward;
  }
}
.icon-facetime-video {
  &:before {
    content: @icon-facetime-video;
  }
}
.icon-facebook-sign {
  &:before {
    content: @icon-facebook-sign;
  }
}
.icon-facebook {
  &:before {
    content: @icon-facebook;
  }
}
.icon-eye-open {
  &:before {
    content: @icon-eye-open;
  }
}
.icon-eye-close {
  &:before {
    content: @icon-eye-close;
  }
}
.icon-external-link-sign {
  &:before {
    content: @icon-external-link-sign;
  }
}
.icon-external-link {
  &:before {
    content: @icon-external-link;
  }
}
.icon-expand-alt {
  &:before {
    content: @icon-expand-alt;
  }
}
.icon-expand {
  &:before {
    content: @icon-expand;
  }
}
.icon-exclamation-sign {
  &:before {
    content: @icon-exclamation-sign;
  }
}
.icon-exclamation {
  &:before {
    content: @icon-exclamation;
  }
}
.icon-exchange {
  &:before {
    content: @icon-exchange;
  }
}
.icon-eraser {
  &:before {
    content: @icon-eraser;
  }
}
.icon-envelope-alt {
  &:before {
    content: @icon-envelope-alt;
  }
}
.icon-envelope {
  &:before {
    content: @icon-envelope;
  }
}
.icon-ellipsis-vertical {
  &:before {
    content: @icon-ellipsis-vertical;
  }
}
.icon-ellipsis-horizontal {
  &:before {
    content: @icon-ellipsis-horizontal;
  }
}
.icon-eject {
  &:before {
    content: @icon-eject;
  }
}
.icon-edit-sign {
  &:before {
    content: @icon-edit-sign;
  }
}
.icon-edit {
  &:before {
    content: @icon-edit;
  }
}
.icon-dropbox {
  &:before {
    content: @icon-dropbox;
  }
}
.icon-dribble {
  &:before {
    content: @icon-dribble;
  }
}
.icon-download-alt {
  &:before {
    content: @icon-download-alt;
  }
}
.icon-download {
  &:before {
    content: @icon-download;
  }
}
.icon-double-angle-up {
  &:before {
    content: @icon-double-angle-up;
  }
}
.icon-double-angle-right {
  &:before {
    content: @icon-double-angle-right;
  }
}
.icon-double-angle-left {
  &:before {
    content: @icon-double-angle-left;
  }
}
.icon-double-angle-down {
  &:before {
    content: @icon-double-angle-down;
  }
}
.icon-desktop {
  &:before {
    content: @icon-desktop;
  }
}
.icon-dashboard {
  &:before {
    content: @icon-dashboard;
  }
}
.icon-cut {
  &:before {
    content: @icon-cut;
  }
}
.icon-css3 {
  &:before {
    content: @icon-css3;
  }
}
.icon-crop {
  &:before {
    content: @icon-crop;
  }
}
.icon-credit-card {
  &:before {
    content: @icon-credit-card;
  }
}
.icon-copy {
  &:before {
    content: @icon-copy;
  }
}
.icon-compass {
  &:before {
    content: @icon-compass;
  }
}
.icon-comments-alt {
  &:before {
    content: @icon-comments-alt;
  }
}
.icon-comments {
  &:before {
    content: @icon-comments;
  }
}
.icon-comment-alt {
  &:before {
    content: @icon-comment-alt;
  }
}
.icon-comment {
  &:before {
    content: @icon-comment;
  }
}
.icon-columns {
  &:before {
    content: @icon-columns;
  }
}
.icon-collapse-top {
  &:before {
    content: @icon-collapse-top;
  }
}
.icon-collapse-alt {
  &:before {
    content: @icon-collapse-alt;
  }
}
.icon-cogs {
  &:before {
    content: @icon-cogs;
  }
}
.icon-cog {
  &:before {
    content: @icon-cog;
  }
}
.icon-coffee {
  &:before {
    content: @icon-coffee;
  }
}
.icon-code-fork {
  &:before {
    content: @icon-code-fork;
  }
}
.icon-code {
  &:before {
    content: @icon-code;
  }
}
.icon-cloud-upload {
  &:before {
    content: @icon-cloud-upload;
  }
}
.icon-cloud-download {
  &:before {
    content: @icon-cloud-download;
  }
}
.icon-cloud {
  &:before {
    content: @icon-cloud;
  }
}
.icon-circle-blank {
  &:before {
    content: @icon-circle-blank;
  }
}
.icon-circle-arrow-up {
  &:before {
    content: @icon-circle-arrow-up;
  }
}
.icon-circle-arrow-right {
  &:before {
    content: @icon-circle-arrow-right;
  }
}
.icon-circle-arrow-left {
  &:before {
    content: @icon-circle-arrow-left;
  }
}
.icon-circle-arrow-down {
  &:before {
    content: @icon-circle-arrow-down;
  }
}
.icon-circle {
  &:before {
    content: @icon-circle;
  }
}
.icon-chevron-up {
  &:before {
    content: @icon-chevron-up;
  }
}
.icon-chevron-sign-up {
  &:before {
    content: @icon-chevron-sign-up;
  }
}
.icon-chevron-sign-right {
  &:before {
    content: @icon-chevron-sign-right;
  }
}
.icon-chevron-sign-left {
  &:before {
    content: @icon-chevron-sign-left;
  }
}
.icon-chevron-sign-down {
  &:before {
    content: @icon-chevron-sign-down;
  }
}
.icon-chevron-right {
  &:before {
    content: @icon-chevron-right;
  }
}
.icon-chevron-left {
  &:before {
    content: @icon-chevron-left;
  }
}
.icon-chevron-down {
  &:before {
    content: @icon-chevron-down;
  }
}
.icon-check-sign {
  &:before {
    content: @icon-check-sign;
  }
}
.icon-check-minus {
  &:before {
    content: @icon-check-minus;
  }
}
.icon-check {
  &:before {
    content: @icon-check;
  }
}
.icon-certificate {
  &:before {
    content: @icon-certificate;
  }
}
.icon-caret-up {
  &:before {
    content: @icon-caret-up;
  }
}
.icon-caret-right {
  &:before {
    content: @icon-caret-right;
  }
}
.icon-caret-left {
  &:before {
    content: @icon-caret-left;
  }
}
.icon-caret-down {
  &:before {
    content: @icon-caret-down;
  }
}
.icon-campaigns {
  &:before {
    content: @icon-campaigns;
  }
}
.icon-camera-retro {
  &:before {
    content: @icon-camera-retro;
  }
}
.icon-camera {
  &:before {
    content: @icon-camera;
  }
}
.icon-calendar-empty {
  &:before {
    content: @icon-calendar-empty;
  }
}
.icon-calendar {
  &:before {
    content: @icon-calendar;
  }
}
.icon-bullseye {
  &:before {
    content: @icon-bullseye;
  }
}
.icon-bullhorn {
  &:before {
    content: @icon-bullhorn;
  }
}
.icon-building {
  &:before {
    content: @icon-building;
  }
}
.icon-bug {
  &:before {
    content: @icon-bug;
  }
}
.icon-briefcase {
  &:before {
    content: @icon-briefcase;
  }
}
.icon-bookmark-empty {
  &:before {
    content: @icon-bookmark-empty;
  }
}
.icon-bookmark {
  &:before {
    content: @icon-bookmark;
  }
}
.icon-book {
  &:before {
    content: @icon-book;
  }
}
.icon-bolt {
  &:before {
    content: @icon-bolt;
  }
}
.icon-bold {
  &:before {
    content: @icon-bold;
  }
}
.icon-bell-alt {
  &:before {
    content: @icon-bell-alt;
  }
}
.icon-bell {
  &:before {
    content: @icon-bell;
  }
}
.icon-beaker {
  &:before {
    content: @icon-beaker;
  }
}
.icon-barscode {
  &:before {
    content: @icon-barscode;
  }
}
.icon-bar-chart {
  &:before {
    content: @icon-bar-chart;
  }
}
.icon-ban {
  &:before {
    content: @icon-ban;
  }
}
.icon-backward {
  &:before {
    content: @icon-backward;
  }
}
.icon-asterisk {
  &:before {
    content: @icon-asterisk;
  }
}
.icon-arrow-up {
  &:before {
    content: @icon-arrow-up;
  }
}
.icon-arrow-right {
  &:before {
    content: @icon-arrow-right;
  }
}
.icon-arrow-left {
  &:before {
    content: @icon-arrow-left;
  }
}
.icon-arrow-down {
  &:before {
    content: @icon-arrow-down;
  }
}
.icon-archive {
  &:before {
    content: @icon-archive;
  }
}
.icon-applicants {
  &:before {
    content: @icon-applicants;
  }
}
.icon-apple {
  &:before {
    content: @icon-apple;
  }
}
.icon-angle-down {
  &:before {
    content: @icon-angle-down;
  }
}
.icon-angle-up {
  &:before {
    content: @icon-angle-up;
  }
}
.icon-angle-right {
  &:before {
    content: @icon-angle-right;
  }
}
.icon-angle-left {
  &:before {
    content: @icon-angle-left;
  }
}
.icon-android {
  &:before {
    content: @icon-android;
  }
}
.icon-anchor {
  &:before {
    content: @icon-anchor;
  }
}
.icon-align-right {
  &:before {
    content: @icon-align-right;
  }
}
.icon-align-left {
  &:before {
    content: @icon-align-left;
  }
}
.icon-align-justify {
  &:before {
    content: @icon-align-justify;
  }
}
.icon-align-center {
  &:before {
    content: @icon-align-center;
  }
}
.icon-adjust {
  &:before {
    content: @icon-adjust;
  }
}
.icon-add-user {
  &:before {
    content: @icon-add-user;
  }
}
.icon-add-note {
  &:before {
    content: @icon-add-note;
  }
}
.icon-text-alt {
  &:before {
    content: @icon-text-alt;
  }
}
.icon-mms {
  &:before {
    content: @icon-mms;
  }
}
.icon-text {
  &:before {
    content: @icon-text;
  }
}
.icon-comm-ctr {
  &:before {
    content: @icon-comm-ctr;
  }
}
.icon-biz-ctr {
  &:before {
    content: @icon-biz-ctr;
  }
}
.icon-site-editor {
  &:before {
    content: @icon-site-editor;
  }
}
.icon-automobile {
  &:before {
    content: @icon-automobile;
  }
}
.icon-car {
  &:before {
    content: @icon-car;
  }
}

