<div class="modal fade" id="existsVAL" tabindex="-1" role="dialog" aria-labelledby="existsVAL" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-lg">
            <div class="modal-header modal-primary">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="existsPAN">Exists on Visitation List</h4>
            </div>
            <div class="modal-body">
                <p>The visitor <b>Sarah Connor</b> exists on the following inmate's visitation list:</p>
                <h4 class="section-header">Active Inmates</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th><a href="#">Inmate (ID) <i class="fa fa-caret-down"></i></a>
                        </th>
                        <th><a href="#">PIN</a>
                        </th>
                        <th><a href="#">Relationship</a>
                        </th>
                        <th><a href="#">Status</a>
                        </th>
                        <th><a href="#">Site</a>
                        </th>
                        <th><a href="#">Last Modified</a>
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td><a href="#">Justin Canfield</a> <span class="small text-muted">(987654321)</span>
                        </td>
                        <td>62346</td>
                        <td>Brother in Law</td>
                        <td>Active</td>
                        <td>CI Eden</td>
                        <td>10-27-2014</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="#">Jay Cestarte</a> <span class="small text-muted">(123456789)</span>
                        </td>
                        <td>73457</td>
                        <td>Sister</td>
                        <td>Active</td>
                        <td>CI Eden</td>
                        <td>10-15-2014</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <h4>Inactive Inmates</h4>
                <hr style="margin-top:0" />
                <table class="table">
                    <thead>
                    <tr>
                        <th><a href="#">Inmate (ID) <i class="fa fa-caret-down"></i></a>
                        </th>
                        <th><a href="#">PIN</a>
                        </th>
                        <th><a href="#">Relationship</a>
                        </th>
                        <th><a href="#">Status</a>
                        </th>
                        <th><a href="#">Site</a>
                        </th>
                        <th><a href="#">Last Modified</a>
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td><a href="#">Markus Justice</a> <span class="small text-muted">(987654321)</span>
                        </td>
                        <td>62346</td>
                        <td>Brother in Law</td>
                        <td>Inactive</td>
                        <td>CI Eden</td>
                        <td>10-27-2014</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="#">Franklin Smith</a> <span class="small text-muted">(123456789)</span>
                        </td>
                        <td>73457</td>
                        <td>Sister</td>
                        <td>Inactive</td>
                        <td>CI Eden</td>
                        <td>10-15-2014</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
