<h3 class="section-header">
    Visitation <span class="bff-include" data-src="shared/val/devmode-allow-block.html"></span> List for Inmate

    <!-- Buttons for VAN popup -->
    <div class="pull-right">
        <a class="btn btn-link no-padding hide-popup-val">Close &nbsp;<i class="fa fa-times"></i></a>
    </div>
</h3>

<div class="panel panel-action clearfix">
    <div class="results-number-container pull-left">
        <span class="results-number" data-count="3"></span>&nbsp;
        <span class="results-label">Results</span>
    </div>

    <div class="pull-right">

        <span class="bff-include" data-src="shared/export.html"></span>

        <a class="btn btn-link btn-add btn-add-val">
            <i class="fa fa-plus-circle"></i> Add
        </a>

    </div>

</div>

<table class="table table-val">

    <thead>
    <tr>
        <th><input type="checkbox"></th>
        <th><a href="#">Last Name</a></th>
        <th><a href="#">First Name</a></th>
        <th><a href="#">Relationship</a></th>
        <th><a href="#">Last Modified</a></th>
        <th><a href="#">Exists On</a></th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td><input type="checkbox"></td>
        <td><a href="#" class="btn-view-val">Goodman</a></td>
        <td><a href="#" class="btn-view-val">Saul</a></td>
        <td>Brother in Law</td>
        <td>10-27-2014</td>
        <td></td>
    </tr>
    <tr>
        <td><input type="checkbox"></td>
        <td><a href="#" class="btn-view-val">Conner</a></td>
        <td><a href="#" class="btn-view-val">Sarah</a></td>
        <td>Sister</td>
        <td>10-20-2014</td>
        <td><a href="#" data-toggle="modal" data-target="#existsVAL"><i class="fa fa-inmate fa-2x"><span class="badge exists-on-other-val">4</span></i></a>
        </td>
    </tr>
    <tr>
        <td><input type="checkbox"></td>
        <td><a href="#" class="btn-view-val">Walter White Jr</a></td>
        <td><a href="#" class="btn-view-val">Walter White Jr</a></td>
        <td>Sister</td>
        <td>10-15-2014</td>
        <td></td>
    </tr>
    </tbody>

</table>








<script>
    // Animation to hide the VAL popup
    $('.hide-popup-val').click(function() {
        $('.popup-val').hide();
    });

    $('.btn-view-val').click(function() {
        $('.val-list').hide();
        $('.val-add-visitor').show();
        //View visitor sections
        $('.visitor-search').hide();
        $('.visitor-results').hide();
        $('.visitor-selected').show();
    });

    $('.btn-add-val').click(function() {
        $('.val-list').hide();
        $('.val-search').show();
        $('.val-add-visitor').hide();
    });
</script>