<div class="design-container">
    <div class="design-leftnav">
        <div class="bff-include" data-src="app/shared/leftnav.html"></div>
    </div>
    <div class="design-content">
        <header class="design-page-header">
            <h1>Table</h1>
        </header>
        <section class="design-page-content">


            <div class="design-demo clearfix">

                <div class="DataView">
                    <table class="table">
                        <thead class="DataViewSorter">
                        <tr>
                            <th class="sorting">Heading 1</th>
                            <th class="sorting ascending">Heading 2</th>
                            <th class="sorting">Step</th>
                            <th class="sorting">Delivery Date</th>
                            <th class="sorting">Scheduled By</th>
                            <th class="sorting">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="#">Col 1 Data</a></td>
                            <td>Col 2 Data</td>
                            <td>Col 3 Data</td>
                            <td>Col 4 Data</td>
                            <td>Col 5 Data</td>
                            <td><a href="#">Actions</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Col 1 Data</a></td>
                            <td>Col 2 Data</td>
                            <td>Col 3 Data</td>
                            <td>Col 4 Data</td>
                            <td>Col 5 Data</td>
                            <td><a href="#">Actions</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div><!-- ./design-demo -->

            
            <p>&nbsp;</p>


            <pre><code class="html">
&lt;div class="DataView"&gt;
    &lt;table class="table"&gt;
        &lt;thead class="DataViewSorter"&gt;
        &lt;tr&gt;
            &lt;th class="sorting"&gt;Heading 1&lt;/th&gt;
            &lt;th class="sorting ascending"&gt;Heading 2&lt;/th&gt;
            &lt;th class="sorting"&gt;Step&lt;/th&gt;
            &lt;th class="sorting"&gt;Delivery Date&lt;/th&gt;
            &lt;th class="sorting"&gt;Scheduled By&lt;/th&gt;
            &lt;th class="sorting"&gt;Actions&lt;/th&gt;
        &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td&gt;&lt;a href="#"&gt;Col 1 Data&lt;/a&gt;&lt;/td&gt;
            &lt;td&gt;Col 2 Data&lt;/td&gt;
            &lt;td&gt;Col 3 Data&lt;/td&gt;
            &lt;td&gt;Col 4 Data&lt;/td&gt;
            &lt;td&gt;Col 5 Data&lt;/td&gt;
            &lt;td&gt;&lt;a href="#"&gt;Actions&lt;/a&gt;&lt;/td&gt;
        &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/div&gt;
                </code></pre>


        </section>
    </div>
</div>


<div class="bff-script" data-src="app/shared/activate-highlight.js"></div>


