//
// Icon Font: fontcustom
//

@font-face {
  font-family: "fontcustom";
  src: url("fontcustom_0a10b0ed3b6f5cb3a68e1fb09e5b1b15.eot");
  src: url("fontcustom_0a10b0ed3b6f5cb3a68e1fb09e5b1b15.eot?#iefix") format("embedded-opentype"),
       url("fontcustom_0a10b0ed3b6f5cb3a68e1fb09e5b1b15.woff") format("woff"),
       url("fontcustom_0a10b0ed3b6f5cb3a68e1fb09e5b1b15.ttf") format("truetype"),
       url("fontcustom_0a10b0ed3b6f5cb3a68e1fb09e5b1b15.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("fontcustom_0a10b0ed3b6f5cb3a68e1fb09e5b1b15.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.fa-add-child:before,
.fa-add-note:before,
.fa-add-sibling:before,
.fa-building8:before,
.fa-building8-copy:before,
.fa-cd-image:before,
.fa-covert-alert:before,
.fa-expired-call:before,
.fa-expired-video-visit:before,
.fa-facility:before,
.fa-forward-call:before,
.fa-geofence:before,
.fa-informant-line-call:before,
.fa-inmate:before,
.fa-mobile-phone-custom:before,
.fa-no-recording:before,
.fa-play-call:before,
.fa-play-video-visit:before,
.fa-private-call:before,
.fa-private-video-visit:before,
.fa-rewind-30:before,
.fa-sick-call:before,
.fa-terminate-call:before,
.fa-terminate-video-visit:before,
.fa-virtual-groups:before,
.fa-visitor:before,
.fa-voice-biometrics:before,
.fa-webcam:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fa-add-child:before { content: "\f121"; }
.fa-add-note:before { content: "\f13c"; }
.fa-add-sibling:before { content: "\f122"; }
.fa-building8:before { content: "\f123"; }
.fa-building8-copy:before { content: "\f124"; }
.fa-cd-image:before { content: "\f125"; }
.fa-covert-alert:before { content: "\f126"; }
.fa-expired-call:before { content: "\f138"; }
.fa-expired-video-visit:before { content: "\f127"; }
.fa-facility:before { content: "\f128"; }
.fa-forward-call:before { content: "\f129"; }
.fa-geofence:before { content: "\f12a"; }
.fa-informant-line-call:before { content: "\f13a"; }
.fa-inmate:before { content: "\f12b"; }
.fa-mobile-phone-custom:before { content: "\f12c"; }
.fa-no-recording:before { content: "\f12d"; }
.fa-play-call:before { content: "\f12e"; }
.fa-play-video-visit:before { content: "\f12f"; }
.fa-private-call:before { content: "\f130"; }
.fa-private-video-visit:before { content: "\f131"; }
.fa-rewind-30:before { content: "\f132"; }
.fa-sick-call:before { content: "\f139"; }
.fa-terminate-call:before { content: "\f133"; }
.fa-terminate-video-visit:before { content: "\f134"; }
.fa-virtual-groups:before { content: "\f137"; }
.fa-visitor:before { content: "\f13b"; }
.fa-voice-biometrics:before { content: "\f135"; }
.fa-webcam:before { content: "\f136"; }

$font-fontcustom-add-child: "\f121";
$font-fontcustom-add-note: "\f13c";
$font-fontcustom-add-sibling: "\f122";
$font-fontcustom-building8: "\f123";
$font-fontcustom-building8-copy: "\f124";
$font-fontcustom-cd-image: "\f125";
$font-fontcustom-covert-alert: "\f126";
$font-fontcustom-expired-call: "\f138";
$font-fontcustom-expired-video-visit: "\f127";
$font-fontcustom-facility: "\f128";
$font-fontcustom-forward-call: "\f129";
$font-fontcustom-geofence: "\f12a";
$font-fontcustom-informant-line-call: "\f13a";
$font-fontcustom-inmate: "\f12b";
$font-fontcustom-mobile-phone-custom: "\f12c";
$font-fontcustom-no-recording: "\f12d";
$font-fontcustom-play-call: "\f12e";
$font-fontcustom-play-video-visit: "\f12f";
$font-fontcustom-private-call: "\f130";
$font-fontcustom-private-video-visit: "\f131";
$font-fontcustom-rewind-30: "\f132";
$font-fontcustom-sick-call: "\f139";
$font-fontcustom-terminate-call: "\f133";
$font-fontcustom-terminate-video-visit: "\f134";
$font-fontcustom-virtual-groups: "\f137";
$font-fontcustom-visitor: "\f13b";
$font-fontcustom-voice-biometrics: "\f135";
$font-fontcustom-webcam: "\f136";
