@font-face {
    font-family: 'Sofia Pro Light';
    src: url('/css/fonts/SofiaLight/sofiapro-light-webfont.woff2') format('woff2'),
         url('/css/fonts/SofiaLight/sofiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}