<div class="modal fade" id="existsVAL" tabindex="-1" role="dialog" aria-labelledby="existsVAL" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-lg">
            <div class="modal-header modal-primary">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="existsPAN">Exists on Visitation List</h4>
            </div>
            <div class="modal-body">
                <p>The inmate <b>Cestarte Jay</b> exists on the following visitor's VAL list:</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            <a href="#">Last Name</a>
                        </th>
                        <th>
                            <a href="#">First Name</a>
                        </th>
                        <th>
                            <a href="#">Username</a>
                        </th>
                        <th>
                            <a href="#">Date of Birth</a>
                        </th>
                        <th>
                            <a href="#">Visitor Type</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="#/pages/manage/visitors/add">Goehring</a></td>
                        <td><a href="#/pages/manage/visitors/add">Earl</a></td>
                        <td>EarlVGoehring@teleworm.us</td>
                        <td>8-24-1969</td>
                        <td>Home User</td>
                    </tr>
                    <tr>
                        <td><a href="#/pages/manage/visitors/add">Inman</a></td>
                        <td><a href="#/pages/manage/visitors/add">Dania</a></td>
                        <td>DaniaJInman@jourrapide.com</td>
                        <td>1-27-1968</td>
                        <td>Clergy</td>
                    </tr>
                    <tr>
                        <td><a href="#/pages/manage/visitors/add">Macmillan</a></td>
                        <td><a href="#/pages/manage/visitors/add">Thelma</a></td>
                        <td>ThelmaRMacmillan@teleworm.us</td>
                        <td>11-9-1975</td>
                        <td>Home User</td>
                    </tr>
                    <tr>
                        <td><a href="#/pages/manage/visitors/add">Martinez</a></td>
                        <td><a href="#/pages/manage/visitors/add">Dan</a></td>
                        <td>DanLMartinez@dayrep.com</td>
                        <td>3-23-1950</td>
                        <td>Home User</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
