
<div class="design-container">
    <div class="design-leftnav">
        <div class="bff-include" data-src="app/shared/leftnav.html"></div>
    </div>
    <div class="design-content">
        <header class="design-page-header">
            <h1>Action Dropdowns</h1>
        </header>
        <section class="design-page-content">


            <h2>Action Dropdown </h2>
            <p>When adding an action that applies to the whole screen, or a section of the screen.</p>

            <p>Action Dropdowns always appear on the right side of the screen.</p>

            <div class="design-demo" style="height: 12rem">
                <div class="dropdown">
                    <a class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown">
                        Actions
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu"  style="display: block !important">
                        <li><a ng-click="getExcelTransactions()">Export to Excel</a></li>
                        <li>
                            <a ez-column-prefs="" href="javascript:void(0);"><div>
                                <div ng-click="openModal()">Edit Columns</div>
                            </div></a>
                        </li>

                        <li>
                            <a ng-click="checkTransactionsToDelete()">
                                Select Transactions to Remove
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <p>&nbsp;</p>

            <pre><code class="html">
&lt;div class="dropdown"&gt;
    &lt;a class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown"&gt;
        Actions
        &lt;i class="icon-caret-down"&gt;&lt;/i&gt;
    &lt;/a&gt;
    &lt;ul class="dropdown-menu" role="menu"&gt;
        &lt;li&gt;&lt;a ng-click="getExcelTransactions()"&gt;Export to Excel&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;
            &lt;a ez-column-prefs="" href="javascript:void(0);"&gt;&lt;div&gt;
                &lt;div ng-click="openModal()"&gt;Edit Columns&lt;/div&gt;
            &lt;/div&gt;&lt;/a&gt;
        &lt;/li&gt;

        &lt;li&gt;
            &lt;a ng-click="checkTransactionsToDelete()"&gt;
                Select Transactions to Remove
            &lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;              
            </code></pre>

            <p>&nbsp;</p>

            <h2>Action Dropdown in a Table Row</h2>
            <p>When adding an action that applies individually to each table row.</p>
            <p>Action dropdowns must appear on the right-most table column.</p>

            <div class="design-demo" style="margin-left: 2rem; height: 15rem;">

                <div class="btn-group">
                    <a class="btn dropdown-toggle btn-link btn-condensed" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="true">
                        Actions <i class="icon-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right" id="commercialMenu@(item.OpenAppID)" style="display: block;">
                        <li><a title="View/Edit" href="javascript:void(0)" onclick="">View/Edit</a></li>
                        <li><a title="Delete" href="javascript:void(0)" onclick="">Delete</a></li>
                        <li><a title="Copy" href="javascript:void(0)" onclick="">Copy</a></li>
                    </ul>
                </div>

            </div><!-- ./design-demo -->



            <pre><code class="html">
&lt;div class="btn-group"&gt;
    &lt;a class="btn dropdown-toggle btn-link btn-condensed" data-toggle="dropdown" href="#"&gt;
        Actions &lt;i class="icon-caret-down"&gt;&lt;/i&gt;
    &lt;/a&gt;
    &lt;ul class="dropdown-menu pull-right" id="commercialMenu@(item.OpenAppID)"&gt;
        &lt;li&gt;&lt;a title="View/Edit" href="javascript:void(0)" onclick=""&gt;View/Edit&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a title="Delete" href="javascript:void(0)" onclick=""&gt;Delete&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a title="Copy" href="javascript:void(0)" onclick=""&gt;Copy&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
            </code></pre>

            <p>&nbsp;</p>

            <h2>Action Dropdown Busy</h2>
            <p>This will be shown when an application is still processing.</p>

            <div class="btn-group open">
                <a class="btn dropdown-toggle btn-link btn-condensed" data-toggle="dropdown" href="#" onclick="loadForms('AUTOB', 227306, true);">
                    View <i class="icon-caret-down"></i>
                </a>
                <ul class="dropdown-menu" id="menu227306">
                    <ul>
                        <li>Application processing is still in progress. Please try again later.</li>
                    </ul>
                </ul>
            </div>

            <p>&nbsp;</p>

            <pre><code class="html">
&lt;div class="btn-group"&gt;
    &lt;a class="btn dropdown-toggle btn-link btn-condensed" data-toggle="dropdown" href="#"&gt;
        View &lt;i class="icon-caret-down"&gt;&lt;/i&gt;
    &lt;/a&gt;
    &lt;ul class="dropdown-menu" id=""&gt;
        &lt;ul&gt;
            &lt;li&gt;Application processing is still in progress. Please try again later.&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/ul&gt;
&lt;/div&gt;
            </code></pre>

            <p>&nbsp;</p>

            <h2>Default Action Dropdown</h2>
            <p>Description goes here ...</p>

            <div class="design-demo" style="margin-left: 0rem; height: 12rem;">
                <div class="dropdown open" ng-hide="noViewOptions"> 
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" title=""> 
                        Discussion View <b class="caret"></b> 
                    </button> 
                    <ul class="dropdown-menu" role="menu"> 
                        <li> 
                            <a tabindex="-1" href="#" ng-click="">Discussion View</a> 
                        </li> 
                        <li> 
                            <a tabindex="-1" href="#" ng-click="">Timeline View</a> 
                        </li> 
                    </ul> 
                </div>
            </div>

            <pre><code class="html">
&lt;div class="dropdown" ng-hide="noViewOptions"&gt; 
    &lt;button type="button" class="btn dropdown-toggle" data-toggle="dropdown" title=""&gt; 
        Discussion View &lt;b class="caret"&gt;&lt;/b&gt; 
    &lt;/button&gt; 
    &lt;ul class="dropdown-menu" role="menu"&gt; 
        &lt;li&gt; 
            &lt;a tabindex="-1" href="#" ng-click=""&gt;Discussion View&lt;/a&gt; 
        &lt;/li&gt; 
        &lt;li&gt; 
            &lt;a tabindex="-1" href="#" ng-click=""&gt;Timeline View&lt;/a&gt; 
        &lt;/li&gt; 
    &lt;/ul&gt; 
&lt;/div&gt;
            </code></pre>
        </section>
    </div>
</div>


<div class="bff-script" data-src="app/shared/activate-highlight.js"></div>