<div class="ez-main-content">
	<div class="bff-include" data-src="app/pages/commissions/components/header.html" data-page-view="wizard"></div>

	<div class="ez-page-body full-width">
		<div class="ez-page-content content-container">
			<div style="max-width: 1200px;">
				<header>
					<div class="bff-include" data-src="app/pages/commissions/components/steps.html" data-page-number="1"></div>
				</header>

				<main>
					<div class="bff-include" data-src="app/pages/commissions/components/alert.html"></div>

					<div class="alert alert-info js-add-condition-alert">
					    Click the Add Condition button to start adding conditions.
					</div>

					<div class="commissionCriteriaContainer my-4">
						<div class="condition-list-criteria">
							<div class="bff-include hide-content" data-src="app/pages/commissions/components/additional-criteria-inputs.html"></div>
	 					</div>

						<button class="btn btn-success button-lg mt-2 add-criteria">
							<i class="icon-plus icon-large align-middle mr-1"></i>
							Add Condition
						</button>
					</div>
				</main>

				<footer class="mt-4">
					<div class="clearfix">
						<div class="pull-left">
							<button class="btn btn-outline-primary mr-1 save-draft" data-toggle="modal" data-target="#save-draft-modal">Save Draft</button>
							<a href="#/app/pages/commissions/rules/index.html">
								<button class="btn btn-outline-primary">Cancel</button>
							</a>
						</div>

						<div class="pull-right">
							<a href="#/app/pages/commissions/rules/view/payees.html">
								<button class="btn btn-primary px4" onclick="saveConditions()">
									Add Payees <i class="fa fa-arrow-right" aria-hidden="true"></i>
								</button>
							</a>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</div>
</div>

<button class="btn btn-default" onclick="toggleDirectConflictAlert()" style="position: absolute; top: 180px; right: 55px;">Toggle Direct Conflict</button>
<button class="btn btn-default" onclick="toggleIndirectConflictAlert()" style="position: absolute; top: 225px; right: 55px;">Toggle Indirect Conflict</button>

<div class="bff-include" data-src="app/pages/commissions/components/modal.html"></div>
<div class="bff-include" data-src="app/pages/commissions/components/delete-criteria-confirmation-modal.html"></div>
<div class="bff-include" data-src="app/pages/commissions/components/assigned-to-tree-view-modal.html"></div>

<div class="bff-script" data-src="app/pages/commissions/javascript/main.js"></div>