<div class="ez-main-content">
	<div class="bff-include" data-src="app/pages/commissions/components/header.html" data-page-view="wizard"></div>

	<div class="ez-page-body full-width">
		<div class="ez-page-content content-container">
			<div style="max-width: 1200px;">
				<header>
					<div class="bff-include" data-src="app/pages/commissions/components/steps.html" data-page-number="2"></div>
				</header>

				<main class="mt-3">
					<div class="commissionCriteriaContainer mb-4">
						<div class="js-external-producers-message hide-content">
							<div class="alert alert-warning">
								<i class="icon-warning-sign icon-large" aria-hidden="true"></i> <b>IMPORTANT : </b>External producers reduce the total agency commission
							</div>
						</div>

						<div class="condition-list-external-payee"></div>

						<div class="js-internal-producers-message hide-content">
							<div class="alert alert-warning mt-4">
								<i class="icon-warning-sign icon-large" aria-hidden="true"></i> <b>IMPORTANT : </b>Internal producers are paid from the remaining agency commission.
							</div>
						</div>

						<div class="condition-list-payee">
							<div class="bff-include hide-content" data-src="app/pages/commissions/components/payees-inputs.html"></div>
						</div>

						<div class="row mb-2">
							<span class="col-md-1">Pay</span>

							<div class="col-md-2">
						        <input type="text" class="width-full" value="Agency" disabled>
							</div>

							<div class="col-md-3">
								<input type="text" class="width-full" value="Fox Valley" disabled>
							</div>

							<div class="col-md-2">
								<span class="js-agency-commission-input-total">
									<input type="text" style="width: 70px;" value="100" disabled=""> %
								</span>

								<span class="ml-4">of</span>
							</div>

							<div class="col-md-3">
								<input type="text" class="width-full" value="Agency Commission (%A)" disabled>
							</div>
						</div>						

						<button class="btn btn-success button-lg mt-2 add-payee">
							<i class="icon-plus icon-large align-middle mr-1"></i>
							Add Payees
						</button>
					</div>
				</main>

				<footer class="mt-4">
					<div class="clearfix">
						<div class="pull-left">
							<button class="btn btn-outline-primary mr-1 save-draft" data-toggle="modal" data-target="#save-draft-modal">Save Draft</button>
							<a href="#/app/pages/commissions/rules/index.html">
								<button class="btn btn-outline-primary">Cancel</button>
							</a>
						</div>

						<div class="pull-right">
							<a href="#/app/pages/commissions/rules/view/index.html">
								<button class="btn btn-outline-primary mr-1">
									<i class="icon-caret-left icon-large mr-1 align-middle"></i>Add Conditions
								</button>
							</a>

							<a href="#/app/pages/commissions/rules/view/preview.html">
								<button class="btn btn-primary px4" onclick="savePayees()">
									Preview Rule<i class="icon-caret-right icon-large ml-1 align-middle"></i>
								</button>
							</a>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</div>
</div>

<div class="bff-include" data-src="app/pages/commissions/components/modal.html"></div>
<div class="bff-include" data-src="app/pages/commissions/components/delete-criteria-confirmation-modal.html"></div>
<div class="bff-include" data-src="app/pages/commissions/components/assigned-to-tree-view-modal.html"></div>

<div class="bff-script" data-src="app/pages/commissions/javascript/main.js"></div>