<div class="ez-main-content">
	<div class="bff-include" data-src="app/pages/commissions/components/header.html" data-page-view="wizard"></div>

	<div class="ez-page-body full-width">
		<div class="ez-page-content content-container">
			<div style="max-width: 1200px;">
				<header>
					<div class="bff-include" data-src="app/pages/commissions/components/steps.html" data-page-number="3"></div>
				</header>

				<main class="mt-3">
					<div class="previewRulesContainer mb-3">
						<div class="criteriaReview mb-4">
							<div class="row">
								<div class="col-md-10 js-list-of-conditions"></div>

								<div class="col-md-2">
									<a class="special-link-1" href="#/app/pages/commissions/rules/view/index.html">CHANGE CONDITIONS</a>
								</div>
							</div>
						</div>

						<div class="payeeReview">
							<div class="row">
								<div class="col-md-10 js-list-of-payees"></div>

								<div class="col-md-2">
									<a class="special-link-1" href="#/app/pages/commissions/rules/view/payees.html">CHANGE PAYEES</a>
								</div>
							</div>
						</div>
					</div>
				</main>

				<footer class="mt-4">
					<div class="clearfix">
						<div class="pull-left">
							<button class="btn btn-outline-primary mr-1 save-draft" data-toggle="modal" data-target="#save-draft-modal">Save Draft</button>
							<a href="#/app/pages/commissions/rules/index.html">
								<button class="btn btn-outline-primary">Cancel</button>
							</a>
						</div>

						<div class="pull-right">
							<a href="#/app/pages/commissions/rules/view/payees.html">
								<button class="btn btn-outline-primary mr-1">
									<i class="icon-caret-left icon-large mr-1 align-middle"></i>Add Payees
								</button>
							</a>

							<a href="#/app/pages/commissions/rules/view/name.html">
								<button class="btn btn-primary">
									Name This Rule<i class="icon-caret-right icon-large ml-1 align-middle"></i>
								</button>
							</a>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</div>
</div>

<div class="bff-include" data-src="app/pages/commissions/components/modal.html"></div>

<div class="bff-include" data-src="app/pages/commissions/rules/templates/condition-template.html"></div>
<div class="bff-include" data-src="app/pages/commissions/rules/templates/payees-template.html"></div>

<div class="bff-script" data-src="app/pages/commissions/javascript/main.js"></div>
<div class="bff-script" data-src="app/pages/commissions/rules/view/index.js"></div>