<div class="design-container">
    <div class="design-leftnav">
        <div class="bff-include" data-src="app/shared/leftnav.html"></div>
    </div>
    <div class="design-content">
        <header class="design-page-header">
            <h1>Badges and Labels</h1>
        </header>
        <section class="design-page-content">

            <p>Use this for labeling or categorizations. Badge and label classes must have one parent with the bootstrapForms class. This should happen at the highest reasonable level in the DOM. <b>We should not see a div with this class per badge or label.</b></p>

            <div class="design-demo">
                <div class="bootstrapForms">
                	<h3>Badges</h3>
					<span class="badge">badge</span>
					<br>
					<span class="badge badge-success">badge badge-success</span>
					<br>
					<span class="badge badge-warning">badge badge-warning</span>
					<br>
					<span class="badge badge-important">badge badge-important</span>
					<br>
					<span class="badge badge-info">badge badge-info</span>
					<br>
					<span class="badge badge-inverse">badge badge-inverse</span>
					<h3>Labels</h3>
					<span class="label">label</span>
					<br>
					<span class="label label-success">label label-success</span>
					<br>
					<span class="label label-warning">label label-warning</span>
					<br>
					<span class="label label-important">label label-important</span>
					<br>
					<span class="label label-info">label label-info</span>
					<br>
					<span class="label label-inverse">label label-inverse</span>
				</div>
            </div>
			<p>&nbsp;</p>

            <small><em>(Labels will be exactly the same, just replace badge with label)</em></small>
            <pre><code class="html">
&lt;div class="bootstrapForms"&gt;
	&lt;span class="badge"&gt;badge&lt;/span&gt;
	&lt;br&gt;
	&lt;span class="badge badge-success"&gt;badge badge-success&lt;/span&gt;
	&lt;br&gt;
	&lt;span class="badge badge-warning"&gt;badge badge-warning&lt;/span&gt;
	&lt;br&gt;
	&lt;span class="badge badge-important"&gt;badge badge-important&lt;/span&gt;
	&lt;br&gt;
	&lt;span class="badge badge-info"&gt;badge badge-info&lt;/span&gt;
	&lt;br&gt;
	&lt;span class="badge badge-inverse"&gt;badge badge-inverse&lt;/span&gt;
&lt;/div&gt;
            </code></pre>

            <p>&nbsp;</p>

        </section>
    </div>
</div>


<div class="bff-script" data-src="app/shared/activate-highlight.js"></div>


