<div class="design-container">
    <div class="design-leftnav">
        <div class="bff-include" data-src="app/shared/leftnav.html"></div>
    </div>
    <div class="design-content">
        <header class="design-page-header">
            <h1>Popover</h1>
        </header>
        <section class="design-page-content">
            <h2>Popover</h2>

            <div style="position: relative; margin: 130px 0 0 48px;">
                <a href="#" onclick="togglePopover('popover')" onblur="togglePopover('popover', 'blur')">Click Me</a>
                <div id="popover" class="popover fade top in" style="top: -113px; left: -47px; display: block;"><div class="arrow"></div><h3 class="popover-title">Fred Stone</h3><div class="popover-content"><h5>Phone Numbers</h5><div><span class="blockLabel">Home: </span><span class="blockValue">(214) 555-1212</span></div></div></div>
            </div>

            <p>&nbsp;</p>

            <pre><code class="html">
&lt;div style="position: relative;"&gt;
    &lt;a href="#"&gt;CLick Me&lt;/a&gt;
    &lt;div id="popover" class="popover fade top in" style="top: -113px; left: -47px; display: block;"&gt; 
        &lt;div class="arrow"&gt;&lt;/div&gt;
        &lt;h3 class="popover-title"&gt;Fred Stone&lt;/h3&gt;
        &lt;div class="popover-content"&gt;
            &lt;h5&gt;Phone Numbers&lt;/h5&gt;
            &lt;div&gt;
                &lt;span class="blockLabel"&gt;Home: &lt;/span&gt;
                &lt;span class="blockValue"&gt;(214) 555-1212&lt;/span&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
            </code></pre>
        </section>
    </div>
</div>


<script>
    function togglePopover(id, event) {
        var popover = document.getElementById(id);

        if (popover.style.display === 'block' || event === 'blur') {
            popover.style.display = 'none';
        } else {
            popover.style.display = 'block';
        }
    }
</script>

<div class="bff-script" data-src="app/shared/activate-highlight.js"></div>
