<div class="design-container">
    <div class="design-leftnav">
        <div class="bff-include" data-src="app/shared/leftnav.html"></div>
    </div>
    <div class="design-content">
        <header class="design-page-header">
            <h1>Layout Without Sidebar</h1>
        </header>

        <section class="design-page-content">
            <p>Place your main page content in the div with class 'PageContent' which is located under the div with classes 'pane ui-layout-center'.</p>
            
            <pre><code class="html">
&lt;div runat="server" id="LayoutContainer"&gt;
    &lt;div id="RightPanel" class="bootstrapForms dontPrint"&gt;
        &lt;div id="workspaceHeader"&gt;
            &lt;button id="workspace-close" type="button" class="pull-right" title="Close Workspace" ng-click="workspace.closeWorkspace()"&gt;
                &lt;i class="icon-remove icon-large"&gt;&lt;/i&gt;
            &lt;/button&gt;
            &lt;button id="workspace-pin" type="button" class="pull-right" title="Pin Workspace" ng-click="workspace.pinWorkspace()" ng-show="hasPolicyManagement &amp;&amp; workspace.pinnable"&gt;
                &lt;i class="icon-pushpin icon-large"&gt;&lt;/i&gt;
            &lt;/button&gt;
            &lt;h4 id="workspaceTitle" ng-bind="workspace.current.title"&gt;&lt;/h4&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div notifications="bottom right" class="dr-notification-container bottom right"&gt;&lt;/div&gt;
    
    &lt;div class="pane ui-layout-center"&gt;
        &lt;div class="floatContain"&gt;
            &lt;div class="PageContent"&gt;
                &lt;!-- Content Goes Here --&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
            </code></pre>
        </section>
    </div>
</div>

<div class="bff-script" data-src="app/shared/activate-highlight.js"></div>
