<div class="alert alert-danger p-5 js-direct-conflict-alert hide-content">
	<div class="col-icon">
		<i class="icon-warning-sign icon-drag icon-large"></i>
	</div>
	<div class="col-icon-adjacent-content">
		<p>You already have a rule with these criteria.
			<strong><a href="javascript:void(0);">Edit existing rule</a></strong>
			or change the criteria.</p>

		<div class="bg-white p-5">
			<table class="table">
				<thead>
				<tr>
					<th></th>
					<th><strong>Rule Name</strong></th>
					<th><strong>Criteria</strong></th>
					<th><strong>Payees</strong></th>
				</tr>
				</thead>
				<tbody>
					<tr>
						<td><!--<i class="icon-reorder" style="color: #aaa; cursor: move"></i>--></td>
						<td><a href="javascript:void(0)"><strong>RNWL Commercial - All Amer Marine Slip</strong> </a></td>
						<td style="width: 40%;">
							If New/Renewal is Renewal and Transaction is Policy Change and LOB is Commercial Property and Master Company is
							ALL AMER MARINE SLIP and Commission Producer Code is 12345 and Policy Producer Code is 304</td>
						<td style="width: 30%;">Pay Commission Producer 100% of Agency Commission</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>

<div class="alert alert-danger p-5 alert-conflicting-rules js-indirect-conflict-alert hide-content">
	<div class="col-icon">
		<i class="icon-warning-sign icon-large"></i>
	</div>
	<div class="col-icon-adjacent-content">
		<p>You have more than one rule with the same criteria.</p>

		<p>To fix this:<br>
			- Reorder the rules by <strong>dragging the rows up or down.</strong><br>
			- Change the new rule so it doesn't conflict with the existing ones.<br>
		</p>


		<div class="bg-white p-5 clearfix">
			<table class="table">
				<thead>
				<tr>
					<th></th>
					<th><strong>Rule Name</strong></th>
					<th><strong>Criteria</strong></th>
					<th><strong>Payees</strong></th>
				</tr>
				</thead>
					<tbody id="conflicting-rules">
					<tr>
						<td><i class="icon-reorder" style="color: #aaa; cursor: move"></i></td>
						<td><a href="javascript:void(0)"><strong>RNWL Commercial - All Amer Marine Slip</strong> </a></td>
						<td style="width: 40%;">
							If New/Renewal is Renewal and Transaction is Policy Change and LOB is Commercial Property and Master Company is
							ALL AMER MARINE SLIP and Commission Producer Code is 12345 and Policy Producer Code is 304</td>
						<td style="width: 30%;">Pay Commission Producer 100% of Agency Commission</td>
					</tr>
					<tr>
						<td><i class="icon-reorder" style="color: #aaa;"></i></td>
						<td><a href="javascript:void(0)">RNWL Commercial - All Amer Marine Slip </a></td>
						<td style="width: 40%;">
							If New/Renewal is Renewal and Transaction is Policy Change and LOB is Commercial Property and Master Company is
							ALL AMER MARINE SLIP and Commission Producer Code is 12345 and Policy Producer Code is 304</td>
						<td style="width: 30%;">Pay Commission Producer 100% of Agency Commission</td>
					</tr>
					<tr>
						<td><i class="icon-reorder" style="color: #aaa;"></i></td>
						<td><a href="javascript:void(0)">RNWL Commercial - All Amer Marine Slip </a></td>
						<td style="width: 40%;">
							If New/Renewal is Renewal and Transaction is Policy Change and LOB is Commercial Property and Master Company is
							ALL AMER MARINE SLIP and Commission Producer Code is 12345 and Policy Producer Code is 304</td>
						<td style="width: 30%;">Pay Commission Producer 100% of Agency Commission</td>
					</tr>
					<tr>
						<td><i class="icon-reorder" style="color: #aaa;"></i></td>
						<td>
							<strong>THIS RULE</strong> <span class="label label-draft">Draft</span>

						</td>
						<td style="width: 40%;">
							If New/Renewal is Renewal and Transaction is New Business, or Policy Change and State is AZ, AL, KY, or TX
						</td>
						<td style="width: 30%;">--</td>
					</tr>
				</tbody>
			</table>
		</div>


		<div class="pull-right py-3">
			<button class="btn">Cancel</button> &nbsp;
			<button class="btn btn-primary">Save New Order</button>
		</div>
	</div>
</div>

<script>
	$('#conflicting-rules').sortable();

	$('.alert-conflicting-rules .btn').click(function() {
	    $('.alert-conflicting-rules').slideUp(500);
	})
</script>