<div class="row mb-2 criteria-row">
	<div class="col-md-12">
		<div class="row">
			<span class="col-md-1 js-condition-type">If</span>

			<div class="dropdown dropdown-wizard col-md-4">
			 	<div class="dropdown-toggle flex-space-between" id="testing" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    	New/Renewal
			  	</div>
			  	<ul class="dropdown-menu">
			  		<li class="disabled">CHOOSE ONE:</li>
				    <li>New/Renewal</li>
				    <li>Transaction</li>
				    <li>LOB</li>
				    <li>State</li>
				    <li>Billing Company</li>
				    <li>Master Company</li>
				    <li>Assigned To</li>
			  	</ul>
			</div>

			<div class="dropdown dropdown-wizard col-md-1">
			 	<div class="dropdown-toggle flex-space-between" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    	is
			  	</div>
			  	<ul class="dropdown-menu">
			  		<li class="disabled">CHOOSE ONE:</li>
				    <li>is</li>
			  	</ul>
			</div>

			<div class="dropdown dropdown-wizard col-md-4">
			 	<div class="dropdown-toggle flex-space-between" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    	New
			  	</div>
			  	<ul class="dropdown-menu">
			  		<li class="disabled">CHOOSE MULTIPLE:</li>
				    <li>
				    	<span class="fa fa-check-circle fa-lg text-success"></span> New
				    </li>
				    <li>
				    	<i class="icon-circle-blank align-middle"></i> Renewal
				    </li>
			  	</ul>
			</div>

			<div class="col-md-1">
				<a href="javascript:void(0);" class="button-trash">
					<i class="icon-trash icon-large red"></i>
				</a>
			</div>
		</div>
	</div>
</div>

<script>
	function changeConditionName() {
		var conditionName = $parent.data('condition'),
			$conditionContainer = $parent.find('.js-condition-type');
			
		$conditionContainer.text(conditionName);
	}

	function changeDropdownText() {
		var dropdownName1 = $parent.data('dropdown-name1'),
			dropdownName2 = $parent.data('dropdown-name2'),
			$dropdown = $parent.find('.dropdown-toggle');

		$dropdown.eq(0).text(dropdownName1);
		$dropdown.eq(2).text(dropdownName2);
	}

	var $criteriaRow = $('.criteria-row'),
		index = $criteriaRow.length - 1,
		$parent = $criteriaRow.eq(index).parent();

	changeConditionName();
	changeDropdownText();
</script>
