.cards {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}
.cards .card {
  display: flex;
  flex-direction: column;
  border-top: var(--border-width-1) solid var(--color-gray-lighter);
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: calc((100% / 3) - 2rem);
  margin: 1rem;
  word-break: break-word;
  font-size: 2rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.25;
}
.card-title {
  display: block;
  font-size: var(--section-title-font-size);
}
.card-subtitle {
  display: block;
  font-size: var(--section-subtitle-font-size);
}

@media only screen and (max-width: var(--responsive-mobile-width)) {
  .cards .card {
    width: 100%;
    margin: 0;
  }
}
