* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: white;
  font: 16px/36px 'Montserrat', sans-serif;
}

a {
  color: $color-black;
  text-decoration: none;
}
