.hero {
  width: 100%;
  max-width: $max-content-width;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}
.hero-media,
.hero-text {
  width: 50%;
  display: flex;
  justify-content: center;
}
.hero-media {
  align-items: stretch;
}
.hero-text {
  flex-direction: column;
  align-items: center;
}
.page-project .hero-text {
  text-align: center;
}
.hero-title,
.hero-desc {
  max-width: 600px;
}
.hero-desc {
  text-align: center;
}
.hero-inverse .hero-title,
.hero-inverse .hero-desc {
  color: $color-inverse;
}
.hero-title {
  font-size: 48px;
  margin-bottom: 16px;
}

// Hero image for project pages
.page-project .hero-title {
  text-transform: uppercase;
}
.hero-desc {
  font-size: 20px;
  color: $color-black;
}
.summary-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-black;
}
.summary-container a {
  font-weight: $font-weight-bold;
  color: $color-inverse;
  &:hover {
    text-decoration: underline;
  }
}
.summary {
  width: 100%;
  max-width: $max-content-width;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 24px;
  color: $color-inverse;
  text-align: center;
  font-size: 24px;
  line-height: 48px;
}

.project-ezlynx {
  background-image: linear-gradient(180deg, #50636D 2%, #182126 100%);
}
.project-yobi {
  background-image: linear-gradient(180deg, #BB59F0 0%, #852DDD 100%);
}
.project-cocoa {
  background-image: linear-gradient(180deg, #F9E9AB 0%, #F3C033 100%);
}
.project-securus {
  background-image: linear-gradient(180deg, #1D89D8 41%, #0E5D97 100%);
}
.project-onyx {
  background-image: linear-gradient(180deg, #FFCE6F 18%, #FFA802 100%);
}
.project-hacker-news {
  background-image: linear-gradient(0deg, #F66403 30%, #F3995D 93%);
}

@media only screen and (max-width: 800px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero-text {
    padding:  64px 0 0 0;
  }
  .hero-media {
    width: 90%;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .hero-media img {
    width: 100%;
    height: auto;
  }

}
