* {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
.page-header {
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid #eee;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}
.page-title {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 4rem;
  line-height: 1;
}
.page-subtitle {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 1rem;
}
.page-meta-tags {
  font-size: 1.25rem;
  line-height: 1.2;
  display: flex;
  flex-wrap: wrap;
}
.page-meta-tag {
  margin-right: 3rem;
}
.page-meta-tag:last-child {
  margin-right: 0;
}
.page-abstracts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 4rem;
  border-bottom: 1px solid #eee;
  margin-bottom: 5rem;
}
.page-abstract {
  min-width: 48%;
  flex-grow: 1;
}
.page-abstract-title {
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 1rem;
}
.page-abstract-desc {
  font-size: 2rem;
  line-height: 1.5;
}
.page-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3rem;

}
.page-details-title {
  width: 28.33333333%;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.page-details-desc {
  width: 69.08333333%;
  font-size: 1.25rem;
  line-height: 2;
}

@media only screen and (max-width: var(--responsive-mobile-width)) {
  .page-abstracts {
    flex-direction: column;
  }
  .page-abstract {
    width: 100%;
  }
  .page-details-title {
    width: 100%;
  }
  .page-details-desc {
    width: 100%;
  }
}
