.site-container {
  display: grid;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: var(--site-header-height) auto auto;
  grid-template-areas:
          "header"
          "body"
          "footer";
}
.site-header-content,
.site-body-content,
.site-footer-content {
  max-width: var(--site-width-max);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}

@media only screen and (max-width: var(--responsive-mobile-width)) {
  .site-container {
    grid-template-rows: auto auto auto;
  }
}
