:root {
  --site-width-max: 1200px;
  --site-width-min: 600px;
  --site-header-height: 144px;
  --footer-height: 496px;

  --color-gray-lightest: #F6F6F6;
  --color-gray-lighter: #DBDBDB;
  --color-black: #2A2A2A;
  --color-red: #EA2100;

  --font-family: "Roboto";
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  --section-title-font-size: 2.5rem;
  --section-subtitle-font-size: 1.75rem;

  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-3: 4px;
}
