
<div class="design-container">
    <div class="design-leftnav">
        <div class="bff-include" data-src="app/shared/leftnav.html"></div>
    </div>
    <div class="design-content">
        <header class="design-page-header">
            <h1>Search</h1>
        </header>
        <section class="design-page-content">

            <div class="design-demo clearfix">
                <div id="divSearchTerm">
                    <input type="text" name="CampaignSearchTerm" placeholder="Search" size="70" style="width:32rem">
                    <button type="button" class="btn" title="Search"><i class="icon-search icon-large"></i></button>
                    <button type="button" class="btn" title="Show/Hide Filters" data-toggle="collapse" data-target=".div-collapse"><i class="icon-filter icon-large"></i></button>
                    <button type="button" class="btn" title="Clear Search"><i class="icon-remove icon-large"></i></button>
                </div>
            </div><!-- ./design-demo -->

            <p>&nbsp;</p>

            <pre><code class="html">
&lt;div id="divSearchTerm"&gt;
    &lt;input type="text" name="CampaignSearchTerm" placeholder="Search" size="70"&gt;
    &lt;button type="button" class="btn" title="Search"&gt;&lt;i class="icon-search icon-large"&gt;&lt;/i&gt;&lt;/button&gt;
    &lt;button type="button" class="btn" title="Show/Hide Filters" data-toggle="collapse" data-target=".div-collapse"&gt;&lt;i class="icon-filter icon-large"&gt;&lt;/i&gt;&lt;/button&gt;
    &lt;button type="button" class="btn" title="Clear Search"&gt;&lt;i class="icon-remove icon-large"&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;
            </code></pre>


        </section>
    </div>
</div>


<div class="bff-script" data-src="app/shared/activate-highlight.js"></div>